<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
<link rel='preconnect dns-prefetch' href='https://triplewhale-pixel.web.app/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />
<script>
/* >> TriplePixel :: start*/
~function(W,H,A,L,E,_,B,N){function O(U,T,H,R){void 0===R&&(R=!1),H=new XMLHttpRequest,H.open("GET",U,!0),H.send(null),H.onreadystatechange=function(){4===H.readyState&&200===H.status?(R=H.responseText,U.includes(".txt")?eval(R):N[B]=R):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(U,T-1))}}if(N=window,!N[H+"sn"]){N[H+"sn"]=1;try{A.setItem(H,1+(0|A.getItem(H)||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push(location.href),A.setItem(H+"U",JSON.stringify(E))}catch(e){}A.getItem('"!nC`')||(A=N,A[H]||(L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)},E=A[H]=function(t,e){return W=L(),(E._q=E._q||[]).push([W,t,e]),W},E.ch=W,B="configSecurityConfModel",N[B]=1,O("//conf.config-security.com/model",0),O("//triplewhale-pixel.web.app/triplefw.txt?",5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>




  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  {{ content_for_header }}
  {% include 'social-meta-tags' %}
  {{ 'landing.min.css' | asset_url | stylesheet_tag }}
  {% include 'qikify-navigator' %}
  {% include 'qikify-smartmenu-data' %}
  <script type="text/javascript" src="https://sdk.qikify.com/tmenu/app-v5.js?token=KcXqcFk2J3yYuvxH6nTH2zNePeR2jxVy&shop=profashionhair.myshopify.com" defer="defer"></script>
  		{% comment %} Intelligems Script  {% endcomment %}
			<script>
			window.Shopify = window.Shopify || {theme: {id: {{ theme.id }}, role: '{{ theme.role }}' } };
			window._template = {
					directory: "{{ template.directory }}",
					name: "{{ template.name }}",
					suffix: "{{ template.suffix }}"
			}
		</script> 
		<script src="https://cdn.intelligems.io/e5166ddbef7f.js"></script>
		{% comment %} Intelligems Script - End {% endcomment %}
		<!-- styles endrock -->
		{{ 'endrock.css' | asset_url | stylesheet_tag }}
		<!-- end styles endrock -->
</head>

<body id="{{ page_title | handle }}"  class="template-{{ template.name | handle }}">


    {{ content_for_layout }}

    


    {{'landing.min.js' | asset_url | script_tag}}

		<script defer src="{{ 'endrock.js' | asset_url }}"></script>
</body>
</html>
