<section class="banner-sec">
        <div class="banner-cus-img">
          <div class="banner-cus-img-area">
            <div class="banner-cus-img-sli">
              <img class="lcp" src="{{'qure-microinfusion-offer-img1_250x.jpg' | asset_url }}" alt="icon">
            </div>
            <div class="banner-cus-img-sli">
              <img class="lcp" src="{{'qure-microinfusion-offer-img2_250x.jpg' | asset_url }}" alt="icon">
              {% comment %} <span class="aft-txt">BEFORE</span> {% endcomment %}
              {% comment %} <span class="bf-txt">AFTER 1 TREATMENT</span> {% endcomment %}
            </div>
            <div class="banner-cus-img-sli">
              <img class="lcp" src="{{'qure-microinfusion-offer-img3_250x.jpg' | asset_url }}" alt="icon">
            </div>
            <div class="banner-cus-img-sli">
              <img class="lcp" src="{{'qure-microinfusion-offer-img4_250x.jpg' | asset_url }}" alt="icon">
            </div>
            <div class="banner-cus-img-sli">
              <img class="lcp" src="{{'qure-microinfusion-offer-img5_250x.jpg' | asset_url }}" alt="icon">
            </div>
            <div class="banner-cus-img-sli">
              <img class="lcp" src="{{'qure-microinfusion-offer-img6_250x.jpg' | asset_url }}" alt="icon">
            </div>
          </div>
      </div>
        <div class="sec-cont-rev">
        <a href="#" class="rev-add" rel="noindex nofollow">
          <span>
            <svg width="100" height="22" viewBox="0 0 132 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M121.43 0.950854L123.83 7.93002L131.33 8.01529C131.975 8.02267 132.243 8.83029 131.725 9.20828L125.708 13.6063L127.943 20.638C128.135 21.2431 127.436 21.7416 126.909 21.3751L120.791 17.114L114.673 21.3743C114.147 21.7408 113.447 21.2414 113.639 20.6372L115.874 13.6055L109.857 9.20746C109.339 8.82947 109.606 8.02185 110.252 8.01447L117.752 7.9292L120.152 0.950034C120.359 0.349852 121.224 0.349852 121.43 0.950854Z" fill="#008763"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M94.0355 0.950854L96.4358 7.93002L103.936 8.01529C104.581 8.02267 104.848 8.83029 104.33 9.20828L98.3135 13.6063L100.548 20.638C100.74 21.2431 100.042 21.7416 99.5149 21.3751L93.3968 17.114L87.278 21.3743C86.752 21.7408 86.0524 21.2414 86.2444 20.6372L88.4794 13.6055L82.4624 9.20746C81.9447 8.82947 82.2119 8.02185 82.8573 8.01447L90.357 7.9292L92.7573 0.950034C92.9644 0.349852 93.8293 0.349852 94.0355 0.950854Z" fill="#008763"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M66.6351 0.950854L69.0354 7.93002L76.5352 8.01529C77.1805 8.02267 77.4477 8.83029 76.9301 9.20828L70.9131 13.6063L73.1481 20.638C73.3401 21.2431 72.6413 21.7416 72.1145 21.3751L65.9964 17.114L59.8776 21.3743C59.3516 21.7408 58.652 21.2414 58.844 20.6372L61.079 13.6055L55.062 9.20746C54.5443 8.82947 54.8115 8.02185 55.4569 8.01447L62.9566 7.9292L65.3569 0.950034C65.564 0.349852 66.4289 0.349852 66.6351 0.950854Z" fill="#008763"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M39.2406 0.950854L41.6409 7.93002L49.1407 8.01529C49.786 8.02267 50.0532 8.83029 49.5356 9.20828L43.5185 13.6063L45.7535 20.638C45.9456 21.2431 45.2468 21.7416 44.7199 21.3751L38.6019 17.114L32.4831 21.3743C31.9571 21.7408 31.2574 21.2414 31.4495 20.6372L33.6845 13.6055L27.6674 9.20746C27.1498 8.82947 27.417 8.02185 28.0623 8.01447L35.5621 7.9292L37.9624 0.950034C38.1694 0.349852 39.0344 0.349852 39.2406 0.950854Z" fill="#008763"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8461 0.950854L14.2464 7.93002L21.7461 8.01529C22.3915 8.02267 22.6587 8.83029 22.141 9.20828L16.124 13.6063L18.359 20.638C18.551 21.2431 17.8522 21.7416 17.3254 21.3751L11.2074 17.114L5.08852 21.3743C4.56255 21.7408 3.86291 21.2414 4.05494 20.6372L6.28992 13.6055L0.272914 9.20746C-0.244714 8.82947 0.0224489 8.02185 0.667814 8.01447L8.16757 7.9292L10.5679 0.950034C10.7749 0.349852 11.6399 0.349852 11.8461 0.950854Z" fill="#008763"/>
            </svg>
          </span>
          97% customer satisfaction rate</a>
      </div>
  {% if section.settings.heading !=blank %}
  <h2 class="mobile-title">{{ section.settings.heading }}</h2>
  {% endif  %}
     
  {{ section.settings.text }}
   {% if section.settings.button !=blank %}
      <a href="javascript:void(0)" class="slider-btn" rel="noindex nofollow">{{ section.settings.button }}<span class="btns__arrow">
        <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L8 8L1 15" stroke="white" stroke-width="2"></path>
        </svg>
        </span>
      </a>
    {% endif %}
  <div class="bullet-info">
    <ul class="bullet-detail">
      {% for i in (1..3) %}
        {% capture text %}text_{{ i }}{% endcapture %}
        {% assign custom_text = section.settings[text] %}
        {% if custom_text !=blank %}
          <li>{{ custom_text }}</li>
        {% endif %}  
      {% endfor %}
    </ul>
  </div>
  <div class="custom-shipping">
    <ul>
      {% for i in (1..2) %}
        {% capture icon_svg %}svg_{{ i }}{% endcapture %}
        {% capture icon_text %}icon_text_{{ i }}{% endcapture %}
        {% capture url %}icon_url_{{ i }}{% endcapture %}

        {% assign icon_svg_content = section.settings[icon_svg] %}
        {% assign text_content = section.settings[icon_text] %}
        {% assign link = section.settings[url] %}
      <li>
        <span class="ship-icon">
          {% if i == 1 %}
          <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g opacity="0.8">
          <circle opacity="0.9" cx="13" cy="13" r="12.5" stroke="black"/>
          <path d="M8.33434 12.6591C8.45055 13.2677 8.80694 13.572 9.40351 13.572C9.81413 13.572 10.1047 13.391 10.2751 13.0289C10.4456 12.6668 10.5308 12.0775 10.5308 11.2609C10.3603 11.4997 10.1279 11.6846 9.8335 11.8156C9.53909 11.9465 9.20982 12.012 8.84568 12.012C8.34983 12.012 7.90822 11.9119 7.52084 11.7116C7.13346 11.5036 6.82742 11.1993 6.60274 10.7987C6.38581 10.3904 6.27734 9.89733 6.27734 9.31956C6.27734 8.74948 6.39356 8.25259 6.62599 7.82889C6.86616 7.40519 7.20318 7.07778 7.63705 6.84667C8.07866 6.61556 8.59775 6.5 9.19432 6.5C10.341 6.5 11.1428 6.85437 11.6 7.56311C12.0571 8.27185 12.2856 9.3157 12.2856 10.6947C12.2856 11.6961 12.1926 12.5243 12.0067 13.1791C11.8285 13.8262 11.5225 14.3193 11.0886 14.6582C10.6625 14.9972 10.0775 15.1667 9.33378 15.1667C8.74496 15.1667 8.24136 15.0511 7.82299 14.82C7.41237 14.5889 7.09472 14.2846 6.87004 13.9071C6.6531 13.5296 6.52914 13.1136 6.49815 12.6591H8.33434ZM9.29891 10.452C9.62431 10.452 9.88386 10.3557 10.0775 10.1631C10.2712 9.96282 10.3681 9.69319 10.3681 9.35422C10.3681 8.98444 10.2674 8.69941 10.0659 8.49911C9.86449 8.29881 9.59332 8.19867 9.25243 8.19867C8.91153 8.19867 8.64037 8.30267 8.43893 8.51067C8.24524 8.71096 8.14839 8.9883 8.14839 9.34267C8.14839 9.67393 8.24524 9.94356 8.43893 10.1516C8.64037 10.3519 8.92703 10.452 9.29891 10.452Z" fill="black"/>
          <path d="M13.3459 10.7987C13.3459 9.47363 13.6016 8.42978 14.1129 7.66711C14.632 6.90444 15.4649 6.52311 16.6115 6.52311C17.7582 6.52311 18.5872 6.90444 19.0985 7.66711C19.6176 8.42978 19.8771 9.47363 19.8771 10.7987C19.8771 12.1391 19.6176 13.1907 19.0985 13.9533C18.5872 14.716 17.7582 15.0973 16.6115 15.0973C15.4649 15.0973 14.632 14.716 14.1129 13.9533C13.6016 13.1907 13.3459 12.1391 13.3459 10.7987ZM17.9247 10.7987C17.9247 10.0206 17.8395 9.42356 17.6691 9.00756C17.4986 8.58385 17.1461 8.372 16.6115 8.372C16.0769 8.372 15.7244 8.58385 15.554 9.00756C15.3835 9.42356 15.2983 10.0206 15.2983 10.7987C15.2983 11.3225 15.3293 11.7578 15.3913 12.1044C15.4532 12.4434 15.5772 12.7207 15.7631 12.9364C15.9568 13.1444 16.2396 13.2484 16.6115 13.2484C16.9834 13.2484 17.2623 13.1444 17.4483 12.9364C17.6419 12.7207 17.7698 12.4434 17.8318 12.1044C17.8937 11.7578 17.9247 11.3225 17.9247 10.7987Z" fill="black"/>
          <path d="M8.33434 12.6591C8.45055 13.2677 8.80694 13.572 9.40351 13.572C9.81413 13.572 10.1047 13.391 10.2751 13.0289C10.4456 12.6668 10.5308 12.0775 10.5308 11.2609C10.3603 11.4997 10.1279 11.6846 9.8335 11.8156C9.53909 11.9465 9.20982 12.012 8.84568 12.012C8.34983 12.012 7.90822 11.9119 7.52084 11.7116C7.13346 11.5036 6.82742 11.1993 6.60274 10.7987C6.38581 10.3904 6.27734 9.89733 6.27734 9.31956C6.27734 8.74948 6.39356 8.25259 6.62599 7.82889C6.86616 7.40519 7.20318 7.07778 7.63705 6.84667C8.07866 6.61556 8.59775 6.5 9.19432 6.5C10.341 6.5 11.1428 6.85437 11.6 7.56311C12.0571 8.27185 12.2856 9.3157 12.2856 10.6947C12.2856 11.6961 12.1926 12.5243 12.0067 13.1791C11.8285 13.8262 11.5225 14.3193 11.0886 14.6582C10.6625 14.9972 10.0775 15.1667 9.33378 15.1667C8.74496 15.1667 8.24136 15.0511 7.82299 14.82C7.41237 14.5889 7.09472 14.2846 6.87004 13.9071C6.6531 13.5296 6.52914 13.1136 6.49815 12.6591H8.33434ZM9.29891 10.452C9.62431 10.452 9.88386 10.3557 10.0775 10.1631C10.2712 9.96282 10.3681 9.69319 10.3681 9.35422C10.3681 8.98444 10.2674 8.69941 10.0659 8.49911C9.86449 8.29881 9.59332 8.19867 9.25243 8.19867C8.91153 8.19867 8.64037 8.30267 8.43893 8.51067C8.24524 8.71096 8.14839 8.9883 8.14839 9.34267C8.14839 9.67393 8.24524 9.94356 8.43893 10.1516C8.64037 10.3519 8.92703 10.452 9.29891 10.452Z" stroke="#F4ECDD" stroke-width="0.4"/>
          <path d="M13.3459 10.7987C13.3459 9.47363 13.6016 8.42978 14.1129 7.66711C14.632 6.90444 15.4649 6.52311 16.6115 6.52311C17.7582 6.52311 18.5872 6.90444 19.0985 7.66711C19.6176 8.42978 19.8771 9.47363 19.8771 10.7987C19.8771 12.1391 19.6176 13.1907 19.0985 13.9533C18.5872 14.716 17.7582 15.0973 16.6115 15.0973C15.4649 15.0973 14.632 14.716 14.1129 13.9533C13.6016 13.1907 13.3459 12.1391 13.3459 10.7987ZM17.9247 10.7987C17.9247 10.0206 17.8395 9.42356 17.6691 9.00756C17.4986 8.58385 17.1461 8.372 16.6115 8.372C16.0769 8.372 15.7244 8.58385 15.554 9.00756C15.3835 9.42356 15.2983 10.0206 15.2983 10.7987C15.2983 11.3225 15.3293 11.7578 15.3913 12.1044C15.4532 12.4434 15.5772 12.7207 15.7631 12.9364C15.9568 13.1444 16.2396 13.2484 16.6115 13.2484C16.9834 13.2484 17.2623 13.1444 17.4483 12.9364C17.6419 12.7207 17.7698 12.4434 17.8318 12.1044C17.8937 11.7578 17.9247 11.3225 17.9247 10.7987Z" stroke="#F4ECDD" stroke-width="0.4"/>
          <path d="M7.57455 16.2952C7.93954 16.2952 8.2585 16.3615 8.53143 16.4941C8.80435 16.6267 9.0148 16.8135 9.16277 17.0546C9.31402 17.2927 9.38965 17.5684 9.38965 17.8818C9.38965 18.1922 9.31402 18.4679 9.16277 18.709C9.0148 18.95 8.8027 19.1369 8.52649 19.2695C8.25357 19.4021 7.93626 19.4684 7.57455 19.4684H6.27734V16.2952H7.57455ZM7.52029 18.7994C7.83925 18.7994 8.08751 18.7195 8.26508 18.5598C8.44264 18.4001 8.53143 18.1741 8.53143 17.8818C8.53143 17.5895 8.44264 17.362 8.26508 17.1992C8.08751 17.0365 7.83925 16.9551 7.52029 16.9551H7.12077V18.7994H7.52029Z" fill="black"/>
          <path d="M12.2014 18.9079H10.9091L10.702 19.4684H9.81908L11.0719 16.2952H12.0485L13.3013 19.4684H12.4086L12.2014 18.9079ZM11.9844 18.3112L11.5553 17.1495L11.1311 18.3112H11.9844Z" fill="black"/>
          <path d="M16.8368 16.2952L15.6383 18.4197V19.4684H14.7948V18.4197L13.5963 16.2952H14.5532L15.224 17.6241L15.8898 16.2952H16.8368Z" fill="black"/>
          <path d="M18.6144 19.5C18.3613 19.5 18.1344 19.4623 17.9338 19.387C17.7332 19.3117 17.5721 19.2002 17.4504 19.0525C17.332 18.9048 17.2696 18.7271 17.263 18.5191H18.1607C18.1738 18.6366 18.2182 18.7271 18.2938 18.7903C18.3695 18.8506 18.4681 18.8807 18.5898 18.8807C18.7147 18.8807 18.8134 18.8551 18.8857 18.8039C18.9581 18.7497 18.9942 18.6758 18.9942 18.5824C18.9942 18.5041 18.9646 18.4393 18.9055 18.388C18.8496 18.3368 18.7789 18.2946 18.6934 18.2615C18.6112 18.2283 18.4928 18.1907 18.3382 18.1485C18.1146 18.0852 17.9321 18.0219 17.7907 17.9586C17.6494 17.8953 17.5277 17.8019 17.4258 17.6784C17.3238 17.5548 17.2729 17.3936 17.2729 17.1947C17.2729 16.8994 17.3896 16.6689 17.623 16.5031C17.8565 16.3344 18.1607 16.25 18.5355 16.25C18.917 16.25 19.2244 16.3344 19.4579 16.5031C19.6913 16.6689 19.8163 16.9009 19.8327 17.1992H18.9203C18.9137 17.0968 18.8726 17.0169 18.7969 16.9597C18.7213 16.8994 18.6243 16.8693 18.5059 16.8693C18.404 16.8693 18.3218 16.8949 18.2593 16.9461C18.1968 16.9943 18.1656 17.0651 18.1656 17.1586C18.1656 17.261 18.2182 17.3409 18.3234 17.3981C18.4287 17.4554 18.5931 17.5172 18.8167 17.5834C19.0403 17.6528 19.2211 17.7191 19.3592 17.7823C19.5006 17.8456 19.6223 17.9375 19.7242 18.0581C19.8262 18.1786 19.8771 18.3338 19.8771 18.5236C19.8771 18.7045 19.8262 18.8687 19.7242 19.0163C19.6256 19.164 19.4809 19.2815 19.2902 19.3689C19.0995 19.4563 18.8742 19.5 18.6144 19.5Z" fill="black"/>
          </g>
          </svg>
          {% endif  %}
          {% if i == 2 %}
          <svg width="43" height="35" viewBox="0 0 43 35" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g opacity="0.8">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M21.6055 6H24.273V24.139H17.0854C16.5519 22.005 14.9045 20.4045 11.9966 20.4045C9.08877 20.4045 7.44137 22.005 6.90787 24.139H6.134C6.134 24.139 6.134 24.139 6.134 23.6055C6.134 22.5385 5.067 20.938 4 20.4045V6L21.6055 6Z" stroke="black" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0015 22.8203C13.602 22.8203 14.669 23.8873 14.669 25.4878C14.669 27.0883 13.602 28.1553 12.0015 28.1553C10.401 28.1553 9.33398 27.0883 9.33398 25.4878C9.33398 23.8873 10.401 22.8203 12.0015 22.8203Z" stroke="black" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M33.3062 22.8203C34.9067 22.8203 35.9737 23.8873 35.9737 25.4878C35.9737 27.0883 34.9067 28.1553 33.3062 28.1553C31.7057 28.1553 30.6387 27.0883 30.6387 25.4878C30.6387 23.8873 31.7057 22.8203 33.3062 22.8203Z" stroke="black" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M27.7972 10.5498H34.1992L39.0007 16.4183V24.4208H38.1682C37.6347 22.2868 35.9873 20.6863 33.1322 20.6863C30.1715 20.6863 28.5241 22.2868 27.9906 24.4208H27.2637V10.5498H27.7972Z" stroke="black" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M38.9999 16.0967L27.7812 16.0967" stroke="black"/>
          <path d="M30.0254 10.4874L30.0254 16.0967" stroke="black"/>
          <path d="M19.9287 6H4.22266V18.3405H19.9287V6Z" stroke="black" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M12.3488 13.8502C12.0563 13.8274 11.7859 13.759 11.5209 13.6449C11.1953 13.4966 10.9028 13.297 10.6544 13.0461C10.406 12.7951 10.2073 12.4986 10.0528 12.1564C9.9093 11.8199 9.83203 11.4492 9.83203 11.0557C9.83203 10.6679 9.9093 10.2972 10.0583 9.95504C10.2073 9.61286 10.406 9.31631 10.6599 9.05967C10.9083 8.80304 11.2008 8.60343 11.5264 8.46086C11.8521 8.31828 12.1943 8.24414 12.553 8.24414C12.9118 8.24414 13.2595 8.31828 13.5851 8.46086C13.9163 8.60913 14.2088 8.80874 14.4572 9.05967C14.7111 9.31631 14.9098 9.61286 15.0588 9.95504C15.2078 10.2972 15.2851 10.6622 15.2851 11.0557C15.2851 11.4492 15.2078 11.8142 15.0588 12.1564C14.9098 12.4986 14.7055 12.7951 14.4572 13.0461C14.2033 13.297 13.9163 13.4966 13.5851 13.6449C13.2761 13.7761 12.9504 13.8502 12.6137 13.8559C12.6193 13.8559 12.4482 13.8616 12.3488 13.8502ZM12.553 13.7019C12.8345 13.7019 13.0774 13.6335 13.2761 13.5023C13.4803 13.3711 13.6458 13.183 13.7728 12.9491C13.9052 12.7153 13.9991 12.4359 14.0598 12.1108C14.1205 11.7914 14.1536 11.4378 14.1536 11.05C14.1536 10.6679 14.1205 10.3143 14.0598 9.98926C14.0046 9.66989 13.9108 9.38474 13.7783 9.15092C13.6458 8.9171 13.4803 8.7289 13.2816 8.59202C13.0774 8.45515 12.84 8.38672 12.5585 8.38672C12.2771 8.38672 12.0342 8.45515 11.8355 8.59202C11.6313 8.7289 11.4657 8.91139 11.3388 9.15092C11.2118 9.39045 11.118 9.66989 11.0518 9.99497C10.9911 10.32 10.958 10.6736 10.958 11.05C10.958 11.4264 10.9911 11.78 11.0518 12.1051C11.1125 12.4302 11.2063 12.7096 11.3388 12.9434C11.4657 13.1772 11.6313 13.3654 11.8355 13.4966C12.0342 13.6392 12.2771 13.7019 12.553 13.7019Z" fill="black"/>
          <path d="M12.3488 13.8502C12.0563 13.8274 11.7859 13.759 11.5209 13.6449C11.1953 13.4966 10.9028 13.297 10.6544 13.0461C10.406 12.7951 10.2073 12.4986 10.0528 12.1564C9.9093 11.8199 9.83203 11.4492 9.83203 11.0557C9.83203 10.6679 9.9093 10.2972 10.0583 9.95504C10.2073 9.61286 10.406 9.31631 10.6599 9.05967C10.9083 8.80304 11.2008 8.60343 11.5264 8.46086C11.8521 8.31828 12.1943 8.24414 12.553 8.24414C12.9118 8.24414 13.2595 8.31828 13.5851 8.46086C13.9163 8.60913 14.2088 8.80874 14.4572 9.05967C14.7111 9.31631 14.9098 9.61286 15.0588 9.95504C15.2078 10.2972 15.2851 10.6622 15.2851 11.0557C15.2851 11.4492 15.2078 11.8142 15.0588 12.1564C14.9098 12.4986 14.7055 12.7951 14.4572 13.0461C14.2033 13.297 13.9163 13.4966 13.5851 13.6449C13.2761 13.7761 12.9504 13.8502 12.6137 13.8559C12.6193 13.8559 12.4482 13.8616 12.3488 13.8502ZM12.553 13.7019C12.8345 13.7019 13.0774 13.6335 13.2761 13.5023C13.4803 13.3711 13.6458 13.183 13.7728 12.9491C13.9052 12.7153 13.9991 12.4359 14.0598 12.1108C14.1205 11.7914 14.1536 11.4378 14.1536 11.05C14.1536 10.6679 14.1205 10.3143 14.0598 9.98926C14.0046 9.66989 13.9108 9.38474 13.7783 9.15092C13.6458 8.9171 13.4803 8.7289 13.2816 8.59202C13.0774 8.45515 12.84 8.38672 12.5585 8.38672C12.2771 8.38672 12.0342 8.45515 11.8355 8.59202C11.6313 8.7289 11.4657 8.91139 11.3388 9.15092C11.2118 9.39045 11.118 9.66989 11.0518 9.99497C10.9911 10.32 10.958 10.6736 10.958 11.05C10.958 11.4264 10.9911 11.78 11.0518 12.1051C11.1125 12.4302 11.2063 12.7096 11.3388 12.9434C11.4657 13.1772 11.6313 13.3654 11.8355 13.4966C12.0342 13.6392 12.2771 13.7019 12.553 13.7019Z" stroke="black"/>
          <path d="M15.2842 14.4483C14.9144 14.4483 14.5722 14.4825 14.2631 14.5452C13.954 14.6079 13.6836 14.7106 13.4518 14.8418C13.2255 14.9786 13.0434 15.1497 12.9164 15.355C12.7895 15.5603 12.7232 15.8113 12.7232 16.0964H12.5742V16.0337C12.5853 15.6858 12.6515 15.3493 12.7784 15.03C12.9219 14.6935 13.1151 14.3912 13.358 14.1289C13.6008 13.8666 13.8878 13.6612 14.219 13.5073C14.5501 13.3533 14.9033 13.2734 15.2842 13.2734V14.4483Z" fill="black"/>
          <path d="M15.2842 14.4483C14.9144 14.4483 14.5722 14.4825 14.2631 14.5452C13.954 14.6079 13.6836 14.7106 13.4518 14.8418C13.2255 14.9786 13.0434 15.1497 12.9164 15.355C12.7895 15.5603 12.7232 15.8113 12.7232 16.0964H12.5742V16.0337C12.5853 15.6858 12.6515 15.3493 12.7784 15.03C12.9219 14.6935 13.1151 14.3912 13.358 14.1289C13.6008 13.8666 13.8878 13.6612 14.219 13.5073C14.5501 13.3533 14.9033 13.2734 15.2842 13.2734V14.4483Z" stroke="black"/>
          </g>
          </svg>
          {% endif  %} 
        </span>
        {% if text_content !=blank %}
        <span class="ship-text"><a href="{{ link | default:'javascript:void(0)' }}" class="link-mobile{{ forloop.index }}">{{ text_content }}</a></span>
        {% endif %}  
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="banner-payment">
    <ul>
      {% comment %}
      {% for i in (1..8) %}
        {% capture banner_svg %}icon_{{ i }}{% endcapture %}
        {% assign banner_payment = section.settings[banner_svg] %}
        {% if banner_payment != blank %}
          <li>
            {{ banner_payment }}
          </li>
        {% endif %}
      {% endfor %}
      {% endcomment %}
      <li><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Group_1510_bc6c8bc6-127c-4f3d-ac51-7b8c5bc6efd2.png?v=1680779843"></li>
    </ul>
  </div>
</section>
<style>
  @media (max-width:767px){
   .banner-cus-img-sli img {
    width: 260px;
    object-fit: cover;
    height: 250px;
   }
    .banner-cus-img .banner-cus-img-area {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
       width: auto;
      margin-bottom: 40px;
    }
    .banner-cus-img-area.slick-slider{
      width:100%;
    }
  .banner-cus-img .banner-cus-img-area .slick-list.draggable {
    margin-left: -57.5px !important;
    overflow: visible !important;
   }
  .banner-cus-img .banner-cus-img-area .banner-cus-img-sli {
    padding-right: 10px;
    position: relative;
    width:260px !important;
   }
   .banner-cus-img .banner-cus-img-area .banner-cus-img-sli:last-child {
      padding-right: 0;
    }
    .banner-cus-img .banner-cus-img-area .slick-prev {
      left: 35%;
      transform: rotate(180deg);
      top: auto;
      bottom: -35px;
    }
    .banner-cus-img .banner-cus-img-area .slick-next {
      right: 36%;
      top: auto;
      bottom: -43px;
    }
    .banner-cus-img .banner-cus-img-area .slick-arrow {
      width: 35px;
      height: auto;
    }
    .banner-cus-img .banner-cus-img-area .banner-cus-img-sli span {
      background: #FFFFFF;
      border-radius: 4px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 9px;
      line-height: 14px;
      text-align: center;
      color: rgb(0 0 0 / 80%);
      position: absolute;
      top: 5px;
      padding: 1px 5px;
    }
    .banner-cus-img .banner-cus-img-area .banner-cus-img-sli .aft-txt {
        left: 72px;
    }
    .banner-cus-img .banner-cus-img-area .banner-cus-img-sli span.bf-txt {
        right: 16px;
    }
  }
</style>
{% schema %}
{
  "name": "Banner Section Mobile",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading Label"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Content Label"
    },
    {
      "type": "textarea",
      "id": "text_1",
      "label": "Text Label"
    },
    {
      "type": "textarea",
      "id": "text_2",
      "label": "Text Label"
    },
    {
      "type": "textarea",
      "id": "text_3",
      "label": "Text Label"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type":"header",
      "content": "Custom Shipping"
    },
    {
      "type": "html",
      "id": "svg_1",
      "label": "Svg"
    },
    {
      "type": "text",
      "id": "icon_text_1",
      "label": "Icon Text"
    },
    {
      "type": "url",
      "id": "icon_url_1",
      "label": "Link"
    },
    {
      "type": "html",
      "id": "svg_2",
      "label": "Svg"
    },
    {
      "type": "text",
      "id": "icon_text_2",
      "label": "Icon Text"
    },
    {
      "type": "url",
      "id": "icon_url_2",
      "label": "Link"
    },
    {
      "type":"header",
      "content":"Banner Payment"
    },
    {
      "type": "html",
      "id": "icon_1",
      "label": "American Express"
    },
    {
      "type": "html",
      "id": "icon_2",
      "label": "Discover Svg"
    },
    {
      "type": "html",
      "id": "icon_3",
      "label": "Mastercard Svg"
    },
    {
      "type": "html",
      "id": "icon_4",
      "label": "Visa Svg"
    },
    {
      "type": "html",
      "id": "icon_5",
      "label": "klarna Svg"
    },
    {
      "type": "html",
      "id": "icon_6",
      "label": "Sezzle Svg"
    },
    {
      "type": "html",
      "id": "icon_7",
      "label": "Paypal Svg"
    },
    {
      "type": "html",
      "id": "icon_8",
      "label": "Shopify Secure Svg"
    },
    {
      "type": "image_picker",
      "id": "new_img",
      "label": "New Image"
    },
    {
      "type": "image_picker",
      "id": "new_img1",
      "label": "New Image"
    },
    {
      "type": "image_picker",
      "id": "new_img2",
      "label": "New Image"
    },
    {
      "type": "image_picker",
      "id": "new_img3",
      "label": "New Image"
    }
  ],
  "blocks":[
    {
      "type": "slide",
      "name": "slider",
      "settings":[
        {
          "type": "image_picker",
          "id": "for_bar",
          "label": "For Image"
        },
        {
          "type": "image_picker",
          "id": "nav_bar",
          "label": "Nav Bar Image"
        }
      ]
    }
  ],
  "presets":[
    {
      "name": "Banner Section Mobile"
    }
  ]
}
{% endschema %}