<div class="bf-page-width-full">
  <div class="bf-page-width" id="BFbundles">
    <div class="bf-bundles__title-wrapper">
      <div class="bf-bundles__offer-wrapper">
        <div class="bf-bundles__offer black">Don’t miss out!</div>
        <div class="bf-bundles__offer red">
          <span class="bf-desktop">SPECIAL HOLIDAY OFFER</span><span class="bf-mobile">HOLIDAY</span>
        </div>
        <div class="bf-bundles__offer black">Ends this month</div>
      </div>
      <div class="bf-bundles__title dekstop">
        <h3>{{ section.settings.title }}</h3>
      </div>
      <div class="bf-bundles__title mobile">
        <h3>{{ section.settings['title-mob'] }}</h3>
      </div>
    </div>
    <div class="bf-bundles__items-wrapper">
      <div class="bf-bundles__item new-5">
        <div class="bf-bundles__item-img">
          <img
            src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Frame_1661_3_79f91f13-1ec0-4d7e-a578-54a379e8729d.png?v=1669274761"
            class=""
						alt=""
          >
          <div class="bf-bundles__item-off">41% OFF</div>
          <div class="bf-bundles-popular">MOST POPULAR CHOICE</div>
        </div>

        <div class="bf-bundles__item-title">
          <span class="bundle__valued">Clinical Treatment Bundle:</span>
          <p>Q-Rejuvalight Pro LED Mask + Micro-Infusion 1 Month Supply Bundle (PRE-ORDER)</p>
        </div>
        <div class="bf-bundles__item-included-wrapper">
          <div class="bf-bundles__item-included">
            What is included
            <span>
              <svg
                class="included-arrow"
                width="15"
                height="8"
                viewBox="0 0 15 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path opacity="0.8" d="M1 1L7.38039 6.51343L10.5706 3.75672L13.7608 1" stroke="black" stroke-width="1.25" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </div>
          <div class="bf-bundles__item-dropdown">
            <p>1x Q-Rejuvalight Pro LED Mask (+ 1 Year Warranty)</p>
            <p>1x Luxury Storage & Universal USB-C Charging Cable</p>
            <p>1x Micro-Infusion System</p>
            <p>1x Disposable Needle Heads</p>
            <p>2x Hydra-Soothing (Beta Glucan) Serums</p>
            <p></p>
            <p>
              <em><strong>NOTE: Stock is expected to arrive Late August.</strong></em>
            </p>
          </div>
        </div>
        <div class="bf-bundles__item-price-wrapper">
          <div class="bf-bundles__item-before">$628</div>
          <div class="bf-bundles__item-after">$369</div>
          <div class="bf-bundles__item-save">You Save $259</div>
        </div>
        <div class="bundle-pay-text">
          <span>OR 4 monthly payments $92.25 with</span>
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/1280px-Klarna_Logo_black_3.png?v=1666473417" alt="">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/sezzle-logo-freelogovectors_1_926f2380-c033-47b6-83fb-64454b9ed497.png?v=1666473417" alt="">
          <img
            src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/afterpay-seeklogo.com.svg?v=1677232056"
            class="new-pay"
						alt=""
          >
        </div>
        <div
          class="bf-buy-button bundle-button_5"
          data-prod-id="{{ all_products['clinical-treatment-bundle-2-q-rejuvalight-pro-micro-infusion-1-month-supply-pre-order'].selected_or_first_available_variant.id }}"
        >
          <span>Reserve Now</span>
          <span class="buy-sold-wrapper">
            <span class="buy-sold">
              <span class="buy-sold__top">78%</span>
              <span class="buy-sold__bottom">pre-sold</span>
            </span>
          </span>
        </div>
      </div>
      <div class="bf-bundles__item">
        <div class="bf-bundles__item-img">
          <img src="{{ section.settings.bundle_img_1 | img_url: "master" }}" alt="">
          <div class="bf-bundles__item-off">{{ section.settings.bundle_off_1 }} OFF</div>
        </div>
        <div class="bf-bundles__item-title">
          {{ section.settings.bundle_title_1 }}
        </div>
        <div class="bf-bundles__item-included-wrapper">
          <div class="bf-bundles__item-included">
            What is included
            <span>
              <svg
                class="included-arrow"
                width="15"
                height="8"
                viewBox="0 0 15 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path opacity="0.8" d="M1 1L7.38039 6.51343L10.5706 3.75672L13.7608 1" stroke="black" stroke-width="1.25" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </div>
          <div class="bf-bundles__item-dropdown">{{ section.settings.bundle_info_1 }}</div>
        </div>
        <div class="bf-bundles__item-price-wrapper">
          <div class="bf-bundles__item-before">{{ section.settings.bundle_price_before_1 }}</div>
          <div class="bf-bundles__item-after">{{ section.settings.bundle_price_after_1 }}</div>
          <div class="bf-bundles__item-save">YOU SAVE {{ section.settings.bundle_save_1 }}</div>
        </div>
        <div class="bundle-pay-text">
          <span>OR 4 monthly payments $82.25 with</span>
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/1280px-Klarna_Logo_black_3.png?v=1666473417" alt="">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/sezzle-logo-freelogovectors_1_926f2380-c033-47b6-83fb-64454b9ed497.png?v=1666473417" alt="">
          <img
            src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/afterpay-seeklogo.com.svg?v=1677232056"
            class="new-pay"
						alt=""
          >
        </div>
        <div
          class="bf-buy-button bundle-button_1"
          data-prod-id="{{ all_products['q-rejuvalight-pro-facewear-serum'].selected_or_first_available_variant.id }}"
        >
          <span>SOLD OUT</span>
          <!--
            <span class="buy-sold-wrapper">
              <span class="buy-sold">
                <span class="buy-sold__top">68%</span>
                <span class="buy-sold__bottom">sold</span>
              </span>
            </span>
          -->
        </div>
      </div>
      <div class="bf-bundles__item new-6">
        <div class="bf-bundles__item-img">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Frame_1661_5.png?v=1669276060" class="" alt="">
          <div class="bf-bundles__item-off">45% OFF</div>
        </div>

        <div class="bf-bundles__item-title">
          <p>Q-Rejuvalight Pro LED Face Mask Duo Bundle (PRE-ORDER)</p>
        </div>
        <div class="bf-bundles__item-included-wrapper">
          <div class="bf-bundles__item-included">
            What is included
            <span>
              <svg
                class="included-arrow"
                width="15"
                height="8"
                viewBox="0 0 15 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path opacity="0.8" d="M1 1L7.38039 6.51343L10.5706 3.75672L13.7608 1" stroke="black" stroke-width="1.25" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </div>
          <div class="bf-bundles__item-dropdown">
            <p>2x Q-Rejuvalight Pro LED Mask (+ 1 Year Warranty)</p>
            <p>2x Luxury Storage & Universal USB-C Charging Cable (1 each inside each box)</p>
            <p>
              <em><strong>NOTE: Stock is expected to arrive Late August.</strong></em>
            </p>
          </div>
        </div>
        <div class="bf-bundles__item-price-wrapper">
          <div class="bf-bundles__item-before">$1,058.00</div>
          <div class="bf-bundles__item-after">$579</div>
          <div class="bf-bundles__item-save">You Save $479</div>
        </div>
        <div class="bundle-pay-text">
          <span>OR 4 monthly payments $144.75 with</span>
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/1280px-Klarna_Logo_black_3.png?v=1666473417" alt="">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/sezzle-logo-freelogovectors_1_926f2380-c033-47b6-83fb-64454b9ed497.png?v=1666473417" alt="">
          <img
            src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/afterpay-seeklogo.com.svg?v=1677232056"
            class="new-pay"
						alt=""
          >
        </div>
        <div
          class="bf-buy-button bundle-button_6"
          data-prod-id="{{ all_products['q-rejuvalight-pro-facewear-twin-bundle'].selected_or_first_available_variant.id }}"
        >
          <span>Reserve Now</span>
          <span class="buy-sold-wrapper">
            <span class="buy-sold">
              <span class="buy-sold__top">68%</span>
              <span class="buy-sold__bottom">sold</span>
            </span>
          </span>
        </div>
      </div>
      <div class="bf-bundles__item">
        <div class="bf-bundles__item-img">
          <img src="{{ section.settings.bundle_img_2 | img_url: "master" }}" alt="">
          <div class="bf-bundles__item-off">{{ section.settings.bundle_off_2 }} OFF</div>
        </div>
        <div class="bf-bundles__item-title">
          <span class="bundle__valued">4 Month Supply Bundle:</span>
          {{ section.settings.bundle_title_2 }}
        </div>
        <div class="bf-bundles__item-included-wrapper">
          <div class="bf-bundles__item-included">
            What is included
            <span>
              <svg
                class="included-arrow"
                width="15"
                height="8"
                viewBox="0 0 15 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path opacity="0.8" d="M1 1L7.38039 6.51343L10.5706 3.75672L13.7608 1" stroke="black" stroke-width="1.25" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </div>
          <div class="bf-bundles__item-dropdown">{{ section.settings.bundle_info_2 }}</div>
        </div>
        <div class="bf-bundles__item-price-wrapper">
          <div class="bf-bundles__item-before">{{ section.settings.bundle_price_before_2 }}</div>
          <div class="bf-bundles__item-after">{{ section.settings.bundle_price_after_2 }}</div>
          <div class="bf-bundles__item-save">YOU SAVE {{ section.settings.bundle_save_2 }}</div>
        </div>
        <div class="bundle-pay-text">
          <span>OR 4 monthly payments $44.75 with</span>
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/1280px-Klarna_Logo_black_3.png?v=1666473417" alt="">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/sezzle-logo-freelogovectors_1_926f2380-c033-47b6-83fb-64454b9ed497.png?v=1666473417" alt="">
          <img
            src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/afterpay-seeklogo.com.svg?v=1677232056"
            class="new-pay"
						alt=""
          >
        </div>
        <div
          class="bf-buy-button bundle-button_2"
          data-prod-id="{{ all_products["micro-infusion-4-month-supply-bundle"].selected_or_first_available_variant.id }}"
        >
          <span>Reserve Now</span>
          <span class="buy-sold-wrapper">
            <span class="buy-sold">
              <span class="buy-sold__top">80%</span>
              <span class="buy-sold__bottom">sold-out</span>
            </span>
          </span>
        </div>
      </div>

      <div class="bf-bundles__item">
        <div class="bf-bundles__item-img">
          <img src="{{ section.settings.bundle_img_3 | img_url: "master" }}" alt="">
          <div class="bf-bundles__item-off">{{ section.settings.bundle_off_3 }} OFF</div>
          <!-- <div class="bf-bundles-popular">MOST POPULAR CHOICE</div> -->
        </div>
        <div class="bf-bundles__item-title">
          <span class="bundle__valued">Clinical Treatment Bundle:</span>
          {{ section.settings.bundle_title_3 }}
        </div>
        <div class="bf-bundles__item-included-wrapper">
          <div class="bf-bundles__item-included">
            What is included
            <span>
              <svg
                class="included-arrow"
                width="15"
                height="8"
                viewBox="0 0 15 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path opacity="0.8" d="M1 1L7.38039 6.51343L10.5706 3.75672L13.7608 1" stroke="black" stroke-width="1.25" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </div>
          <div class="bf-bundles__item-dropdown">{{ section.settings.bundle_info_3 }}</div>
        </div>
        <div class="bf-bundles__item-price-wrapper">
          <div class="bf-bundles__item-before">{{ section.settings.bundle_price_before_3 }}</div>
          <div class="bf-bundles__item-after">{{ section.settings.bundle_price_after_3 }}</div>
          <div class="bf-bundles__item-save">YOU SAVE {{ section.settings.bundle_save_3 }}</div>
        </div>
        <div class="bundle-pay-text">
          <span>OR 4 monthly payments of $107.25 with</span>
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/1280px-Klarna_Logo_black_3.png?v=1666473417" alt="">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/sezzle-logo-freelogovectors_1_926f2380-c033-47b6-83fb-64454b9ed497.png?v=1666473417" alt="">
          <img
            src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/afterpay-seeklogo.com.svg?v=1677232056"
						alt=""
            class="new-pay"
          >
        </div>
        <div
          class="bf-buy-button bundle-button_3"
          data-prod-id="{{ all_products["clinical-treatment-bundle-led-mask-face-serum-micro-infusion-1-month-supply"].selected_or_first_available_variant.id }}"
        >
          <span>SOLD OUT</span>
        </div>
      </div>
      <div class="bf-bundles__item">
        <div class="bf-bundles__item-img">
          <img src="{{ section.settings.bundle_img_4 | img_url: "master" }}" alt="">
          <div class="bf-bundles__item-off">{{ section.settings.bundle_off_4 }} OFF</div>
        </div>
        <div class="bf-bundles__item-title">
          {{ section.settings.bundle_title_4 }}
        </div>
        <div class="bf-bundles__item-included-wrapper">
          <div class="bf-bundles__item-included">
            What is included
            <span>
              <svg
                class="included-arrow"
                width="15"
                height="8"
                viewBox="0 0 15 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path opacity="0.8" d="M1 1L7.38039 6.51343L10.5706 3.75672L13.7608 1" stroke="black" stroke-width="1.25" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </div>
          <div class="bf-bundles__item-dropdown">{{ section.settings.bundle_info_4 }}</div>
        </div>
        <div class="bf-bundles__item-price-wrapper">
          <div class="bf-bundles__item-before">{{ section.settings.bundle_price_before_4 }}</div>
          <div class="bf-bundles__item-after">{{ section.settings.bundle_price_after_4 }}</div>
          <div class="bf-bundles__item-save">YOU SAVE {{ section.settings.bundle_save_4 }}</div>
        </div>
        <div class="bundle-pay-text">
          <span>OR 4 monthly payments $27.25 with</span>
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/1280px-Klarna_Logo_black_3.png?v=1666473417" alt="">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/sezzle-logo-freelogovectors_1_926f2380-c033-47b6-83fb-64454b9ed497.png?v=1666473417" alt="">
          <img
            src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/afterpay-seeklogo.com.svg?v=1677232056"
            class="new-pay"
						alt=""
          >
        </div>
        <div
          class="bf-buy-button bundle-button_4"
          data-prod-id="{{ all_products["all-in-one-face-serum-bundle"].selected_or_first_available_variant.id }}"
        >
          <span>Buy Now</span>
          {% comment %}
            <span class="buy-sold-wrapper">
              <span class="buy-sold">
                <span class="buy-sold__top">83%</span>
                <span class="buy-sold__bottom">sold</span>
              </span>
            </span>
          {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Black friday budles",
  "class": "bf-bundles-section black-friday-section",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "title-mob",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Bundle 1"
    },
    {
      "type": "richtext",
      "id": "bundle_title_1",
      "label": "Title 1"
    },
    {
      "type": "text",
      "id": "bundle_price_before_1",
      "label": "Price before 1"
    },
    {
      "type": "text",
      "id": "bundle_price_after_1",
      "label": "Price after 1"
    },
    {
      "type": "text",
      "id": "bundle_save_1",
      "label": "Save 1"
    },
    {
      "type": "text",
      "id": "bundle_off_1",
      "label": "Off 1"
    },
    {
      "type": "image_picker",
      "id": "bundle_img_1",
      "label": "Image 1"
    },
    {
      "type": "richtext",
      "id": "bundle_info_1",
      "label": "Bundle info 1"
    },
    {
      "type": "header",
      "content": "Bundle 2"
    },
    {
      "type": "richtext",
      "id": "bundle_title_2",
      "label": "Title 2"
    },
    {
      "type": "text",
      "id": "bundle_price_before_2",
      "label": "Price before 2"
    },
    {
      "type": "text",
      "id": "bundle_price_after_2",
      "label": "Price after 2"
    },
    {
      "type": "text",
      "id": "bundle_save_2",
      "label": "Save 2"
    },
    {
      "type": "text",
      "id": "bundle_off_2",
      "label": "Off 2"
    },
    {
      "type": "image_picker",
      "id": "bundle_img_2",
      "label": "Image 2"
    },
    {
      "type": "richtext",
      "id": "bundle_info_2",
      "label": "Bundle info 3"
    },
    {
      "type": "header",
      "content": "Bundle 3"
    },
    {
      "type": "richtext",
      "id": "bundle_title_3",
      "label": "Title 3"
    },
    {
      "type": "text",
      "id": "bundle_price_before_3",
      "label": "Price before 3"
    },
    {
      "type": "text",
      "id": "bundle_price_after_3",
      "label": "Price after 3"
    },
    {
      "type": "text",
      "id": "bundle_save_3",
      "label": "Save 3"
    },
    {
      "type": "text",
      "id": "bundle_off_3",
      "label": "Off 3"
    },
    {
      "type": "image_picker",
      "id": "bundle_img_3",
      "label": "Image 3"
    },
    {
      "type": "richtext",
      "id": "bundle_info_3",
      "label": "Bundle info 3"
    },
    {
      "type": "header",
      "content": "Bundle 4"
    },
    {
      "type": "richtext",
      "id": "bundle_title_4",
      "label": "Title 4"
    },
    {
      "type": "text",
      "id": "bundle_price_before_4",
      "label": "Price before 4"
    },
    {
      "type": "text",
      "id": "bundle_price_after_4",
      "label": "Price after 4"
    },
    {
      "type": "text",
      "id": "bundle_save_4",
      "label": "Save 4"
    },
    {
      "type": "text",
      "id": "bundle_off_4",
      "label": "Off 4"
    },
    {
      "type": "image_picker",
      "id": "bundle_img_4",
      "label": "Image 4"
    },
    {
      "type": "richtext",
      "id": "bundle_info_4",
      "label": "Bundle info 4"
    }
  ]
}
{% endschema %}
