<div class="bf-page-width-full bf-banner">
  <div class="bf-banner__img-wrapper">
		<picture>
			<source media="(min-width: 1100px)" srcset="{{ section.settings.banner_img | img_url:'master' }}">
			<source media="(min-width: 300px)" srcset="{{ 'bf-banner-mobile-bg.png' | asset_url }}">
			<img class="lcp" src="{{ 'bf-banner-mobile-bg.png' | asset_url }}" alt="{{ image.alt | escape }}">
		</picture>
    </div>
  </div>
  <div class="bf-banner__content-wrapper">
		<img class="lcp bf-desktop" src="{{ 'bf-banner.png' | asset_url }}" id="bf-desktop-button"  />
		<img class="lcp bf-mobile" src="{{ 'bf-banner-mobile.png' | asset_url }}" id="bf-mobile-button" style="padding-top:30px" />
  </div>
</div>
<div class="bf-page-width-full">
  <div class="br-banner-icons-wrapper">
    <div class="br-banner-icons__item">
      <div class="br-banner-icons__item-img">
        <svg width="39" height="26" viewBox="0 0 39 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.6116 1H22.4315V20.1755H14.8332C14.2692 17.9196 12.5276 16.2276 9.4536 16.2276C6.37957 16.2276 4.63802 17.9196 4.07404 20.1755H3.25595C3.25595 20.1755 3.25595 20.1755 3.25595 19.6116C3.25595 18.4836 2.12797 16.7916 1 16.2276V1L19.6116 1Z" stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.46056 18.7817C11.1525 18.7817 12.2805 19.9097 12.2805 21.6017C12.2805 23.2936 11.1525 24.4216 9.46056 24.4216C7.7686 24.4216 6.64062 23.2936 6.64062 21.6017C6.64062 19.9097 7.7686 18.7817 9.46056 18.7817Z" stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M31.982 18.7817C33.674 18.7817 34.802 19.9097 34.802 21.6017C34.802 23.2936 33.674 24.4216 31.982 24.4216C30.2901 24.4216 29.1621 23.2936 29.1621 21.6017C29.1621 19.9097 30.2901 18.7817 31.982 18.7817Z" stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M26.1558 5.81006H32.9236L37.9995 12.0139V20.4737H37.1194C36.5555 18.2178 34.8139 16.5258 31.7957 16.5258C28.6658 16.5258 26.9243 18.2178 26.3603 20.4737H25.5918V5.81006H26.1558Z" stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M38.0003 11.6738L26.1406 11.6738" stroke="black" stroke-width="1.5"/>
          <path d="M28.5117 5.74397L28.5117 11.6738" stroke="black" stroke-width="1.5"/>
          <path d="M17.838 1H1.23438V14.0457H17.838V1Z" stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10.1057 9.35454L10.1068 9.35449C10.4692 9.34819 10.8193 9.2683 11.1512 9.12747L11.1512 9.12748L11.1521 9.12708C11.5078 8.9678 11.8161 8.75331 12.0887 8.48397L12.089 8.48358C12.3559 8.21398 12.5753 7.89534 12.7353 7.52786C12.8956 7.15976 12.9787 6.76711 12.9787 6.34432C12.9787 5.92153 12.8956 5.52888 12.7353 5.16078C12.5754 4.79364 12.362 4.47492 12.0891 4.19904L12.089 4.19903C11.8219 3.92914 11.5075 3.71468 11.1521 3.55553L11.1517 3.55537C10.8012 3.40191 10.4268 3.32207 10.0405 3.32207C9.65419 3.32207 9.28563 3.40196 8.93525 3.55537C8.58538 3.70855 8.27075 3.92316 8.00352 4.19924C7.73069 4.47507 7.51729 4.79373 7.35744 5.16078C7.19711 5.52893 7.11406 5.92762 7.11406 6.34432C7.11406 6.76694 7.19707 7.1655 7.35146 7.52751L7.35145 7.52752L7.35188 7.52848C7.51745 7.89509 7.73074 8.21367 7.99789 8.48358C8.26499 8.75344 8.57933 8.96784 8.92875 9.12695L8.92874 9.12696L8.9297 9.12737C9.2144 9.24995 9.50538 9.32364 9.81988 9.34826C9.87534 9.35455 9.94877 9.35602 10.0063 9.35602C10.0355 9.35602 10.0612 9.35564 10.0793 9.35526L10.1002 9.35473L10.1057 9.35454ZM10.7779 8.88865L10.7773 8.88899C10.5766 9.02148 10.3298 9.09173 10.0405 9.09173C9.75638 9.09173 9.51066 9.0272 9.31119 8.88407L9.31123 8.88402L9.30906 8.88262C9.10135 8.74921 8.93171 8.55704 8.80087 8.31603L8.80087 8.31603L8.80043 8.31524C8.66379 8.07406 8.56613 7.78421 8.50267 7.44446C8.43909 7.104 8.40433 6.73329 8.40433 6.33829C8.40433 5.94345 8.43906 5.57288 8.5026 5.23253C8.5719 4.89252 8.66971 4.602 8.8011 4.35408C8.93159 4.10787 9.10112 3.92128 9.30988 3.78137L9.30988 3.78137L9.31041 3.78101C9.51071 3.64303 9.7571 3.57279 10.0464 3.57279C10.3352 3.57279 10.576 3.6428 10.7826 3.78119C10.9854 3.92097 11.1555 4.11382 11.2923 4.35531C11.4289 4.59634 11.5265 4.892 11.5841 5.22543L11.5841 5.22543L11.5843 5.22609C11.6478 5.56653 11.6826 5.93724 11.6826 6.33829C11.6826 6.74543 11.6478 7.11607 11.5843 7.45033L11.5843 7.45049C11.5208 7.79024 11.4231 8.08009 11.2865 8.32127L11.2861 8.32206C11.1552 8.56307 10.9856 8.75523 10.7779 8.88865L10.7779 8.88865Z" fill="black" stroke="black" stroke-width="0.1" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M12.9293 9.98141C12.9569 9.98141 12.9793 9.95902 12.9793 9.93141V8.68945C12.9793 8.66184 12.9569 8.63945 12.9293 8.63945C12.5194 8.63945 12.1388 8.72545 11.7821 8.8913C11.4265 9.05667 11.1177 9.27746 10.8563 9.55982C10.5955 9.84157 10.3882 10.166 10.2343 10.5267L10.2343 10.5267L10.2339 10.5279C10.0974 10.8713 10.0263 11.2327 10.0145 11.6059L10.0145 11.6059V11.6074V11.6074V11.6075V11.6075V11.6075V11.6075V11.6075V11.6075V11.6075V11.6075V11.6075V11.6075V11.6075V11.6075V11.6075V11.6075V11.6075V11.6075V11.6076V11.6076V11.6076V11.6076V11.6076V11.6076V11.6076V11.6076V11.6077V11.6077V11.6077V11.6077V11.6077V11.6077V11.6078V11.6078V11.6078V11.6078V11.6078V11.6079V11.6079V11.6079V11.6079V11.608V11.608V11.608V11.608V11.6081V11.6081V11.6081V11.6081V11.6082V11.6082V11.6082V11.6082V11.6083V11.6083V11.6083V11.6084V11.6084V11.6084V11.6085V11.6085V11.6085V11.6086V11.6086V11.6086V11.6087V11.6087V11.6087V11.6088V11.6088V11.6089V11.6089V11.6089V11.609V11.609V11.6091V11.6091V11.6091V11.6092V11.6092V11.6093V11.6093V11.6094V11.6094V11.6095V11.6095V11.6096V11.6096V11.6096V11.6097V11.6097V11.6098V11.6098V11.6099V11.61V11.61V11.6101V11.6101V11.6102V11.6102V11.6103V11.6103V11.6104V11.6104V11.6105V11.6106V11.6106V11.6107V11.6107V11.6108V11.6108V11.6109V11.611V11.611V11.6111V11.6112V11.6112V11.6113V11.6113V11.6114V11.6115V11.6115V11.6116V11.6117V11.6117V11.6118V11.6119V11.6119V11.612V11.6121V11.6122V11.6122V11.6123V11.6124V11.6124V11.6125V11.6126V11.6127V11.6127V11.6128V11.6129V11.613V11.613V11.6131V11.6132V11.6133V11.6133V11.6134V11.6135V11.6136V11.6137V11.6137V11.6138V11.6139V11.614V11.6141V11.6142V11.6142V11.6143V11.6144V11.6145V11.6146V11.6147V11.6148V11.6148V11.6149V11.615V11.6151V11.6152V11.6153V11.6154V11.6155V11.6156V11.6157V11.6158V11.6158V11.6159V11.616V11.6161V11.6162V11.6163V11.6164V11.6165V11.6166V11.6167V11.6168V11.6169V11.617V11.6171V11.6172V11.6173V11.6174V11.6175V11.6176V11.6177V11.6178V11.6179V11.618V11.6181V11.6182V11.6183V11.6184V11.6186V11.6187V11.6188V11.6189V11.619V11.6191V11.6192V11.6193V11.6194V11.6195V11.6196V11.6198V11.6199V11.62V11.6201V11.6202V11.6203V11.6204V11.6206V11.6207V11.6208V11.6209V11.621V11.6211V11.6213V11.6214V11.6215V11.6216V11.6217V11.6219V11.622V11.6221V11.6222V11.6224V11.6225V11.6226V11.6227V11.6228V11.623V11.6231V11.6232V11.6234V11.6235V11.6236V11.6237V11.6239V11.624V11.6241V11.6243V11.6244V11.6245V11.6246V11.6248V11.6249V11.625V11.6252V11.6253V11.6254V11.6256V11.6257V11.6259V11.626V11.6261V11.6263V11.6264V11.6265V11.6267V11.6268V11.627V11.6271V11.6272V11.6274V11.6275V11.6277V11.6278V11.628V11.6281V11.6282V11.6284V11.6285V11.6287V11.6288V11.629V11.6291V11.6293V11.6294V11.6296V11.6297V11.6299V11.63V11.6302V11.6303V11.6305V11.6306V11.6308V11.6309V11.6311V11.6312V11.6314V11.6315V11.6317V11.6318V11.632V11.6322V11.6323V11.6325V11.6326V11.6328V11.6329V11.6331V11.6333V11.6334V11.6336V11.6337V11.6339V11.6341V11.6342V11.6344V11.6346V11.6347V11.6349V11.6351V11.6352V11.6354V11.6356V11.6357V11.6359V11.6361V11.6362V11.6364V11.6366V11.6367V11.6369V11.6371V11.6372V11.6374V11.6376V11.6378V11.6379V11.6381V11.6383V11.6385V11.6386V11.6388V11.639V11.6392V11.6393V11.6395V11.6397V11.6399V11.64V11.6402V11.6404V11.6406V11.6408V11.6409V11.6411V11.6413V11.6415V11.6417V11.6418V11.642V11.6422V11.6424V11.6426V11.6428V11.643V11.6431V11.6433V11.6435V11.6437V11.6439V11.6441V11.6443V11.6445V11.6446V11.6448V11.645V11.6452V11.6454V11.6456V11.6458V11.646V11.6462V11.6464V11.6466V11.6468V11.647V11.6471V11.6473V11.6475V11.6477V11.6479V11.6481V11.6483V11.6485V11.6487V11.6489V11.6491V11.6493V11.6495V11.6497V11.6499V11.6501V11.6503V11.6505V11.6507V11.6509V11.6512V11.6514V11.6516V11.6518V11.652V11.6522V11.6524V11.6526V11.6528V11.653V11.6532V11.6534V11.6536V11.6538V11.6541V11.6543V11.6545V11.6547V11.6549V11.6551V11.6553V11.6555V11.6558V11.656V11.6562V11.6564V11.6566V11.6568V11.6571V11.6573V11.6575V11.6577V11.6579V11.6581V11.6584V11.6586V11.6588V11.659V11.6592V11.6595V11.6597V11.6599V11.6601V11.6604V11.6606V11.6608V11.661V11.6612V11.6615V11.6617V11.6619V11.6621V11.6624V11.6626V11.6628V11.6631V11.6633V11.6635V11.6637V11.664V11.6642V11.6644V11.6647V11.6649V11.6651V11.6654V11.6656V11.6658V11.6661V11.6663V11.6665V11.6668V11.667V11.6672V11.6675V11.6677V11.6679V11.6682V11.6684V11.6687V11.6689V11.6691V11.6694V11.6696V11.6699V11.6701V11.6703V11.6706V11.6708V11.6711V11.6713V11.6716V11.6718V11.672V11.6723V11.6725V11.6728V11.673V11.6733V11.6735V11.6738C10.0145 11.7014 10.0368 11.7238 10.0645 11.7238H10.222C10.2496 11.7238 10.272 11.7014 10.272 11.6738C10.272 11.3801 10.3402 11.1242 10.4687 10.9163C10.598 10.7072 10.7841 10.5318 11.0174 10.3906C11.2575 10.2548 11.5382 10.1482 11.8598 10.0829C12.183 10.0173 12.5414 9.98141 12.9293 9.98141Z" fill="black" stroke="black" stroke-width="0.1" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <div class="br-banner-icons__item-text">
        Free Shipping<br>
        Orders Over $100
      </div>
    </div>
    <div class="br-banner-icons__item">
      <div class="br-banner-icons__item-img">
        <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22.6975 16.9858C22.6975 21.7625 18.8373 25.5117 14.0745 25.5117C9.29775 25.5117 5.4375 21.6514 5.4375 16.8886C5.4375 12.7645 11.6861 4.64131 14.0745 0.919922L20.2675 10.6677" stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M24.7527 16.9301H19.0179L24.5166 8.8208L30.0293 16.9301H27.3077M27.266 16.8884C27.266 24.1646 21.3646 30.0799 14.0745 30.0799M14.0745 30.0799C6.78449 30.0799 0.869141 24.1646 0.869141 16.8884" stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M1.28516 14.5142L1.5351 13.8755" stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M2.27148 12.0426L2.52143 11.4038" stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M12.0055 19.0685C12.2832 19.2906 12.8664 19.6794 13.7134 19.7627V20.3876C13.7134 20.5681 13.8106 20.6653 14.0189 20.6653H14.1022C14.3105 20.6653 14.4077 20.5542 14.4077 20.3459V19.7627C15.5741 19.6239 16.2684 18.8046 16.2684 17.8187C16.2684 15.6109 12.8664 15.9025 12.8664 14.5139C12.8664 13.9724 13.3802 13.5003 14.1161 13.5003C14.6854 13.5003 15.1298 13.7363 15.3658 13.9029C15.5602 14.014 15.713 14.0001 15.8241 13.8057L15.949 13.5697C16.0462 13.3892 16.0324 13.2364 15.8657 13.1253C15.6019 12.9448 15.1159 12.6671 14.4077 12.6254V11.9867C14.4077 11.8062 14.3105 11.709 14.1022 11.709H14.0189C13.8106 11.709 13.7134 11.8201 13.7134 12.0284V12.6254C12.6164 12.7921 11.8944 13.5836 11.8944 14.5417C11.8944 16.6384 15.2964 16.4163 15.2964 17.8604C15.2964 18.513 14.7271 18.8741 14.0883 18.8741C13.3941 18.8741 12.8525 18.5408 12.5748 18.3325C12.3943 18.2214 12.2415 18.2214 12.1166 18.388L11.9638 18.6241C11.825 18.7769 11.8388 18.9435 12.0055 19.0685Z" fill="black" stroke="black" stroke-width="0.5"/>
        </svg>
      </div>
      <div class="br-banner-icons__item-text">
        Buy Now,<br>
        Pay Later
      </div>
    </div>
    <div class="br-banner-icons__item">
      <div class="br-banner-icons__item-img">
        <svg width="29" height="31" viewBox="0 0 29 31" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g opacity="0.8">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2888 1.5V29.5C14.2888 29.5 2.61558 26.2958 1.20117 6.09245C1.20117 6.09245 11.6521 3.67399 14.2888 1.50873V1.5Z" stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2891 1.5V29.5C14.2891 29.5 25.9623 26.2958 27.3767 6.09245C27.3767 6.09245 16.9258 3.67399 14.2891 1.50873V1.5Z" stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M14.2893 22.3252C18.6592 22.3252 22.2017 18.7827 22.2017 14.4129C22.2017 10.043 18.6592 6.50049 14.2893 6.50049C9.91944 6.50049 6.37695 10.043 6.37695 14.4129C6.37695 18.7827 9.91944 22.3252 14.2893 22.3252Z" fill="#FFFAF1" stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7642 19.2134C13.2218 19.4473 13.7405 19.5795 14.2897 19.5795C14.8389 19.5795 15.3575 19.4473 15.8152 19.2134C16.9237 18.6541 17.6763 17.5048 17.6763 16.1929C17.6763 16.1115 17.6763 16.0403 17.6662 15.959C17.6662 15.959 17.6662 15.9488 17.6662 15.9386H17.6763C17.6865 15.7251 17.6357 14.1182 14.2897 9.25684C10.9539 14.1182 10.8928 15.7251 10.903 15.9386H10.9132C10.9132 15.959 10.9132 15.959 10.9132 15.959C10.903 16.0403 10.903 16.1115 10.903 16.1929C10.903 17.515 11.6556 18.6642 12.7642 19.2134Z" stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
        </svg>
      </div>
      <div class="br-banner-icons__item-text">
        Dermatologist Reviewed <br>
        & Approved
      </div>
    </div>
    <div class="br-banner-icons__item">
      <div class="br-banner-icons__item-img">
        <svg width="34" height="31" viewBox="0 0 34 31" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22.9537 15.4219C22.9537 19.4777 22.1693 23.1129 20.9344 25.706C19.673 28.3551 18.0768 29.6719 16.5608 29.6719C15.0448 29.6719 13.4487 28.3551 12.1872 25.706C10.9524 23.1129 10.168 19.4777 10.168 15.4219C10.168 11.366 10.9524 7.73088 12.1872 5.13772C13.4487 2.48864 15.0448 1.17188 16.5608 1.17188C18.0768 1.17188 19.673 2.48864 20.9344 5.13772C22.1693 7.73088 22.9537 11.366 22.9537 15.4219Z" stroke="black" stroke-width="1.5"/>
          <path d="M13.3648 20.9581C9.85233 18.9302 7.09641 16.4333 5.46809 14.0673C3.80465 11.6503 3.46237 9.60963 4.22038 8.29673C4.97838 6.98384 6.9168 6.25992 9.84171 6.49199C12.7049 6.71917 16.2452 7.85742 19.7577 9.88536C23.2701 11.9133 26.0261 14.4102 27.6544 16.7761C29.3178 19.1932 29.6601 21.2338 28.9021 22.5467C28.1441 23.8596 26.2057 24.5836 23.2808 24.3515C20.4176 24.1243 16.8773 22.986 13.3648 20.9581Z" stroke="black" stroke-width="1.5"/>
          <path d="M13.3651 9.88564C16.8776 7.85771 20.4179 6.71945 23.2811 6.49228C26.206 6.2602 28.1444 6.98412 28.9024 8.29702C29.6604 9.60991 29.3181 11.6506 27.6547 14.0676C26.0264 16.4336 23.2704 18.9305 19.758 20.9584C16.2455 22.9863 12.7052 24.1246 9.842 24.3518C6.91709 24.5838 4.97867 23.8599 4.22067 22.547C3.46267 21.2341 3.80494 19.1934 5.46839 16.7764C7.09671 14.4104 9.85262 11.9136 13.3651 9.88564Z" stroke="black" stroke-width="1.5"/>
        </svg>
      </div>
      <div class="br-banner-icons__item-text">
        Proven Results,<br>
        Backed by science
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Black friday banner",
  "class": "bf-banner-section black-friday-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_img",
      "label":"Banner image "
    },
    {
      "type": "image_picker",
      "id": "banner_img_mob",
      "label":"Banner image mobile"
    },
    {
      "type": "textarea",
      "id": "banner_heading",
      "label":"Banner heading"
    },
    {
      "type": "richtext",
      "id": "banner_subheading",
      "label":"Banner subheading"
    },
    {
      "type": "richtext",
      "id": "banner_text",
      "label":"Banner text "
    },
    {
      "type": "text",
      "id": "banner_btn_text",
      "label":"Button button text"
    },
    {
      "type": "header",
      "content": "Mobile texts"
    },
    {
      "type": "text",
      "id": "banner_subheading_mob",
      "label":"Button text mobile"
    },
    {
      "type": "text",
      "id": "banner_text_mob",
      "label":"Button text mobile"
    }
  ]
}
{% endschema %}
