<div class="bf-page-width">
  <div class="bf-fb-wrapper">
    <div class="bf-fb__title">
      <h3>{{ section.settings.title }}</h3>
    </div>
    <div class="bf-fb__reviews-wrapper">
      {% for block in section.blocks %}
      <div class="bf-fb__review">
        <div class="bf-fb__review-img">
          <img src="{{ block.settings.img | img_url: "master" }}" alt="">
          <div class="bf-fb__review-mob-img bf-mobile">
            <div class="bf-fb__review-name">
              <img src="{{ block.settings.img_aut |img_url: "master" }}"><span>{{ block.settings.name }}</span>
              <div class="mobile-verify">
              <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 7.5C15 6.40912 14.3801 5.457 13.4752 4.97625C13.7224 4.03463 13.4816 2.98763 12.7466 2.253C12.198 1.704 11.475 1.431 10.7512 1.431C10.5064 1.431 10.2615 1.46212 10.0234 1.52475C9.543 0.619875 8.59087 0 7.5 0C6.40912 0 5.457 0.619875 4.97625 1.52475C4.73775 1.46212 4.49325 1.431 4.24837 1.431C3.52463 1.431 2.802 1.70438 2.253 2.253C1.51838 2.98763 1.27725 4.03425 1.52437 4.97625C0.619875 5.457 0 6.40912 0 7.5C0 8.59087 0.619875 9.543 1.52475 10.0238C1.27762 10.9654 1.51837 12.0124 2.25338 12.747C2.802 13.2956 3.525 13.569 4.24875 13.569C4.49363 13.569 4.7385 13.5379 4.97662 13.4752C5.457 14.3801 6.40912 15 7.5 15C8.59087 15 9.543 14.3801 10.0238 13.4752C10.2622 13.5379 10.5068 13.569 10.7516 13.569C11.4754 13.569 12.198 13.2956 12.747 12.747C13.4816 12.0124 13.7228 10.9657 13.4756 10.0238C14.3801 9.543 15 8.59087 15 7.5Z" fill="#6EBDA4"/>
                <path d="M6.74998 10.8099L3.96973 8.02925L5.03023 6.96875L6.74998 8.68812L10.3447 5.09375L11.4052 6.15425L6.74998 10.8099Z" fill="white"/>
              </svg>
               <span>Verified Customer</span>
              </div>
              <div class="bf-fb__review-stars">
                <svg width="91" height="15" viewBox="0 0 91 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M82.5015 0.322039L84.216 5.30716L89.573 5.36806C90.034 5.37334 90.2248 5.95021 89.8551 6.2202L85.5572 9.36166L87.1536 14.3843C87.2908 14.8165 86.7916 15.1726 86.4153 14.9108L82.0453 11.8671L77.6747 14.9102C77.299 15.172 76.7993 14.8153 76.9364 14.3837L78.5328 9.36108L74.235 6.21961C73.8652 5.94962 74.0561 5.37275 74.517 5.36748L79.874 5.30657L81.5885 0.321453C81.7364 -0.107249 82.3542 -0.107249 82.5015 0.322039Z" fill="#008763"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M63.9913 0.322039L65.7058 5.30716L71.0627 5.36806C71.5237 5.37334 71.7145 5.95021 71.3448 6.2202L67.0469 9.36166L68.6434 14.3843C68.7805 14.8165 68.2814 15.1726 67.9051 14.9108L63.5351 11.8671L59.1644 14.9102C58.7887 15.172 58.289 14.8153 58.4262 14.3837L60.0226 9.36108L55.7247 6.21961C55.355 5.94962 55.5458 5.37275 56.0068 5.36748L61.3638 5.30657L63.0783 0.321453C63.2262 -0.107249 63.844 -0.107249 63.9913 0.322039Z" fill="#008763"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M45.4815 0.322039L47.196 5.30716L52.553 5.36806C53.0139 5.37334 53.2048 5.95021 52.835 6.2202L48.5372 9.36166L50.1336 14.3843C50.2708 14.8165 49.7716 15.1726 49.3953 14.9108L45.0253 11.8671L40.6547 14.9102C40.279 15.172 39.7792 14.8153 39.9164 14.3837L41.5128 9.36108L37.215 6.21961C36.8452 5.94962 37.0361 5.37275 37.497 5.36748L42.854 5.30657L44.5685 0.321453C44.7164 -0.107249 45.3342 -0.107249 45.4815 0.322039Z" fill="#008763"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M26.9712 0.322039L28.6857 5.30716L34.0427 5.36806C34.5037 5.37334 34.6945 5.95021 34.3248 6.2202L30.0269 9.36166L31.6233 14.3843C31.7605 14.8165 31.2614 15.1726 30.8851 14.9108L26.515 11.8671L22.1444 14.9102C21.7687 15.172 21.269 14.8153 21.4061 14.3837L23.0026 9.36108L18.7047 6.21961C18.335 5.94962 18.5258 5.37275 18.9868 5.36748L24.3437 5.30657L26.0582 0.321453C26.2061 -0.107249 26.8239 -0.107249 26.9712 0.322039Z" fill="#008763"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.46148 0.322039L10.176 5.30716L15.5329 5.36806C15.9939 5.37334 16.1848 5.95021 15.815 6.2202L11.5172 9.36166L13.1136 14.3843C13.2507 14.8165 12.7516 15.1726 12.3753 14.9108L8.00528 11.8671L3.63466 14.9102C3.25896 15.172 2.75922 14.8153 2.89638 14.3837L4.4928 9.36108L0.194939 6.21961C-0.174796 5.94962 0.0160349 5.37275 0.47701 5.36748L5.83398 5.30657L7.54848 0.321453C7.69637 -0.107249 8.31418 -0.107249 8.46148 0.322039Z" fill="#008763"/>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="bf-fb__review-content">
          <div class="bf-fb__review-stars bf-desktop">
            <svg width="91" height="15" viewBox="0 0 91 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M82.5015 0.322039L84.216 5.30716L89.573 5.36806C90.034 5.37334 90.2248 5.95021 89.8551 6.2202L85.5572 9.36166L87.1536 14.3843C87.2908 14.8165 86.7916 15.1726 86.4153 14.9108L82.0453 11.8671L77.6747 14.9102C77.299 15.172 76.7993 14.8153 76.9364 14.3837L78.5328 9.36108L74.235 6.21961C73.8652 5.94962 74.0561 5.37275 74.517 5.36748L79.874 5.30657L81.5885 0.321453C81.7364 -0.107249 82.3542 -0.107249 82.5015 0.322039Z" fill="#008763"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M63.9913 0.322039L65.7058 5.30716L71.0627 5.36806C71.5237 5.37334 71.7145 5.95021 71.3448 6.2202L67.0469 9.36166L68.6434 14.3843C68.7805 14.8165 68.2814 15.1726 67.9051 14.9108L63.5351 11.8671L59.1644 14.9102C58.7887 15.172 58.289 14.8153 58.4262 14.3837L60.0226 9.36108L55.7247 6.21961C55.355 5.94962 55.5458 5.37275 56.0068 5.36748L61.3638 5.30657L63.0783 0.321453C63.2262 -0.107249 63.844 -0.107249 63.9913 0.322039Z" fill="#008763"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M45.4815 0.322039L47.196 5.30716L52.553 5.36806C53.0139 5.37334 53.2048 5.95021 52.835 6.2202L48.5372 9.36166L50.1336 14.3843C50.2708 14.8165 49.7716 15.1726 49.3953 14.9108L45.0253 11.8671L40.6547 14.9102C40.279 15.172 39.7792 14.8153 39.9164 14.3837L41.5128 9.36108L37.215 6.21961C36.8452 5.94962 37.0361 5.37275 37.497 5.36748L42.854 5.30657L44.5685 0.321453C44.7164 -0.107249 45.3342 -0.107249 45.4815 0.322039Z" fill="#008763"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M26.9712 0.322039L28.6857 5.30716L34.0427 5.36806C34.5037 5.37334 34.6945 5.95021 34.3248 6.2202L30.0269 9.36166L31.6233 14.3843C31.7605 14.8165 31.2614 15.1726 30.8851 14.9108L26.515 11.8671L22.1444 14.9102C21.7687 15.172 21.269 14.8153 21.4061 14.3837L23.0026 9.36108L18.7047 6.21961C18.335 5.94962 18.5258 5.37275 18.9868 5.36748L24.3437 5.30657L26.0582 0.321453C26.2061 -0.107249 26.8239 -0.107249 26.9712 0.322039Z" fill="#008763"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.46148 0.322039L10.176 5.30716L15.5329 5.36806C15.9939 5.37334 16.1848 5.95021 15.815 6.2202L11.5172 9.36166L13.1136 14.3843C13.2507 14.8165 12.7516 15.1726 12.3753 14.9108L8.00528 11.8671L3.63466 14.9102C3.25896 15.172 2.75922 14.8153 2.89638 14.3837L4.4928 9.36108L0.194939 6.21961C-0.174796 5.94962 0.0160349 5.37275 0.47701 5.36748L5.83398 5.30657L7.54848 0.321453C7.69637 -0.107249 8.31418 -0.107249 8.46148 0.322039Z" fill="#008763"/>
            </svg>
          </div>
          <div class="bf-fb__review-text">
            {{ block.settings.text }}
          </div>
          <div class="bf-fb__review-name-wrapper bf-desktop">
            <div class="bf-fb__review-name">
              <img src="{{ block.settings.img_aut |img_url: "master" }}"><span>{{ block.settings.name }}</span>
            </div>
            <div class="bf-fb__review-verified">
              <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 7.5C15 6.40912 14.3801 5.457 13.4752 4.97625C13.7224 4.03463 13.4816 2.98763 12.7466 2.253C12.198 1.704 11.475 1.431 10.7512 1.431C10.5064 1.431 10.2615 1.46212 10.0234 1.52475C9.543 0.619875 8.59087 0 7.5 0C6.40912 0 5.457 0.619875 4.97625 1.52475C4.73775 1.46212 4.49325 1.431 4.24837 1.431C3.52463 1.431 2.802 1.70438 2.253 2.253C1.51838 2.98763 1.27725 4.03425 1.52437 4.97625C0.619875 5.457 0 6.40912 0 7.5C0 8.59087 0.619875 9.543 1.52475 10.0238C1.27762 10.9654 1.51837 12.0124 2.25338 12.747C2.802 13.2956 3.525 13.569 4.24875 13.569C4.49363 13.569 4.7385 13.5379 4.97662 13.4752C5.457 14.3801 6.40912 15 7.5 15C8.59087 15 9.543 14.3801 10.0238 13.4752C10.2622 13.5379 10.5068 13.569 10.7516 13.569C11.4754 13.569 12.198 13.2956 12.747 12.747C13.4816 12.0124 13.7228 10.9657 13.4756 10.0238C14.3801 9.543 15 8.59087 15 7.5Z" fill="#6EBDA4"/>
                <path d="M6.74998 10.8099L3.96973 8.02925L5.03023 6.96875L6.74998 8.68812L10.3447 5.09375L11.4052 6.15425L6.74998 10.8099Z" fill="white"/>
              </svg>
              <span>Verified Customer</span>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Black friday feel better",
    "class": "bf-fb-section black-friday-section",
    "settings": [
      {
        "type":"html",
        "id":"title",
        "label":"Title"
      }
    ],
    "blocks": [
      {
        "name": "Review",
        "type": "Review",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label":"Text"
          },
          {
            "type": "text",
            "id": "name",
            "label":"Name"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label":"Image"
          },
          {
            "type": "image_picker",
            "id": "img_aut",
            "label":"Author image"
          }
        ]
      }
    ]
  }
{% endschema %}
