{% assign page_collection = collection.handle %}
{% for block in section.blocks %}
  {% assign selected_collection = block.settings.collection %}

  {% if selected_collection == page_collection %}
    {% assign hero_image_desktop = block.settings.collection_image_desktop %}
    {% assign hero_image_tab = block.settings.collection_image_tab %}
    {% assign hero_image_mobile = block.settings.collection_image_mobile %}
  {% endif %}
{% endfor %}

{% if hero_image_desktop != blank %}
  <div class="collection__hero">
    <div class="collection__hero-image collection__hero-image_desktop">
      {%
        include 'responsive-image' with
        image: hero_image_desktop,
        max_width: 2500,
        max_height: 1000,
        image_class: 'collection__hero-img'
      %}
    </div>
    <div class="collection__hero-image collection__hero-image_tab">
      {%
        include 'responsive-image' with
        image: hero_image_tab,
        max_width: 2500,
        max_height: 1000,
        image_class: 'collection__hero-img'
      %}
    </div>
    <div class="collection__hero-image collection__hero-image_mobile">
      {%
        include 'responsive-image' with
        image: hero_image_mobile,
        max_width: 2500,
        max_height: 1000,
        image_class: 'collection__hero-img'
      %}
    </div>
  </div>
{% else %}
  <!-- <div class="collection__top"></div> -->
  <div class="collectio-banner">
    <img
      src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_2023_04_19T13_40_41_255Z.png?v=1681911695"
      alt="Banner-Image"
    >
    <h1>Shop our <b>best sellers</b> & <b>top rated</b> products</h1>
  </div>
  <div class="bf-page-width-full collection-icon">
    <div class="br-banner-icons-wrapper">
      <div class="br-banner-icons__item">
        <div class="br-banner-icons__item-img">
          <svg width="39" height="26" viewBox="0 0 39 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.6116 1H22.4315V20.1755H14.8332C14.2692 17.9196 12.5276 16.2276 9.4536 16.2276C6.37957 16.2276 4.63802 17.9196 4.07404 20.1755H3.25595C3.25595 20.1755 3.25595 20.1755 3.25595 19.6116C3.25595 18.4836 2.12797 16.7916 1 16.2276V1L19.6116 1Z" stroke="#000000" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.45958 18.7817C11.1515 18.7817 12.2795 19.9097 12.2795 21.6017C12.2795 23.2936 11.1515 24.4216 9.45958 24.4216C7.76762 24.4216 6.63965 23.2936 6.63965 21.6017C6.63965 19.9097 7.76762 18.7817 9.45958 18.7817Z" stroke="#000000" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M31.982 18.7817C33.674 18.7817 34.802 19.9097 34.802 21.6017C34.802 23.2936 33.674 24.4216 31.982 24.4216C30.2901 24.4216 29.1621 23.2936 29.1621 21.6017C29.1621 19.9097 30.2901 18.7817 31.982 18.7817Z" stroke="#000000" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.1563 5.81006H32.9241L38 12.0139V20.4737H37.1199C36.5559 18.2178 34.8144 16.5258 31.7961 16.5258C28.6663 16.5258 26.9248 18.2178 26.3608 20.4737H25.5923V5.81006H26.1563Z" stroke="#000000" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M37.9998 11.6738L26.1401 11.6738" stroke="#000000" stroke-width="1.5"></path>
            <path d="M28.5122 5.74397L28.5122 11.6738" stroke="#000000" stroke-width="1.5"></path>
            <path d="M17.8385 1H1.23486V14.0457H17.8385V1Z" stroke="#000000" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M10.1062 9.35454L10.1072 9.35449C10.4697 9.34819 10.8198 9.2683 11.1517 9.12747L11.1517 9.12748L11.1526 9.12708C11.5083 8.9678 11.8166 8.75331 12.0891 8.48397L12.0895 8.48358C12.3564 8.21398 12.5758 7.89534 12.7358 7.52786C12.8961 7.15976 12.9792 6.76711 12.9792 6.34432C12.9792 5.92153 12.8961 5.52888 12.7358 5.16078C12.5759 4.79364 12.3625 4.47492 12.0895 4.19904L12.0895 4.19903C11.8224 3.92914 11.508 3.71468 11.1526 3.55553L11.1522 3.55537C10.8017 3.40191 10.4273 3.32207 10.041 3.32207C9.65468 3.32207 9.28611 3.40196 8.93574 3.55537C8.58587 3.70855 8.27124 3.92316 8.00401 4.19924C7.73117 4.47507 7.51778 4.79373 7.35793 5.16078C7.1976 5.52893 7.11455 5.92762 7.11455 6.34432C7.11455 6.76694 7.19755 7.1655 7.35195 7.52751L7.35193 7.52752L7.35237 7.52848C7.51794 7.89509 7.73123 8.21367 7.99838 8.48358C8.26548 8.75344 8.57982 8.96784 8.92924 9.12695L8.92923 9.12696L8.93018 9.12737C9.21489 9.24995 9.50587 9.32364 9.82037 9.34826C9.87583 9.35455 9.94925 9.35602 10.0068 9.35602C10.036 9.35602 10.0617 9.35564 10.0797 9.35526L10.1007 9.35473L10.1062 9.35454ZM10.7784 8.88865L10.7778 8.88899C10.5771 9.02148 10.3303 9.09173 10.041 9.09173C9.75686 9.09173 9.51115 9.0272 9.31168 8.88407L9.31172 8.88402L9.30955 8.88262C9.10184 8.74921 8.9322 8.55704 8.80135 8.31603L8.80136 8.31603L8.80092 8.31524C8.66428 8.07406 8.56661 7.78421 8.50316 7.44446C8.43957 7.104 8.40482 6.73329 8.40482 6.33829C8.40482 5.94345 8.43955 5.57288 8.50308 5.23253C8.57239 4.89252 8.6702 4.602 8.80159 4.35408C8.93207 4.10787 9.10161 3.92128 9.31037 3.78137L9.31037 3.78137L9.3109 3.78101C9.5112 3.64303 9.75759 3.57279 10.0469 3.57279C10.3357 3.57279 10.5765 3.6428 10.7831 3.78119C10.9859 3.92097 11.156 4.11382 11.2928 4.35531C11.4294 4.59634 11.527 4.892 11.5846 5.22543L11.5846 5.22543L11.5847 5.22609C11.6483 5.56653 11.6831 5.93724 11.6831 6.33829C11.6831 6.74543 11.6483 7.11607 11.5848 7.45033L11.5847 7.45049C11.5213 7.79024 11.4236 8.08009 11.287 8.32127L11.2866 8.32206C11.1557 8.56307 10.9861 8.75523 10.7784 8.88865L10.7784 8.88865Z" fill="#000000" stroke="#000000" stroke-width="0.1" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M12.9293 9.98141C12.9569 9.98141 12.9793 9.95902 12.9793 9.93141V8.68945C12.9793 8.66184 12.9569 8.63945 12.9293 8.63945C12.5194 8.63945 12.1388 8.72545 11.7821 8.8913C11.4265 9.05667 11.1177 9.27746 10.8563 9.55982C10.5955 9.84157 10.3882 10.166 10.2343 10.5267L10.2343 10.5267L10.2339 10.5279C10.0974 10.8713 10.0263 11.2327 10.0145 11.6059L10.0145 11.6059V11.6074V11.6074V11.6075V11.6075V11.6075V11.6075V11.6075V11.6075V11.6075V11.6075V11.6075V11.6075V11.6075V11.6075V11.6075V11.6075V11.6075V11.6075V11.6076V11.6076V11.6076V11.6076V11.6076V11.6076V11.6076V11.6076V11.6077V11.6077V11.6077V11.6077V11.6077V11.6077V11.6078V11.6078V11.6078V11.6078V11.6078V11.6079V11.6079V11.6079V11.6079V11.608V11.608V11.608V11.608V11.6081V11.6081V11.6081V11.6081V11.6082V11.6082V11.6082V11.6082V11.6083V11.6083V11.6083V11.6084V11.6084V11.6084V11.6085V11.6085V11.6085V11.6086V11.6086V11.6086V11.6087V11.6087V11.6087V11.6088V11.6088V11.6089V11.6089V11.6089V11.609V11.609V11.6091V11.6091V11.6091V11.6092V11.6092V11.6093V11.6093V11.6094V11.6094V11.6095V11.6095V11.6096V11.6096V11.6096V11.6097V11.6097V11.6098V11.6098V11.6099V11.61V11.61V11.6101V11.6101V11.6102V11.6102V11.6103V11.6103V11.6104V11.6104V11.6105V11.6106V11.6106V11.6107V11.6107V11.6108V11.6108V11.6109V11.611V11.611V11.6111V11.6112V11.6112V11.6113V11.6113V11.6114V11.6115V11.6115V11.6116V11.6117V11.6117V11.6118V11.6119V11.6119V11.612V11.6121V11.6122V11.6122V11.6123V11.6124V11.6124V11.6125V11.6126V11.6127V11.6127V11.6128V11.6129V11.613V11.613V11.6131V11.6132V11.6133V11.6133V11.6134V11.6135V11.6136V11.6137V11.6137V11.6138V11.6139V11.614V11.6141V11.6142V11.6142V11.6143V11.6144V11.6145V11.6146V11.6147V11.6148V11.6148V11.6149V11.615V11.6151V11.6152V11.6153V11.6154V11.6155V11.6156V11.6157V11.6158V11.6158V11.6159V11.616V11.6161V11.6162V11.6163V11.6164V11.6165V11.6166V11.6167V11.6168V11.6169V11.617V11.6171V11.6172V11.6173V11.6174V11.6175V11.6176V11.6177V11.6178V11.6179V11.618V11.6181V11.6182V11.6183V11.6184V11.6186V11.6187V11.6188V11.6189V11.619V11.6191V11.6192V11.6193V11.6194V11.6195V11.6196V11.6198V11.6199V11.62V11.6201V11.6202V11.6203V11.6204V11.6206V11.6207V11.6208V11.6209V11.621V11.6211V11.6213V11.6214V11.6215V11.6216V11.6217V11.6219V11.622V11.6221V11.6222V11.6224V11.6225V11.6226V11.6227V11.6228V11.623V11.6231V11.6232V11.6234V11.6235V11.6236V11.6237V11.6239V11.624V11.6241V11.6243V11.6244V11.6245V11.6246V11.6248V11.6249V11.625V11.6252V11.6253V11.6254V11.6256V11.6257V11.6259V11.626V11.6261V11.6263V11.6264V11.6265V11.6267V11.6268V11.627V11.6271V11.6272V11.6274V11.6275V11.6277V11.6278V11.628V11.6281V11.6282V11.6284V11.6285V11.6287V11.6288V11.629V11.6291V11.6293V11.6294V11.6296V11.6297V11.6299V11.63V11.6302V11.6303V11.6305V11.6306V11.6308V11.6309V11.6311V11.6312V11.6314V11.6315V11.6317V11.6318V11.632V11.6322V11.6323V11.6325V11.6326V11.6328V11.6329V11.6331V11.6333V11.6334V11.6336V11.6337V11.6339V11.6341V11.6342V11.6344V11.6346V11.6347V11.6349V11.6351V11.6352V11.6354V11.6356V11.6357V11.6359V11.6361V11.6362V11.6364V11.6366V11.6367V11.6369V11.6371V11.6372V11.6374V11.6376V11.6378V11.6379V11.6381V11.6383V11.6385V11.6386V11.6388V11.639V11.6392V11.6393V11.6395V11.6397V11.6399V11.64V11.6402V11.6404V11.6406V11.6408V11.6409V11.6411V11.6413V11.6415V11.6417V11.6418V11.642V11.6422V11.6424V11.6426V11.6428V11.643V11.6431V11.6433V11.6435V11.6437V11.6439V11.6441V11.6443V11.6445V11.6446V11.6448V11.645V11.6452V11.6454V11.6456V11.6458V11.646V11.6462V11.6464V11.6466V11.6468V11.647V11.6471V11.6473V11.6475V11.6477V11.6479V11.6481V11.6483V11.6485V11.6487V11.6489V11.6491V11.6493V11.6495V11.6497V11.6499V11.6501V11.6503V11.6505V11.6507V11.6509V11.6512V11.6514V11.6516V11.6518V11.652V11.6522V11.6524V11.6526V11.6528V11.653V11.6532V11.6534V11.6536V11.6538V11.6541V11.6543V11.6545V11.6547V11.6549V11.6551V11.6553V11.6555V11.6558V11.656V11.6562V11.6564V11.6566V11.6568V11.6571V11.6573V11.6575V11.6577V11.6579V11.6581V11.6584V11.6586V11.6588V11.659V11.6592V11.6595V11.6597V11.6599V11.6601V11.6604V11.6606V11.6608V11.661V11.6612V11.6615V11.6617V11.6619V11.6621V11.6624V11.6626V11.6628V11.6631V11.6633V11.6635V11.6637V11.664V11.6642V11.6644V11.6647V11.6649V11.6651V11.6654V11.6656V11.6658V11.6661V11.6663V11.6665V11.6668V11.667V11.6672V11.6675V11.6677V11.6679V11.6682V11.6684V11.6687V11.6689V11.6691V11.6694V11.6696V11.6699V11.6701V11.6703V11.6706V11.6708V11.6711V11.6713V11.6716V11.6718V11.672V11.6723V11.6725V11.6728V11.673V11.6733V11.6735V11.6738C10.0145 11.7014 10.0368 11.7238 10.0645 11.7238H10.222C10.2496 11.7238 10.272 11.7014 10.272 11.6738C10.272 11.3801 10.3402 11.1242 10.4687 10.9163C10.598 10.7072 10.7841 10.5318 11.0174 10.3906C11.2575 10.2548 11.5382 10.1482 11.8598 10.0829C12.183 10.0173 12.5414 9.98141 12.9293 9.98141Z" fill="#008763" stroke="#000000" stroke-width="0.1" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </div>
        <div class="br-banner-icons__item-text">
          Free Shipping<br>
          Orders Over $100
        </div>
      </div>
      <div class="br-banner-icons__item">
        <div class="br-banner-icons__item-img">
          <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.697 16.9858C22.697 21.7625 18.8368 25.5117 14.074 25.5117C9.29726 25.5117 5.43701 21.6514 5.43701 16.8886C5.43701 12.7645 11.6856 4.64131 14.074 0.919922L20.267 10.6677" stroke="#000000" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M24.7522 16.9301H19.0174L24.5162 8.8208L30.0288 16.9301H27.3072M27.2655 16.8884C27.2655 24.1646 21.3641 30.0799 14.074 30.0799M14.074 30.0799C6.784 30.0799 0.868652 24.1646 0.868652 16.8884" stroke="#000000" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M1.28516 14.5142L1.5351 13.8755" stroke="#000000" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M2.271 12.0426L2.52094 11.4038" stroke="#000000" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M12.005 19.0685C12.2827 19.2906 12.8659 19.6794 13.7129 19.7627V20.3876C13.7129 20.5681 13.8101 20.6653 14.0184 20.6653H14.1017C14.31 20.6653 14.4072 20.5542 14.4072 20.3459V19.7627C15.5736 19.6239 16.2679 18.8046 16.2679 17.8187C16.2679 15.6109 12.8659 15.9025 12.8659 14.5139C12.8659 13.9724 13.3797 13.5003 14.1156 13.5003C14.6849 13.5003 15.1293 13.7363 15.3653 13.9029C15.5597 14.014 15.7125 14.0001 15.8236 13.8057L15.9485 13.5697C16.0457 13.3892 16.0319 13.2364 15.8652 13.1253C15.6014 12.9448 15.1154 12.6671 14.4072 12.6254V11.9867C14.4072 11.8062 14.31 11.709 14.1017 11.709H14.0184C13.8101 11.709 13.7129 11.8201 13.7129 12.0284V12.6254C12.616 12.7921 11.8939 13.5836 11.8939 14.5417C11.8939 16.6384 15.2959 16.4163 15.2959 17.8604C15.2959 18.513 14.7266 18.8741 14.0879 18.8741C13.3936 18.8741 12.852 18.5408 12.5743 18.3325C12.3938 18.2214 12.241 18.2214 12.1161 18.388L11.9633 18.6241C11.8245 18.7769 11.8384 18.9435 12.005 19.0685Z" fill="#000000" stroke="#000000" stroke-width="0.5"></path>
          </svg>
        </div>
        <div class="br-banner-icons__item-text">
          Buy Now,<br>
          Pay Later
        </div>
      </div>
      <div class="br-banner-icons__item">
        <div class="br-banner-icons__item-img">
          <svg width="29" height="31" viewBox="0 0 29 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.8">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2878 1.5V29.5C14.2878 29.5 2.6146 26.2958 1.2002 6.09245C1.2002 6.09245 11.6511 3.67399 14.2878 1.50873V1.5Z" stroke="#000000" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2876 1.5V29.5C14.2876 29.5 25.9608 26.2958 27.3752 6.09245C27.3752 6.09245 16.9243 3.67399 14.2876 1.50873V1.5Z" stroke="#000000" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M14.2879 22.3252C18.6577 22.3252 22.2002 18.7827 22.2002 14.4129C22.2002 10.043 18.6577 6.50049 14.2879 6.50049C9.91798 6.50049 6.37549 10.043 6.37549 14.4129C6.37549 18.7827 9.91798 22.3252 14.2879 22.3252Z" fill="" stroke="#000000" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7622 19.2134C13.2199 19.4473 13.7385 19.5795 14.2877 19.5795C14.8369 19.5795 15.3556 19.4473 15.8132 19.2134C16.9218 18.6541 17.6744 17.5048 17.6744 16.1929C17.6744 16.1115 17.6744 16.0403 17.6642 15.959C17.6642 15.959 17.6642 15.9488 17.6642 15.9386H17.6744C17.6846 15.7251 17.6337 14.1182 14.2877 9.25684C10.9519 14.1182 10.8909 15.7251 10.9011 15.9386H10.9112C10.9112 15.959 10.9112 15.959 10.9112 15.959C10.9011 16.0403 10.9011 16.1115 10.9011 16.1929C10.9011 17.515 11.6537 18.6642 12.7622 19.2134Z" stroke="#000000" stroke-width="1.5" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
          </svg>
        </div>
        <div class="br-banner-icons__item-text">
          Dermatologist Reviewed <br>
          &amp; Approved
        </div>
      </div>
      <div class="br-banner-icons__item">
        <div class="br-banner-icons__item-img">
          <svg width="34" height="31" viewBox="0 0 34 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.9547 15.4219C22.9547 19.4777 22.1703 23.1129 20.9354 25.706C19.6739 28.3551 18.0778 29.6719 16.5618 29.6719C15.0458 29.6719 13.4497 28.3551 12.1882 25.706C10.9533 23.1129 10.1689 19.4777 10.1689 15.4219C10.1689 11.366 10.9533 7.73088 12.1882 5.13772C13.4497 2.48864 15.0458 1.17188 16.5618 1.17188C18.0778 1.17188 19.6739 2.48864 20.9354 5.13772C22.1703 7.73088 22.9547 11.366 22.9547 15.4219Z" stroke="#000000" stroke-width="1.5"></path>
            <path d="M13.3653 20.9581C9.85281 18.9302 7.0969 16.4333 5.46858 14.0673C3.80514 11.6503 3.46286 9.60963 4.22086 8.29673C4.97886 6.98384 6.91729 6.25992 9.8422 6.49199C12.7054 6.71917 16.2457 7.85742 19.7582 9.88536C23.2706 11.9133 26.0265 14.4102 27.6549 16.7761C29.3183 19.1932 29.6606 21.2338 28.9026 22.5467C28.1446 23.8596 26.2062 24.5836 23.2813 24.3515C20.4181 24.1243 16.8778 22.986 13.3653 20.9581Z" stroke="#000000" stroke-width="1.5"></path>
            <path d="M13.3656 9.88564C16.8781 7.85771 20.4184 6.71945 23.2815 6.49228C26.2065 6.2602 28.1449 6.98412 28.9029 8.29702C29.6609 9.60991 29.3186 11.6506 27.6552 14.0676C26.0268 16.4336 23.2709 18.9305 19.7584 20.9584C16.246 22.9863 12.7056 24.1246 9.84249 24.3518C6.91758 24.5838 4.97916 23.8599 4.22116 22.547C3.46316 21.2341 3.80543 19.1934 5.46887 16.7764C7.0972 14.4104 9.85311 11.9136 13.3656 9.88564Z" stroke="#000000" stroke-width="1.5"></path>
          </svg>
        </div>
        <div class="br-banner-icons__item-text">
          Proven Results,<br>
          Backed by science
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="container cus-bradcamp">
  {% render 'breadcrumbs' %}
  {% render 'shorting-filter' %}
</div>

<div class="container collection-container">
  {% paginate collection.products by section.settings.products_per_page %}
    {% assign collection_handle = collection.handle %}
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <!--
              <div class="collection__pagination-info">
                Showing items {{ paginate.current_offset | plus: 1 }}-{% if paginate.next %}{{ paginate.current_offset | plus: paginate.page_size }}{% else %}{{ paginate.items }}{% endif %} of {{ paginate.items }}</h1>
              </div>
            -->
          </div>
        </div>
        <div class="row">
          <div class="col-filter {% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}">
            {{ 'component-facets.css' | asset_url | stylesheet_tag }}
            <script src="{{ 'global.js' | asset_url }}"></script>
            <script src="{{ 'facets.js' | asset_url }}"></script>
            {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
              <aside
                aria-labelledby="verticalTitle"
                class="facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
                id="main-collection-filters"
                data-id="{{ section.id }}"
              >
                {% render 'facets',
                  results: collection,
                  enable_filtering: section.settings.enable_filtering,
                  enable_sorting: section.settings.enable_sorting,
                  filter_type: section.settings.filter_type,
                  paginate: paginate
                %}
              </aside>
            {%- endif -%}

            <!--
              <div class="cus-filter">
                <div class="set">
                  <a href="javascript:;">
                    Skin Concern<i class="fa fa-angle-down" aria-hidden="true"></i>
                  </a>
                  <div class="content">
                    Fine Lines
                  </div>
                </div>
                 <div class="set">
                  <a href="javascript:;">
                    Skin Type<i class="fa fa-angle-down" aria-hidden="true"></i>
                  </a>
                  <div class="content">
                    Oily
                  </div>
                </div>
                 <div class="set">
                  <a href="javascript:;">
                    Category<i class="fa fa-angle-down" aria-hidden="true"></i>
                  </a>
                  <div class="content">
                   Peels
                  </div>
                </div>
              </div>
            -->
          </div>

          <div class="col-product product-grid-container" id="ProductGridContainer">
            <div class="collection" id="product-grid" data-id="{{ section.id }}">
              <div class="loading-overlay gradient"></div>

              <div
                class="row"
                data-id="{{ section.id }}"
              >
                {% for product in collection.products %}
                  <div class="collection col-lg-4 col-sm-6 product__collection-item">
                    {% include 'product-grid-collection' %}
                  </div>
                {% endfor %}
              </div>
              {% comment %}
                <div class="row collection-better">
                  <div class="collection-fell">
                    <h2>Feel <b>better</b> about yourself and be <b>comfortable</b> in your own skin.</h2>
                    <div class="coll-slider">
                      <div class="better-main">
                        <div class="better-img">
                          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/mask-packaging-box-app-product-image_1_e4ec16f5-d973-404f-8fd7-9c9c1e828424.png?v=1686033255">
                        </div>
                        <div class="better-content">
                          <svg width="91" height="15" viewBox="0 0 91 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M82.5013 0.322039L84.2158 5.30716L89.5728 5.36806C90.0337 5.37334 90.2246 5.95021 89.8548 6.2202L85.557 9.36166L87.1534 14.3843C87.2906 14.8165 86.7914 15.1726 86.4151 14.9108L82.0451 11.8671L77.6745 14.9102C77.2988 15.172 76.7991 14.8153 76.9362 14.3837L78.5326 9.36108L74.2348 6.21961C73.865 5.94962 74.0559 5.37275 74.5168 5.36748L79.8738 5.30657L81.5883 0.321453C81.7362 -0.107249 82.354 -0.107249 82.5013 0.322039Z" fill="#008763"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M63.9918 0.322039L65.7062 5.30716L71.0632 5.36806C71.5242 5.37334 71.715 5.95021 71.3453 6.2202L67.0474 9.36166L68.6438 14.3843C68.781 14.8165 68.2819 15.1726 67.9056 14.9108L63.5355 11.8671L59.1649 14.9102C58.7892 15.172 58.2895 14.8153 58.4267 14.3837L60.0231 9.36108L55.7252 6.21961C55.3555 5.94962 55.5463 5.37275 56.0073 5.36748L61.3643 5.30657L63.0788 0.321453C63.2266 -0.107249 63.8445 -0.107249 63.9918 0.322039Z" fill="#008763"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M45.481 0.322039L47.1955 5.30716L52.5525 5.36806C53.0135 5.37334 53.2043 5.95021 52.8345 6.2202L48.5367 9.36166L50.1331 14.3843C50.2703 14.8165 49.7711 15.1726 49.3948 14.9108L45.0248 11.8671L40.6542 14.9102C40.2785 15.172 39.7788 14.8153 39.9159 14.3837L41.5123 9.36108L37.2145 6.21961C36.8447 5.94962 37.0356 5.37275 37.4965 5.36748L42.8535 5.30657L44.568 0.321453C44.7159 -0.107249 45.3337 -0.107249 45.481 0.322039Z" fill="#008763"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.9714 0.322039L28.6859 5.30716L34.0429 5.36806C34.5039 5.37334 34.6947 5.95021 34.325 6.2202L30.0271 9.36166L31.6235 14.3843C31.7607 14.8165 31.2615 15.1726 30.8853 14.9108L26.5152 11.8671L22.1446 14.9102C21.7689 15.172 21.2692 14.8153 21.4063 14.3837L23.0028 9.36108L18.7049 6.21961C18.3352 5.94962 18.526 5.37275 18.987 5.36748L24.3439 5.30657L26.0584 0.321453C26.2063 -0.107249 26.8241 -0.107249 26.9714 0.322039Z" fill="#008763"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.46148 0.322039L10.176 5.30716L15.5329 5.36806C15.9939 5.37334 16.1848 5.95021 15.815 6.2202L11.5172 9.36166L13.1136 14.3843C13.2507 14.8165 12.7516 15.1726 12.3753 14.9108L8.00528 11.8671L3.63466 14.9102C3.25896 15.172 2.75922 14.8153 2.89638 14.3837L4.4928 9.36108L0.194939 6.21961C-0.174796 5.94962 0.0160349 5.37275 0.47701 5.36748L5.83398 5.30657L7.54848 0.321453C7.69637 -0.107249 8.31418 -0.107249 8.46148 0.322039Z" fill="#008763"></path>
                          </svg>
                          <p>
                            “The change in my skin in the last 3 months has been incredible. Nothing has been able to
                            clear my skin besides this mask.”
                          </p>
                          <div class="better-name">
                            <div class="better-views">
                              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Ellipse_8_74187989-bee3-4c22-901d-3f66c9110b6e.png?v=1686033232">
                              Nikki, 31
                            </div>
                            <div class="better-verify">
                              <svg
                                width="15"
                                height="15"
                                viewBox="0 0 15 15"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path d="M15 7.5C15 6.40912 14.3801 5.457 13.4752 4.97625C13.7224 4.03463 13.4816 2.98763 12.7466 2.253C12.198 1.704 11.475 1.431 10.7512 1.431C10.5064 1.431 10.2615 1.46212 10.0234 1.52475C9.543 0.619875 8.59087 0 7.5 0C6.40912 0 5.457 0.619875 4.97625 1.52475C4.73775 1.46212 4.49325 1.431 4.24837 1.431C3.52463 1.431 2.802 1.70438 2.253 2.253C1.51838 2.98763 1.27725 4.03425 1.52437 4.97625C0.619875 5.457 0 6.40912 0 7.5C0 8.59087 0.619875 9.543 1.52475 10.0238C1.27762 10.9654 1.51837 12.0124 2.25338 12.747C2.802 13.2956 3.525 13.569 4.24875 13.569C4.49363 13.569 4.7385 13.5379 4.97662 13.4752C5.457 14.3801 6.40912 15 7.5 15C8.59087 15 9.543 14.3801 10.0238 13.4752C10.2622 13.5379 10.5068 13.569 10.7516 13.569C11.4754 13.569 12.198 13.2956 12.747 12.747C13.4816 12.0124 13.7228 10.9657 13.4756 10.0238C14.3801 9.543 15 8.59087 15 7.5Z" fill="#6EBDA4"></path>
                                <path d="M6.74998 10.8099L3.96973 8.02925L5.03023 6.96875L6.74998 8.68812L10.3447 5.09375L11.4052 6.15425L6.74998 10.8099Z" fill="white"></path>
                              </svg>
                              Verified Customer
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="better-main">
                        <div class="better-img">
                          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/mask-packaging-box-app-product-image_1_e4ec16f5-d973-404f-8fd7-9c9c1e828424.png?v=1686033255">
                        </div>
                        <div class="better-content">
                          <svg width="91" height="15" viewBox="0 0 91 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M82.5013 0.322039L84.2158 5.30716L89.5728 5.36806C90.0337 5.37334 90.2246 5.95021 89.8548 6.2202L85.557 9.36166L87.1534 14.3843C87.2906 14.8165 86.7914 15.1726 86.4151 14.9108L82.0451 11.8671L77.6745 14.9102C77.2988 15.172 76.7991 14.8153 76.9362 14.3837L78.5326 9.36108L74.2348 6.21961C73.865 5.94962 74.0559 5.37275 74.5168 5.36748L79.8738 5.30657L81.5883 0.321453C81.7362 -0.107249 82.354 -0.107249 82.5013 0.322039Z" fill="#008763"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M63.9918 0.322039L65.7062 5.30716L71.0632 5.36806C71.5242 5.37334 71.715 5.95021 71.3453 6.2202L67.0474 9.36166L68.6438 14.3843C68.781 14.8165 68.2819 15.1726 67.9056 14.9108L63.5355 11.8671L59.1649 14.9102C58.7892 15.172 58.2895 14.8153 58.4267 14.3837L60.0231 9.36108L55.7252 6.21961C55.3555 5.94962 55.5463 5.37275 56.0073 5.36748L61.3643 5.30657L63.0788 0.321453C63.2266 -0.107249 63.8445 -0.107249 63.9918 0.322039Z" fill="#008763"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M45.481 0.322039L47.1955 5.30716L52.5525 5.36806C53.0135 5.37334 53.2043 5.95021 52.8345 6.2202L48.5367 9.36166L50.1331 14.3843C50.2703 14.8165 49.7711 15.1726 49.3948 14.9108L45.0248 11.8671L40.6542 14.9102C40.2785 15.172 39.7788 14.8153 39.9159 14.3837L41.5123 9.36108L37.2145 6.21961C36.8447 5.94962 37.0356 5.37275 37.4965 5.36748L42.8535 5.30657L44.568 0.321453C44.7159 -0.107249 45.3337 -0.107249 45.481 0.322039Z" fill="#008763"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.9714 0.322039L28.6859 5.30716L34.0429 5.36806C34.5039 5.37334 34.6947 5.95021 34.325 6.2202L30.0271 9.36166L31.6235 14.3843C31.7607 14.8165 31.2615 15.1726 30.8853 14.9108L26.5152 11.8671L22.1446 14.9102C21.7689 15.172 21.2692 14.8153 21.4063 14.3837L23.0028 9.36108L18.7049 6.21961C18.3352 5.94962 18.526 5.37275 18.987 5.36748L24.3439 5.30657L26.0584 0.321453C26.2063 -0.107249 26.8241 -0.107249 26.9714 0.322039Z" fill="#008763"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.46148 0.322039L10.176 5.30716L15.5329 5.36806C15.9939 5.37334 16.1848 5.95021 15.815 6.2202L11.5172 9.36166L13.1136 14.3843C13.2507 14.8165 12.7516 15.1726 12.3753 14.9108L8.00528 11.8671L3.63466 14.9102C3.25896 15.172 2.75922 14.8153 2.89638 14.3837L4.4928 9.36108L0.194939 6.21961C-0.174796 5.94962 0.0160349 5.37275 0.47701 5.36748L5.83398 5.30657L7.54848 0.321453C7.69637 -0.107249 8.31418 -0.107249 8.46148 0.322039Z" fill="#008763"></path>
                          </svg>
                          <p>
                            “The change in my skin in the last 3 months has been incredible. Nothing has been able to
                            clear my skin besides this mask.”
                          </p>
                          <div class="better-name">
                            <div class="better-views">
                              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Ellipse_8_74187989-bee3-4c22-901d-3f66c9110b6e.png?v=1686033232">
                              Nikki, 31
                            </div>
                            <div class="better-verify">
                              <svg
                                width="15"
                                height="15"
                                viewBox="0 0 15 15"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path d="M15 7.5C15 6.40912 14.3801 5.457 13.4752 4.97625C13.7224 4.03463 13.4816 2.98763 12.7466 2.253C12.198 1.704 11.475 1.431 10.7512 1.431C10.5064 1.431 10.2615 1.46212 10.0234 1.52475C9.543 0.619875 8.59087 0 7.5 0C6.40912 0 5.457 0.619875 4.97625 1.52475C4.73775 1.46212 4.49325 1.431 4.24837 1.431C3.52463 1.431 2.802 1.70438 2.253 2.253C1.51838 2.98763 1.27725 4.03425 1.52437 4.97625C0.619875 5.457 0 6.40912 0 7.5C0 8.59087 0.619875 9.543 1.52475 10.0238C1.27762 10.9654 1.51837 12.0124 2.25338 12.747C2.802 13.2956 3.525 13.569 4.24875 13.569C4.49363 13.569 4.7385 13.5379 4.97662 13.4752C5.457 14.3801 6.40912 15 7.5 15C8.59087 15 9.543 14.3801 10.0238 13.4752C10.2622 13.5379 10.5068 13.569 10.7516 13.569C11.4754 13.569 12.198 13.2956 12.747 12.747C13.4816 12.0124 13.7228 10.9657 13.4756 10.0238C14.3801 9.543 15 8.59087 15 7.5Z" fill="#6EBDA4"></path>
                                <path d="M6.74998 10.8099L3.96973 8.02925L5.03023 6.96875L6.74998 8.68812L10.3447 5.09375L11.4052 6.15425L6.74998 10.8099Z" fill="white"></path>
                              </svg>
                              Verified Customer
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="better-main">
                        <div class="better-img">
                          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/mask-packaging-box-app-product-image_1_e4ec16f5-d973-404f-8fd7-9c9c1e828424.png?v=1686033255">
                        </div>
                        <div class="better-content">
                          <svg width="91" height="15" viewBox="0 0 91 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M82.5013 0.322039L84.2158 5.30716L89.5728 5.36806C90.0337 5.37334 90.2246 5.95021 89.8548 6.2202L85.557 9.36166L87.1534 14.3843C87.2906 14.8165 86.7914 15.1726 86.4151 14.9108L82.0451 11.8671L77.6745 14.9102C77.2988 15.172 76.7991 14.8153 76.9362 14.3837L78.5326 9.36108L74.2348 6.21961C73.865 5.94962 74.0559 5.37275 74.5168 5.36748L79.8738 5.30657L81.5883 0.321453C81.7362 -0.107249 82.354 -0.107249 82.5013 0.322039Z" fill="#008763"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M63.9918 0.322039L65.7062 5.30716L71.0632 5.36806C71.5242 5.37334 71.715 5.95021 71.3453 6.2202L67.0474 9.36166L68.6438 14.3843C68.781 14.8165 68.2819 15.1726 67.9056 14.9108L63.5355 11.8671L59.1649 14.9102C58.7892 15.172 58.2895 14.8153 58.4267 14.3837L60.0231 9.36108L55.7252 6.21961C55.3555 5.94962 55.5463 5.37275 56.0073 5.36748L61.3643 5.30657L63.0788 0.321453C63.2266 -0.107249 63.8445 -0.107249 63.9918 0.322039Z" fill="#008763"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M45.481 0.322039L47.1955 5.30716L52.5525 5.36806C53.0135 5.37334 53.2043 5.95021 52.8345 6.2202L48.5367 9.36166L50.1331 14.3843C50.2703 14.8165 49.7711 15.1726 49.3948 14.9108L45.0248 11.8671L40.6542 14.9102C40.2785 15.172 39.7788 14.8153 39.9159 14.3837L41.5123 9.36108L37.2145 6.21961C36.8447 5.94962 37.0356 5.37275 37.4965 5.36748L42.8535 5.30657L44.568 0.321453C44.7159 -0.107249 45.3337 -0.107249 45.481 0.322039Z" fill="#008763"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.9714 0.322039L28.6859 5.30716L34.0429 5.36806C34.5039 5.37334 34.6947 5.95021 34.325 6.2202L30.0271 9.36166L31.6235 14.3843C31.7607 14.8165 31.2615 15.1726 30.8853 14.9108L26.5152 11.8671L22.1446 14.9102C21.7689 15.172 21.2692 14.8153 21.4063 14.3837L23.0028 9.36108L18.7049 6.21961C18.3352 5.94962 18.526 5.37275 18.987 5.36748L24.3439 5.30657L26.0584 0.321453C26.2063 -0.107249 26.8241 -0.107249 26.9714 0.322039Z" fill="#008763"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.46148 0.322039L10.176 5.30716L15.5329 5.36806C15.9939 5.37334 16.1848 5.95021 15.815 6.2202L11.5172 9.36166L13.1136 14.3843C13.2507 14.8165 12.7516 15.1726 12.3753 14.9108L8.00528 11.8671L3.63466 14.9102C3.25896 15.172 2.75922 14.8153 2.89638 14.3837L4.4928 9.36108L0.194939 6.21961C-0.174796 5.94962 0.0160349 5.37275 0.47701 5.36748L5.83398 5.30657L7.54848 0.321453C7.69637 -0.107249 8.31418 -0.107249 8.46148 0.322039Z" fill="#008763"></path>
                          </svg>
                          <p>
                            “The change in my skin in the last 3 months has been incredible. Nothing has been able to
                            clear my skin besides this mask.”
                          </p>
                          <div class="better-name">
                            <div class="better-views">
                              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Ellipse_8_74187989-bee3-4c22-901d-3f66c9110b6e.png?v=1686033232">
                              Nikki, 31
                            </div>
                            <div class="better-verify">
                              <svg
                                width="15"
                                height="15"
                                viewBox="0 0 15 15"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path d="M15 7.5C15 6.40912 14.3801 5.457 13.4752 4.97625C13.7224 4.03463 13.4816 2.98763 12.7466 2.253C12.198 1.704 11.475 1.431 10.7512 1.431C10.5064 1.431 10.2615 1.46212 10.0234 1.52475C9.543 0.619875 8.59087 0 7.5 0C6.40912 0 5.457 0.619875 4.97625 1.52475C4.73775 1.46212 4.49325 1.431 4.24837 1.431C3.52463 1.431 2.802 1.70438 2.253 2.253C1.51838 2.98763 1.27725 4.03425 1.52437 4.97625C0.619875 5.457 0 6.40912 0 7.5C0 8.59087 0.619875 9.543 1.52475 10.0238C1.27762 10.9654 1.51837 12.0124 2.25338 12.747C2.802 13.2956 3.525 13.569 4.24875 13.569C4.49363 13.569 4.7385 13.5379 4.97662 13.4752C5.457 14.3801 6.40912 15 7.5 15C8.59087 15 9.543 14.3801 10.0238 13.4752C10.2622 13.5379 10.5068 13.569 10.7516 13.569C11.4754 13.569 12.198 13.2956 12.747 12.747C13.4816 12.0124 13.7228 10.9657 13.4756 10.0238C14.3801 9.543 15 8.59087 15 7.5Z" fill="#6EBDA4"></path>
                                <path d="M6.74998 10.8099L3.96973 8.02925L5.03023 6.96875L6.74998 8.68812L10.3447 5.09375L11.4052 6.15425L6.74998 10.8099Z" fill="white"></path>
                              </svg>
                              Verified Customer
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endcomment %}
            </div>
          </div>
        </div>
        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      </div>
    </div>
  {% endpaginate %}
</div>

<style>
    ul.no-js-list.list-unstyled.no-js {
      display: none;
  }
</style>

{% schema %}
{
  "name": "Collection page",
  "settings": [
    
    {
      "type": "header",
      "content": "FILTERING AND SORTING"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "Enable filtering",
      "info": "Customize filters with the Search & Discovery app."
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "Horizontal"
        },
        {
          "value": "vertical",
          "label": "Vertical"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "vertical",
      "label": "Vertical",
      "info": "Drawer is the default mobile layout."
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": false,
      "label": "Enable sorting"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection hero",
      "settings": [
        {
          "id": "collection",
          "type": "collection",
          "label": "Choose the collection"
        },
        {
          "id": "collection_image_desktop",
          "type": "image_picker",
          "label": "Image for desktop"
        },
        {
          "id": "collection_image_tab",
          "type": "image_picker",
          "label": "Image for tab"
        },
        {
          "id": "collection_image_mobile",
          "type": "image_picker",
          "label": "Image for mobile"
        }
      ]
    }
  ]
}
{% endschema %}
