{%- assign current_variant = product.selected_or_first_available_variant -%}

<div class="comparison-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="comparison-info">
          <h2>{{ section.settings.com_tlt }}</h2>
        </div>
        <div class="comparison-sub-info">
          <h2>{{ section.settings.com_sub_tlt }}</h2>
        </div>
      </div>   
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive mobile-hide">
          {{ section.settings.table }}
        </div>

        <div class="mobile-table-price">
          <div class="table-logo">
            <div class="qure-icon">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Logo_4fda2824-1ba9-4854-bb4c-4b79f66587a5.png?v=1622638671">
            </div>
            <div class="table-dropdown">
              <div class="main-nav"><span><img id="cus-drp-id" src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/logo-dr-den-gross.png?v=1622105523"/></span></div>
              <ul class="cus-dropdown">
                <li><a data-href="#peppy"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/peppy_co_1.png?v=1622638700"/></a></li>
                <li><a data-href="#light-salon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/imgpsh_fullsize_anim_21.png?v=1622617168"></a></li>
                <li><a data-href="#dennis-gross" class="last-child-click"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/logo-dr-den-gross.png?v=1622105523"></a></li>
              </ul>
            </div>
          </div>
          <div class="light-title">
            <h2>Light Colors & Wavelengths</h2>
            <p>Each with specific skin benefits</p>
          </div>
          <div class="five-main">
            <p class="title">5 total</p>
            <div class="five-total">
              <div class="infra">
                <span class="color-plat bg-infrared"></span>
                Infrared
              </div>
              <div class="infra-image">
                <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/ic_check.png?v=1622106063">
              </div>
            </div>
            <div class="five-total">
              <div class="infra">
                <span class="color-plat bg-deep-red"></span>
                Deep Red
              </div>
              <div class="infra-image">
                <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/ic_check.png?v=1622106063">
              </div>
            </div>
            <div class="five-total">
              <div class="infra">
                <span class="color-plat bg-deep-red"></span>
                Red
              </div>
              <div class="infra-image">
                <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/ic_check.png?v=1622106063">
              </div>
            </div>
            <div class="five-total">
              <div class="infra">
                <span class="color-plat bg-amber"></span>
                Amber
              </div>
              <div class="infra-image">
                <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/ic_check.png?v=1622106063">
              </div>
            </div>
            <div class="five-total">
              <div class="infra">
                <span class="color-plat bg-blue"></span>
                Blue
              </div>
              <div class="infra-image">
                <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/ic_check.png?v=1622106063">
              </div>
            </div>
          </div>
          <div id="peppy" class="tabcontent">
            <p>2 total</p>
            <div class="peppy-image">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/ic_uncheck.png?v=1622106063">
            </div>
            <div class="peppy-image">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/ic_uncheck.png?v=1622106063">
            </div>
            <div class="peppy-image">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/ic_check.png?v=1622106063">
            </div>
            <div class="peppy-image">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/ic_uncheck.png?v=1622106063">
            </div>
            <div class="peppy-image">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/ic_check.png?v=1622106063">
            </div>
          </div>
          <div id="light-salon" class="tabcontent">
            <p>2 total</p>
            <div class="peppy-image">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/ic_check.png?v=1622106063">
            </div>
            <div class="peppy-image">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/ic_uncheck.png?v=1622106063">
            </div>
            <div class="peppy-image">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/ic_check.png?v=1622106063">
            </div>
            <div class="peppy-image">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/ic_uncheck.png?v=1622106063">
            </div>
            <div class="peppy-image">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/ic_uncheck.png?v=1622106063">
            </div>
          </div>
          <div id="dennis-gross" class="tabcontent tab-active">
            <p>5 total</p>
            <div class="peppy-image">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/ic_check.png?v=1622106063">
            </div>
            <div class="peppy-image">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/ic_check.png?v=1622106063">
            </div>
            <div class="peppy-image">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/ic_check.png?v=1622106063">
            </div>
            <div class="peppy-image">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/ic_check.png?v=1622106063">
            </div>
            <div class="peppy-image">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/ic_check.png?v=1622106063">
            </div>
          </div>
          <div class="table-bulbs">
            <p class="number-title">Number of bulbs</p>
            <div class="qure-bulbs">
              <h3>{{ section.settings.qure_bulbs }}</h3>
            </div>
            <div id="peppy" class="tabcontent">
              <h3>{{ section.settings.peppy_bulbs }}</h3>
            </div>
            <div id="light-salon" class="tabcontent">
              <h3>{{ section.settings.light_bulbs }}</h3>
            </div>
            <div id="dennis-gross" class="tabcontent tab-active">
              <h3>{{ section.settings.dennis_bulbs }}</h3>
            </div>
          </div>
          <div class="tratment-time">
            <p class="tratment-title">Treatment Time</p>
            <div class="qure-time">
              <h3>{{ section.settings.qure_treatment }}</h3>
            </div>
            <div id="peppy" class="tabcontent">
              <h3>{{ section.settings.peppy_treatment }}</h3>
            </div>
            <div id="light-salon" class="tabcontent">
              <h3>{{ section.settings.light_treatment }}</h3>
            </div>
            <div id="dennis-gross" class="tabcontent tab-active">
              <h3>{{ section.settings.dennis_treatment }}</h3>
            </div>
          </div>
          <div class="portable">
            {{ section.settings.portable }}
          </div>
          <div class="Compatible">
            {{ section.settings.compatible }}
          </div>
          <div class="customizable">
            {{ section.settings.customizable }}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="btn-desc-area">
          <div class="button">
            <form action="/cart/add" method="post" enctype="multipart/form-data">
              <input type="hidden" name="id" value="{{product.selected_or_first_available_variant.id}}">
              <input type="hidden" name="quantity" value="1" min="1" class="product__single-qty">
              <button class="product-btn" type="submit" name="add" style="border: 0;">{{ current_variant.price | money_without_trailing_zeros }} <span class="old-price"> {{ current_variant.compare_at_price | money_without_trailing_zeros }} </span> - pre-order now</button>
            </form>
          </div>
          <!--           <p class="save-new-price">You Save $200</p> -->
          <!--           <div class="button">
<div class="product-addons__item_active product-addons__item_no-border">
<input class="variant variant_selected" type="hidden" value="{{product.selected_or_first_available_variant.id}}">
<input type="hidden" id="Quantity" name="quantity" value="1" min="1" class="product__single-qty">
</div>

<div class="product-single__atc button">
<button  class="product-btn button button_atc viable-button__add-to-cart {% if current_variant.available %}active{% endif %}">
<span>{{ current_variant.price | money_without_trailing_zeros }} - Add to Bag</span>
</button>
<button class="button button_atc  viable-button__add-to-cart_disabled {% unless current_variant.available %}active{% endunless %}">
<span>{{ 'products.product.sold_out' | t }}</span>
</button>
</div>
</div> -->

          <div class="btn-caption">
            <p class="caption">Starting at $74.75/mo with <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/download__1_-removebg-preview.png?v=1622730245"></p>
          </div>
          <span class="btn-note">
            <a href="#landing-popup" class="open-popup-link">Find out more about ship date</a>
          </span>
          <div id="landing-popup" class="white-popup mfp-hide">
            <p>Please note that we have currently sold out of Qure LED Light Therapy Mask.<br/>
              Ship date from our warehouse is expected early January. If you order multiple items they will be sent together. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#comparison-add-btn').on('click',function(){
      $('.prd-btn').trigger('click');
    });
  });
</script>

{% schema %}
{
"name": "Comparison Table",
"settings": [
{
"type":"text",
"id":"com_tlt",
"label":"Main Heading"
},
{
"type":"text",
"id":"com_sub_tlt",
"label":"Sub Heading"
},
{
"type":"textarea",
"id":"table",
"label":"The table"
},

{
"type":"header",
"content":"Mobile View"
},
{
"type":"header",
"content":"Number of bulbs"
},
{
"type":"text",
"id":"qure_bulbs",
"label":"Qure bulbs"
},
{
"type":"text",
"id":"peppy_bulbs",
"label":"peppy bulbs"
},
{
"type":"text",
"id":"light_bulbs",
"label":"Light bulbs"
},
{
"type":"text",
"id":"dennis_bulbs",
"label":"Dennis bulbs"
},

{
"type":"header",
"content":"Treatment Time"
},
{
"type":"text",
"id":"qure_treatment",
"label":"Qure Treatment"
},
{
"type":"text",
"id":"peppy_treatment",
"label":"peppy Treatment"
},
{
"type":"text",
"id":"light_treatment",
"label":"Light Treatment"
},
{
"type":"text",
"id":"dennis_treatment",
"label":"Dennis Treatment"
},

{
"type":"header",
"content":"Portable"
},
{
"type":"textarea",
"id":"portable",
"label":"The Portable"
},
{
"type":"header",
"content":"Compatible"
},
{
"type":"textarea",
"id":"compatible",
"label":"The Compatible"
},
{
"type":"header",
"content":"customizable"
},
{
"type":"textarea",
"id":"customizable",
"label":"The Customizable"
}

]
}
{% endschema %}
