<div class="banner-list-main">
  <div class="container mobile-hide">
    <div class="banner-listing">
      {% for block in section.blocks %}
      <div class="listing">
        <img src="{{block.settings.prd_img | img_url:'master' }}" class="img-fluid">
      </div>
       {% endfor %}
    </div>
  </div>
  <div class="review-cus-sldier mobile-show">
    <div class="swiper-container mySwiper">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
        <div class="swiper-slide">
          <div class="banner-detail">
            <div class="banner-image">
              <img src="{{block.settings.prd_img | img_url:'master' }}">
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>  

<div class="reviews-section">
  <div class="container">
    <div class="review-title-area">
      <h2 class="title">{{ section.settings.title }}</h2>
    </div>
  </div>
  {% assign product = section.settings.product %}

	<div 
			id="stamped-main-widget"   
			data-product-id="{{ product.id }}"   
			data-name="{{ product.title | escape }}"   
			data-url="{{ shop.url }}{{ product.url }}"   
			data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" 
			data-description="{{ product.description | escape }}"   
			data-product-sku="{{product.handle}}"
			data-product-type="{{product.type}}">
		{{product.metafields.stamped.reviews}}
	</div>
  
<!-- Stamped - End Main Widget -->
</div>

{% schema %}
{
"name": "Customer Review",
"settings": [

    {
        "id": "title",
        "type": "text",
        "label": "Main Title"
    },
  {
        "type": "product",
        "label": "product",
        "id": "product"
     }

],

"blocks": [
        {
            "type": "text",
            "name": "Slider",
            "settings": [
                {
                "id": "prd_img",
                "type": "image_picker",
                "label": "Choose Logo"
                }

            ]   
        }
    ],
    "presets" : [{
        "name": "Customer Review"
    }]
}
{% endschema %}
