<section class="cus-percontage">
  <div class="container">
    <div class="row">
      <ul>
        <li><a href="#" rel="noindex nofollow">
          <span class="number">{{section.settings.num1}}</span>
          <span class="num-txt">{{section.settings.text1}}</span></a>
        </li>
        <li><a href="#" class="active" rel="noindex nofollow">
          <span class="number">{{section.settings.num2}}</span>
          <span class="num-txt">{{section.settings.text2}}</span></a>
        </li>
        <li><a href="#" rel="noindex nofollow">
          <span class="number">{{section.settings.num3}}</span>
          <span class="num-txt dekstop-text">{{section.settings.text3}}</span>
          <span class="num-txt mobile-text">Blue light therapy non-invasive acne treatment. </span>
          </a>

        </li>
        <li><a href="#" rel="noindex nofollow">
          <span class="number">{{section.settings.num4}}</span>
          <span class="num-txt dekstop-text">{{section.settings.text4}}</span>
          <span class="num-txt mobile-text">Red light therapy non-invasive skin rejuvenation treatment</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
{% schema %}
{
"name": "Percentage Details",
"settings": [
{
"type": "header",
"content": "1st Details"
},
{
"type":"text",
"id":"num1",
"label":"Number"
},
{
"type":"text",
"id":"text1",
"label":"Text"
},
{
"type":"url",
"id":"details_url1",
"label":"Details URL"
},
{
"type": "header",
"content": "2bd Details"
},
{
"type":"text",
"id":"num2",
"label":"Number"
},
{
"type":"text",
"id":"text2",
"label":"Text"
},
{
"type":"url",
"id":"details_url2",
"label":"Details URL"
},
{
"type": "header",
"content": "3rd Details"
},
{
"type":"text",
"id":"num3",
"label":"Number"
},
{
"type":"text",
"id":"text3",
"label":"Text"
},
{
"type":"url",
"id":"details_url3",
"label":"Details URL"
},
{
"type": "header",
"content": "4th Details"
},
{
"type":"text",
"id":"num4",
"label":"Number"
},
{
"type":"text",
"id":"text4",
"label":"Text"
},
{
"type":"url",
"id":"details_url4",
"label":"Details URL"
},
{
"type": "header",
"content": "5th Details"
},
{
"type":"text",
"id":"num5",
"label":"Number"
},
{
"type":"text",
"id":"text5",
"label":"Text"
},
{
"type":"url",
"id":"details_url5",
"label":"Details URL"
}
]
}
{% endschema %}
