
<div id="shipping" class="active">
  <!--   <h2>Shipping</h2>
<p></p>
<p><strong><span>When can I expect to receive my Qure package?</span></strong></p>
<p>We are working closely with our external partners and carriers to ensure your Qure can reach you as quickly as possible. See below for the most up-to-date information:</p>
<p><b>Estimated Shipping Times:</b></p>
<ul>
<li>United States: 2-8 business days</li>
<li>Canada: 6-10 business days</li>
<li>Australia: 6-10 business days</li>
<li>United Kingdom: 6-10 business days</li>
</ul>
<hr /> 
<p><strong>Where does Qure ship? </strong></p>
<p>Qure currently ships worldwide!</p>
<hr /> 
<p><strong>How much is shipping? </strong></p>
<p>We offer two shipping speeds, because sometimes you can wait and sometimes you can't.</p>
<ol>
<li>Standard (3-7 business days): $10</li>
<li>Rush (1-2 business days): $30</li>
</ol>
<p>PS: Standard shipping is free when you spend $100 or more. Please allow 1 to 3 business days for us to receive and process your order.</p>
<hr /> 
<p><strong>When will my order ship? </strong></p>
<p>Here’s how it works: you order, we process, then we ship.</p>
<p>Ordering takes a few seconds. Processing takes 1 to 3 business days. Then one of our carriers takes it from there. You’ll get a shipment notification email with a tracking number as soon as your package ships. It’s on the way!</p>
<hr /> 
<p><strong>I'm having problems with the tracking.</strong></p>
<p>Sorry about that! In a few cases, the carrier takes up to 1-3 business days to register your shipment status. If your tracking number isn’t updating or working at all, please reach out to us as soon as you can via <a href="mailto:support@qureskincare.com">support@qureskincare.com</a>. We can give you the inside info.</p>
<hr /> 
<p><strong>Why is my order being returned to the sender? </strong></p>
<p>There are a few reasons an order can be returned to sender, but most often it is due to an undeliverable address (such as PO Boxes). Other instances include the package being unclaimed, or refused/returned by the customer. When this happens, please contact us at <a href="mailto:support@qureskincare.com">support@qureskincare.com</a> and we will be happy to arrange a reshipment for you!</p>
<p></p>
<hr />
<p></p>
<h2>Orders</h2>
<p></p>
<p><strong>My order was lost, damaged, or missing something! </strong></p>
<p>If your order has not arrived within (15 business days) from the day you received your tracking number or if your package arrived damaged or missing an item, please reach out and let us know. Send us an email at <a href="mailto:support@qureskincare.com">support@qureskincare.com</a> and we will do everything we can to help you asap!</p>
<hr /> 
<p><strong>Where's my order?</strong></p>
<p>You may track your order via the link in your shipping confirmation email. If you're having trouble doing this, please email us at <a href="mailto:support@qureskincare.com">support@qureskincare.com</a>.</p>
<hr /> 
<p><strong>How can I update my order or cancel my order?</strong></p>
<p>If your order has not been shipped then please email us at <a href="mailto:support@qureskincare.com">support@qureskincare.com</a> as soon as possible if you would like to cancel or change your order. Our fulfillment center processes orders quickly, but we’ll do our best to process your request.</p>
<hr /> 
<p><strong>My coupon didn't work!</strong></p>
<p>If your promo code won’t apply or you get an error message, check whether the following applies to you:</p>
<ul>
<li>You haven't entered the code exactly as it was advertised - Try copying and pasting it and don't leave any extra characters or spaces.</li>
<li>The code is expired - All codes' life eventually comes to an end, make sure you use it before that happens.</li>
<li>The code is only valid for a particular product - Double check that you're purchasing the right product for the code you want to use.</li>
<li>You didn't obtain your coupon from a valid source - These are: our website banner, social media post, or email promotions - be sure to subscribe (add link to “newsletter”) to our newsletter!</li>
</ul>
<p>If you are still experiencing problems after checking all the points above, please contact us at <a href="mailto:support@qureskincare.com">support@qureskincare.com</a>. Include the details of the coupon code you're trying to use - we’ll be happy to help!</p>
<hr /> 
<p><strong>Can I use multiple promo codes at checkout? </strong></p>
<p>You can use one promo code per order. If you’ve encountered two valid Qure promo codes then please choose the one you want to use more.</p> -->
  {% assign shipping = 'faq-orders-shipping' %}
  {{ pages[shipping].content }}
</div>
<div id="microinfusion">
  {% assign microinfusion = 'faq-microinfusion' %}
    {{ pages[microinfusion].content }}
</div>
<div id="qrejuvalight">
  {% assign rejuvalight = 'q-rejuvalight-pro-facewear' %}
  {{ pages[rejuvalight].content }}
<!--   <h2>Q-Rejuvalight Pro Facewear</h2>
  <p></p>
  <p><strong>What is the Q-Rejuvalight Pro Facewear?</strong></p>
  <p>Q-Rejuvalight Pro Facewear is your clinical-grade, LED light therapy mask which you can operate easily, all by yourself, in the comfort of your own home!</p>
  <p>It comes with a compatible iOS/Android app that allows you to fully customize, track and plan your treatments. 
  </p>
  <hr /> 
  <p><strong>How often can I use my Q-Rejuvalight Pro Facewear?</strong></p>
  <p><span style="font-weight: 400;">One of the best things about the Q-Rejuvalight Pro Facewear is that you only need to use it once per day. That's how effective the treatment is! For best results, we recommend that you do your 3 minute treatment daily. You may also do one full Anti-Ageing treatment and one full Anti-Breakout treatment per day. </span></p>
  <p></p>
  <hr /> 
  <p><strong>Where can I fit in the Q-Rejuvalight Pro Facewear Treatment in my daily skin care routine? </strong></p>
  <p>You may easily fit in a 3-minute treatment right after you wash and dry your face. The only important thing to remember is that your face should be clean before the treatment. Once the treatment is done, you may proceed in applying serums and creams to your skin as desired!</p>

  <hr /> 
  <p><strong>How does Qure’s Light Therapy technology work?</strong></p>
  <p>Q-Rejuvalight Pro Facewear uses clinical-grade technology to deliver safe, concentrated wavelengths of light directly to the underlying layers of your skin. The optimal wavelengths of light are absorbed by your skin cells and kick start the production of collagen, elastin, and fibroblasts. In turn, this stimulates mechanisms within the skin that solve skin problems and concerns from the inside out.</p>
  <hr /> 
  <p><strong>What treatment functions does the Q-Rejuvalight Pro Facewear have?</strong></p>
  <p>Q-Rejuvalight Pro Facewear offers three (3) different treatment modes:</p>
  <ul>
    <li>Anti-Ageing (Red Light Therapy)</li>
    <li>Anti-Breakout (Blue and Red Light Therapy)</li>
    <li>Custom zone selection on five facial areas</li>
  </ul>
  <hr /> 
  <p><strong>What does the Anti-ageing treatment treat? </strong></p>
  <p>The Qure Anti-ageing treatment rejuvenates the skin and combats signs of ageing like smoothing fine lines and wrinkles. But not only that, this treatment improves skin tone and texture by firming, soothing and brightening the skin, reduces redness and inflammation, and improves the appearance of sun spots and hyperpigmentation. </p>
  <p>With daily-treatments, users typically see visible improvement of wrinkles, fine lines and signs of ageing, as well as improved skin tone and smoothness after 10 weeks.</p>
  <hr /> 
  <p><strong>What does the Anti-breakout treatment treat? </strong></p>
  <p>The Qure Anti-Breakout treatment is an effective treatment for clearing up mild acne. It eliminates active breakouts and prevents future flare ups, regulates oil production, minimizes pore size, reduces and fades post breakout marks on the skin. </p>
  <p>With daily-treatments, users will typically notice a reduction in acne breakouts after just 2 weeks! </p>
  <hr /> 
  <p><strong>How do I start my first treatment? </strong></p>
  <p>Activate your Q-Rejuvalight Pro Facewear via the Qure Skincare app, or follow the How To Use guide, which can be found inside the box. 
  </p>
  <p>After cleansing your face, place our Q-Rejuvalight Pro Facewear comfortably over the face, securing strap around head. Press and hold the Q power button on forehead for 3 seconds to turn on our Q-Rejuvalight Pro Facewear, select treatment mode on the app (Anti-ageing or Anti-Breakout) and start your treatment! 
  </p>
  <hr /> 
  <p><strong>Can I customize my Q-Rejuvalight Pro Facewear treatment routine using the app? </strong></p>
  <p>Yes! While each Q-Rejuvalight Pro Facewear comes with a recommended pre-programmed treatment routine, you can personalize your treatments and experience by creating your own treatment routine via the Qure Skincare app. You can choose your preferred treatment mode (Anti-Ageing or Anti-Breakout) on 5 different facial areas. 
  </p>
  <hr /> 
  <p><strong>Does my Q-Rejuvalight Pro Facewear work without the app? </strong></p>
  <p>You can manually use your Q-Rejuvalight Pro Facewear without using the app. However if you’re wanting to customise your treatment on different areas on your face, then this will need to be done via the Qure Skincare app. 
  </p>
  <hr />   
  <p><strong>To choose/change a full treatment without using the app, follow the instructions below:</strong></p>
  <ul>
    <li>Power on the device by holding the Q button on forehead until the red indicator light is on </li>
    <li>Press the button once for Anti-Ageing Treatment</li>
    <li>Press it again for Anti-Breakout Treatment</li>
    <li>Switch off the device by holding down the Q button until the indicator light turns off</li>
  </ul>
  <hr /> 
  <p><strong>Is the Q-Rejuvalight Pro Facewear safe to use?</strong></p>
  <p>Yes! Light therapy has been studied and tested across hundreds of peer-reviewed clinical trials, with overwhelmingly positive results for skin health. The treatment is pain free, non-invasive, requires no surgery and is a completely safe and effective treatment for all skin types.
  </p>
  <hr/>
  <p><strong>How long will it take before I start seeing results?</strong></p>
  <p>Depending on what skin concern you’re wanting to treat.</p>
  <p>With daily use, users will typically notice a reduction in acne breakouts after just 2 weeks! </p>
  <p>Whilst users typically see visible improvement of wrinkles, fine lines and signs of ageing, as well as improved skin tone and smoothness after 8-10 weeks.</p>
  <hr/>
  <p><strong>Can I use the Q-Rejuvalight Pro Facewear with retinol and microneedling routine?</strong></p>
  <p>You can use the Q-Rejuvalight Pro Facewear within days of microneedling since light therapy can speed up recovery time! Retinol is a treatment that helps slough skin away so you can use light therapy after this as well. </p>
  <hr/>
  <p><strong>What type of LEDs do you use and how many are on Q-Rejuvalight Pro Facewear?</strong></p>
  <p>The Q-Rejuvalight Pro Facewear has 72 dual-core Red/Blue wavelength LED lights to stimulate your skin’s natural ability to heal itself. </p>
  <hr/>
  <p><strong>Does the Q-Rejuvalight Pro Facewear use infrared light as well?</strong></p>
  <p>Yes! The Q-Rejuvalight Pro Facewear uses red, infrared, amber, and deep red lights for the Anti-Ageing treatment. /p>
  <hr/>
  <p><strong>Is the Q-Rejuvalight Pro Facewear BPA free?</strong></p>
  <p>We always aim to provide excellent products to our customers to make them beautiful and healthy! Therefore, the Q-Rejuvalight Pro Facewear is BPA free.</p>
  <hr/>
  <p><strong>What’s included in the box?</strong></p>
  <ul>
    <li>Q-Rejuvalight Pro Facewear</li>
    <li>Detachable, adjustable head strap for universal fit</li>
    <li>Universal USB charging cord (5V)</li>
    <li>Storage bag </li>
  </ul>
  <hr/>
  <p><strong>Does the Q-Rejuvalight Pro Facewear come with a warranty?</strong></p>
  <p>Yes, Q-Rejuvalight Pro Facewear comes with a 1-year warranty. For more information on warranty, please visit <a href="www.qeskincare.com/pages/warranty"/>www.qeskincare.com/pages/warranty</a></p>
<hr/>
<p><strong>Is it safe to use LED light therapy while pregnant or breastfeeding?</strong></p>
<p>For pregnant or breastfeeding mums, we recommend that you check with your doctor before starting any new skincare regimen</p>
<p>As there are limited studies on the use of LED light therapy during pregnancy and breastfeeding, we cannot recommend light therapy for you during this special time. If you are currently pregnant or planning to become pregnant in the next eight weeks, we recommend consulting with your doctor as you may not be a suitable candidate for light therapy.</p>
<hr/>
<p><strong>How do I charge my Q-Rejuvalight Pro Facewear? </strong></p>
<p>The Q-Rejuvalight Pro Facewear is USB-rechargeable. A two and a half hour charge can deliver up to 10 treatments. </p>
<p>Plug the USB-C power/charging cord into the port connector of your Q-Rejuvalight Pro Facewear, then plug it into a universal USB power adapter. Device is fully charged when the Power RED indicator light next to the charging port is turned OFF.</p>
<hr/>
<p><strong>What is the best way to clean the Q-Rejuvalight Pro after use?</strong></p>
<p>Wipe the inside with a damp cloth to remove any residue from skin oils after each use. Make sure the Q-Rejuvalight Pro Facewear is unplugged and turned off. Then use a damp, soft, or microfiber cloth to clean the facial area. Repeat until the Q-Rejuvalight Pro Facewear is clean and then dry with a clean dry cloth.
</p>
<hr/>
<p><strong>What does it mean when my Q-Rejuvalight Pro Facewear is continuously blinking?</strong></p>
<p>A blinking red light around device indicates that your Q-Rejuvalight Pro Facewear is low in battery and needs to be charged.</p>
<hr/>
<p><strong>Should I close my eyes during treatment?</strong></p>
<p>The light can be bright when powered on, therefore we recommend that you always close your eyes during each treatment and relax. Do not aim or look directly into the lights. Doing so may cause temporary vision discomfort. Placement of the device should ensure that no part of the device is covering the eyes.
</p> -->
  
</div>
<div id="returns">
  {% assign returns = 'returns-refunds' %}
  {{ pages[returns].content }}
<!--   <h2>Returns & Exchanges</h2>
  <p></p>
  <p>We understand that sometimes, a product just isn’t right for you. If that happens, you may process a return request within 30 days of receiving your order. We also recommend that you read Qure’s 30-day Return Policy.</p>
  <p></p>
  <p>To place a return, or if you are having trouble making a return within the 30 day timeframe, please reach out to us by sending an email at support@qureskincare.com, and one of our awesome representatives will be happy to help you!</p>
  <hr />
  <ul>
    <ul> </ul>
  </ul>
  <p><strong>How do I place a return or exchange? </strong></p>
  <p>We are sorry to hear that you didn't love your Qure product. Please reach out to <a href="mailto:support@qureskincare.com">support@qureskincare.com</a> with your order number and the products you'd like to exchange or return, and we'll take care of the rest.</p>
  <hr />
  <ul>
    <ul> </ul>
  </ul>
  <p><strong>How long does it take to credit my account for refunds? </strong></p>
  <p>Credit card refunds usually take 5-10 business days to appear on your statement.</p>
  <hr />
  <ul>
    <ul> </ul>
  </ul>
  <p><strong>What should I do if I receive the wrong product? </strong></p>
  <p>If you received a product different from the one that you ordered, please contact us at <a href="mailto:support@qureskincare.com">support@qureskincare.com</a> and we’ll be sure to make this right!</p> -->
  
</div>
<div id="billing">
  {% assign billing = 'billing-payments-1' %}
  {{ pages[billing].content }}
<!--   <h2>Billing & Payments</h2>
  <p></p>
  <hr /> 
  <p><strong>What forms of payment do you accept?</strong></p>
  <p>We accept Visa, Mastercard, American Express, JCB, Discover, and Diners Club credit cards or debit cards and PayPal.</p>
  <hr /> 
  <p><strong>Where does Qure ship? </strong></p>
  <p>Qure currently ships worldwide. You may experience longer delivery times when shipping to Europe, Australia, England.</p>
  <hr /> 
  <p><strong>When will my credit card be charged?</strong></p>
  <p>Your credit card will be charged as soon as your order is accepted and processed.</p>
  <hr /> 
  <p><strong>Can I remove a saved payment method? </strong></p>
  <p>Of course! You can make this change on your account page. If you need help, email us at <a href="mailto:support@qureskincare.com">support@qureskincare.com</a>.</p>
  <hr /> 
  <p><strong>What can I do if my payment is declined? </strong></p>
  <p>Here are a few things to check if your payment didn’t go through: Check that your card’s billing details (such as the security code and billing address) match what you’ve entered into our system.</p>
  <hr /> 
  <p><strong>Is your card expired? </strong></p>
  <p>Your card issuer may have declined your payment. They don’t tell us the reason for this, so it’s best to check with your bank or card issuer before trying your card again. If none of these apply, please contact us at <a href="mailto:support@qureskincare.com">support@qureskincare.com</a>. We’re happy to help!</p>
  <hr /> 
  <p><strong>What is the credit card statement or PayPal statement name? </strong></p>
  <p>Please look out for “QURE SKIN” or “INSPIREBRANDS” charge on your credit card statement or PayPal account after you have placed your order. If you’re not sure what charge description you should be looking for then please send us an email at <a href="mailto:support@qureskincare.com">support@qureskincare.com</a>.</p> -->
</div>
<div id="warranty">
  {% assign warranty = 'warranty' %}
  {{ pages[warranty].content }}
<!--   <h2>Limited Warranty Information</h2>
  <p></p>
  <p><strong>What is covered by the limited warranty?</strong></p>
  <p>This 1-year limited warranty covers defects in materials and workmanship in your Q-Rejuvalight Pro Facewear when purchased through an authorized partner or directly from Qure Skincare. Your 1-year limited warranty is valid for you alone, the original purchaser, and cannot be transferred.</p>
  <p>If the product was a gift then please obtain a copy of the original receipt or have the original purchaser process the warranty claim on your behalf.</p>
  <hr />
  <p><strong>What is not covered by this limited warranty?</strong></p>
  <p>This limited warranty does not cover: damage, defects, failure caused by abuse or misuse, improper care, impact or insertion of foreign objects, use with a voltage connector, or loss of device.</p>
  <hr />
  <p><strong>How long does this limited warranty last?</strong></p>
  <p>The limited warranty begins from the date of purchase and expires after one year. The warranty period is not extended if your device is replaced by Qure during the warranty period.</p>
  <hr /> 
  <p><strong>What will Qure do if your device is defective?</strong></p>
  <p>If you discover a defect in your Q-Rejuvalight Pro Facewear covered by the warranty, before the 1-year warranty period expires, contact Qure customer support for assistance. If we confirm a defect covered by this limited warranty, Qure will decide whether to replace your device with either a new or refurbished device. If we find that your device is not defective, we will notify you and return the device to you. All Limited Warranty services must be authorized and performed by Qure or a service provider authorized by Qure.</p>
  <hr />
  <p><strong>WARRANTY LIMITATIONS &amp; DISCLAIMERS</strong></p>
  <p></p>
  <p>This warranty gives you specific legal rights, and is in addition to your statutory rights. Your remedies for the breach of this limited warranty are limited solely to the repair and replacement of your device as set forth in this warranty statement.</p>
  <p></p>
  <p>To the maximum extent permitted by applicable law, Qure disclaims all implied warranties. If applicable law does not permit the disclaimer of implied warranties, then the duration of implied warranties are hereby expressly limited to the duration of the express limited warranty set forth above.</p>
  <p></p>
  <p>In no event shall Qure be liable for any special, incidental, consequential, punitive or indirect damages based upon breach of warranty, breach of contract, tort (including negligence or strict product liability) or otherwise, even if Qure is advised or aware that such damages may arise. Such damages include, but are not limited to: loss of Qure cost of any substitute equipment, the claims of third parties or damage to property.</p>
  <p></p>
  <p>If the applicable law does not allow limits on warranties, or on remedies for breach in certain transactions, the limits in this paragraph and the disclaimer or exceptions from warranty may not apply. This limitation does not apply to claims for death or personal injury caused by a defect in the device or any other liability that cannot be excluded or limited by law.</p>
  <p></p>
  <p>These warranty terms, conditions, and limitations allocate the risks of product failure between Qure and you, the purchaser. This allocation is recognized by both parties and is reflected in the price by using Q-Rejuvalight Pro Facewear you acknowledge that you have read these terms, conditions, and limitations, understand them and are bound by them.</p> -->
</div>
<div id="skincareapp">
<!--   <h2>Qure Skincare App</h2>
  <p> </p>
  <p><b>What is the Qure Skincare App for?</b></p>
  <p><span style="font-weight: 400;">The Qure Skincare app allows you to unlock all the best features of your Q-Rejuvalight Pro Facewear! You can fully customize, track and plan your light therapy treatments.  It gives you full control of your skincare treatments, with a personalized program that's unique to your skin profile. </span></p>
  <hr /><span> </span>
  <p><b>What does it mean to “customize” my Q-Rejuvalight Pro treatment?</b></p>
  <p><span style="font-weight: 400;">The Q-Rejuvalight Pro Facewear is the world’s first customizable LED light therapy home device. You can personalise your treatments by selecting either the Anti-Ageing or Anti-Breakout mode on 5 different facial areas (or even full face) via the Qure Skincare app. </span></p>
  <p><span style="font-weight: 400;">Not everyone has the same concerns or skin issues that they want to Qure.</span></p>
  <p><span style="font-weight: 400;">So, if you were wanting to target breakout concerns on your chin and nose, then you can program the Anti-Breakout treatment on those facial areas, whilst having the Anti-Ageing treatment on the rest of your face like your forehead, eyes and cheeks. </span></p>
  <p><span style="font-weight: 400;">It’s your own personalised LED light therapy treatment, that you can tailor to your own skin’s needs and concerns.</span></p>
  <p><span style="font-weight: 400;">For more information on how to select your treatments on different facial areas, click the question mark icon on the top left hand corner of the treatment page of the app. </span></p>
  <hr />
  <p><span> </span></p>
  <p><b>How do I pair the Qure Skincare app with my Q-Rejuvalight Pro Facewear?</b></p>
  <p><span style="font-weight: 400;">To pair the app with your Q-Rejuvalight Pro Facewear, follow these steps:</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Open the app on your mobile device and follow the instructions to set up your profile and pair your Q-Rejuvalight Pro Facewear with the app. </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Turn on your Bluetooth on your phone. </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Turn on Q-Rejuvalight Pro Facewear by holding the center button on the forehead until the light is on.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Once your Q-Rejuvalight Pro Facewear appears on the Bluetooth available devices list, click on it to connect. </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">White indicator light appears when Q-Rejuvalight Pro Facewear is paired.</span></li>
  </ol>
  <hr />
  <p><span> </span></p>
  <p><b>How do I schedule my treatment and get reminders on my phone?</b></p>
  <p><span style="font-weight: 400;">For the best results, we recommend doing a 3 minute treatment daily. We know life gets busy and we can forget to do some self-care. With the Qure Skincare app you can schedule in your at home clinical LED light therapy treatments and get reminders sent to your phone.</span></p>
  <p><span style="font-weight: 400;">Follow these steps to schedule your treatments via the app:</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Launch the Qure Skincare App</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Tap </span><b>Calendar</b></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Tap </span><b>Plan Your Treatment</b></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Tap </span><b>Date </b><span style="font-weight: 400;">and select the date when you want to start your treatment. Tap </span><b>OK</b></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Tap </span><b>Time </b><span style="font-weight: 400;">and choose which time you want to set your treatment. Tap </span><b>OK</b></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">You’ll have the option to choose whether to repeat this treatment everyday.</span></li>
    <li style="font-weight: 400;">If you want to be reminded about the schedule of your treatment, turn on the button slider under <b>Reminders</b></li>
  </ol>
  <hr />
  <p><span> </span></p>
  <p><b>What’s a Challenge? How do I start a Challenge?</b></p>
  <p><span style="font-weight: 400;">A challenge allows you to choose between an 8-week Anti-Breakout or Anti-Ageing treatment for maximum results! </span></p>
  <p><span style="font-weight: 400;">To start a challenge, follow the steps below:</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Launch the Qure Skincare App</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Tap </span><b>Calendar</b></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Tap </span><b>Plan Your Treatment</b></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Tap the button under </span><b>or, start a Challenge</b></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">You’ll have the option to choose between </span><b>Full Anti-Breakout treatment</b><span style="font-weight: 400;">, or </span><b>Full Anti-Ageing treatment</b><span style="font-weight: 400;"> for 8 weeks.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Once you have decided which treatment you like, tap </span><b>Go for it!</b></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Tap </span><b>Date </b><span style="font-weight: 400;">and select the date when you want to start your treatment. Tap </span><b>OK</b></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Tap </span><b>Time </b><span style="font-weight: 400;">and choose which time you want to set your treatment. Tap </span><b>OK</b></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">If you want to be reminded about the schedule of your treatment, turn on the button slider under </span><b>Reminders</b></li>
    <li style="font-weight: 400;">Tap <b>Go for it!</b> to save your challenge</li>
  </ol>
  <hr />
  <p><span> </span></p>
  <p><b>Where can I download the Qure Skincare App?</b></p>
  <p><span style="font-weight: 400;">You can download the Qure Skincare App via </span><a href="https://play.google.com/store/apps/details?id=com.lighttreeventures.qure"><span style="font-weight: 400;">Google Play</span></a><span style="font-weight: 400;"> and </span><a href="https://apps.apple.com/us/app/qure-skincare/id1537832613"><span style="font-weight: 400;">Apple App Store</span></a><span style="font-weight: 400;">.</span></p>
  <hr />
  <p> </p> -->
  {% assign qure = 'app-page' %}
  {{ pages[qure].content }}
</div>
<div id="Troubleshooting">
  <h2>Troubleshooting</h2>
  {% assign troubleshooting = 'faq-troubleshooting' %}
  {{ pages[troubleshooting].content }}
  
<!--   <p>
    <b>Why is my Q-Rejuvalight Pro Facewear not turning on?</b>
  </p>
  <p>If your Q-Rejuvalight Pro Facewear is not turning on, follow these troubleshooting steps:</p>
  <ol style="list-style: lower-alpha;">
    <li>Is Q-Rejuvalight Pro Facewear fully charged? If the white indicator light is blinking then please charge the Q-Rejuvalight Pro Facewear.</li>
    <li>If the power cable is connected to the Q-Rejuvalight Pro Facewear and the RED indicator light is still turned off, please contact Qure customer support at support@qureskincare.com.</li>
    <li>If the Q-Rejuvalight Pro Facewear is fully charged and still does not turn on, please contact Qure customer support.</li>
  </ol>
  
  <p>
    <b>Why is my Q-Rejuvalight Pro Facewear not charging?</b>
  </p>
  <p>Follow the steps below to troubleshoot the issue:</p>
  <ol style="list-style: lower-alpha;">
    <li>Make sure that the USB-C power cord is firmly inserted into the Q-Rejuvalight Pro Facewear, and check if the power indicator light turns on.</li>
    <li>Try a different USB-C Power Adapter to ensure it is working properly.</li>
  </ol>
  <ol style="list-style: lower-alpha;">
    <li>Try a different wall outlet to determine if there is power to the outlet.</li>
    <li>If the Q-Rejuvalight Pro Facewear still does not charge then please contact Qure customer support at <a href="mailto:support@qureskincare.com">support@qureskincare.com</a>.</li>
  </ol>
  <p><b>My Q-Rejuvalight Pro Facewear shuts off abruptly, prior to completion of 3 minute treatment. Why is that?</b></p>
  <p>The Q-Rejuvalight Pro Facewear is designed to shut off automatically after 3 minutes. It also may shut off after multiple repeated uses if it exceeds desired temperature. Allow the Q-Rejuvalight Pro Facewear to cool for several minutes and try again. If the Q-Rejuvalight Pro Facewear continues to shut off prior to 3 minutes, please contact Qure support at <a href="mailto:support@qureskincare.com">support@qureskincare.com</a>.</p>
  <p><b>The Qure Skincare App does not connect to the Q-Rejuvalight Pro Facewear. What should I do?</b></p>
  <p>Make sure that Location Sharing is enabled on your phone. Once confirmed, exit out of the app, and reopen - then connect to the Q-Rejuvalight Pro Facewear.</p> -->
</div>

{% schema %}
{
"name": "Section name",
"settings": []
}
{% endschema %}
