<div class="deks-header">
  {% if section.settings.heading !=blank %}
    <div class="deks-ann">
      {{ section.settings.heading }}
    </div>
  {% endif %}  
  <div class="dek-menu">
    {% if section.settings.svg !=blank %}
    <div class="logo">
		<a href="{{ shop.url }}" title="Qure">
    	{{ section.settings.svg }}
		</a>
    </div>
    {% endif %}  
    <div class="menu">
      <ul>
        {% assign link = section.settings.menu.links %}
        {% for main_link in link %}
          <li>
            <a href="javascript:void(0)" class="benefits-no-{{forloop.index}}" rel="noindex nofollow">
              {{ main_link.title }}
            </a>
          </li>
        {% endfor %} 
      </ul>
      {% if section.settings.button !=blank %}
      <a href="{{ section.settings.link | default:'javascript:void(0)' }}" class="sho-btn-cus">{{ section.settings.button }}
      <span class="btns__arrow">
        <svg width="10" height="12" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L8 8L1 15" stroke="black" stroke-width="2"></path>
        </svg>
        </span>  
      </a>
      {% endif %}  
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Desktop Header",
  "settings": [
    {
      "type":"text",
      "id":"heading",
      "label":"Heading"
    },
    {
      "type":"html",
      "id":"svg",
      "label":"Logo"
    },
    {
      "type":"link_list",
      "id":"menu",
      "label":"Menu"
    },
    {
      "type":"text",
      "id":"button",
      "label":"Button"
    },
    {
      "type":"url",
      "id":"link",
      "label":"Link"
    }
  ]
}
{% endschema %}
