  <div class="reviews-section">
    <div class="container">
      <div class="review-title-area">
        <h2 class="title">
        
          Real reviews, real results from people just like you.
       
        </h2>
      </div>
    </div>
  <!--  <div id="stamped-main-widget" 
         data-widget-style="standard"
         data-product-id="7802862862575" 
         data-name="Micro-Infusion 3 Month Bundle (6x E.G.F. Serum)" 
         data-url="https://www.qureskincare.com/products/micro-infusion-3-month-bundle" 
         data-image-url="//cdn.shopify.com/s/files/1/0441/1431/3365/products/MicroinfusionSystemx6_large.png%3Fv=1661168723" 
         data-description="{{ product.description | escape }}" 
         data-product-sku="{{product.handle}}"
         data-product-type="micro-infusion-3-month-bundle"> 
    </div> -->
    
   
<!-- Stamped - Begin main-widget -->
<div 
     id="stamped-main-widget" 
     class="stamped-main-widget" 
     data-product-id="{{ product.id }}" 
     data-name="{{ product.title | escape }}" 
     data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: " ? ", " % 3F" | replace: "& "," % 26"}}" 
     data-description="{{ product.description | escape }}" 
     data-product-sku="{{product.handle}}" 
     data-product-type="{{product.type}}"></div>
<!-- Stamped - End main-widget -->
 
    
 
  </div>
  
  {% schema %}
  {
  "name": "Reviews",
  "settings": [
      {
          "id": "title",
          "type": "text",
          "label": "Main Title"
      },
      {
        "type": "product",
        "id": "product",
        "label": "select product"
      }
  
  ],
  
  "blocks": [
          {
              "type": "text",
              "name": "Slider",
              "settings": [
                  {
                  "id": "prd_img",
                  "type": "image_picker",
                  "label": "Choose Logo"
                  }
  
              ]   
          }
      ],
      "presets" : [{
          "name": "Reviews"
      }]
  }
  {% endschema %}
  