<div class="signific-section">
  <div class="signific-content">
    <h2>Treat multiple concerns with ONE serum.<br> No multi-step routine, no multi-layering.</h2>
    <p><b>Reclaim your confidence,</b> leave the house without make up and <b>feel good</b> about your skin at any age. <br><br>
      Effectively <b>reduce</b> the visibility of <b>fine lines</b> and <b>dark spots, boost firmness, smooth texture</b> and get a <b>radiant glow</b> with our 1-step multi-tasking face serum.  </p>
  </div>
  <div class="container">
    <div class="row first-image">
      <div class="col-md-6 d-flex">
        <div class="signicfic-content">
          <h2>{{ section.settings.rev_title }}</h2>
          {{ section.settings.text }}
        </div>
      </div>
      <div class="col-md-6 col-image">
        <div class="signific-image">
          <img src="{{ section.settings.img_rev | img_url:'master' }}" alt="">
        </div>
      </div>
      <div class="col-md-12 col-ingredi">
         <div class="set serum-ingredients">
            <a href="javascript:;" class="ingredient-class">
              <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L8 8L1 15" stroke="white" stroke-width="2"></path>
            </svg>
              Ingredients
            </a>
            <div class="content">
              <div class="ingredients-slider-1">
                <div class="ingredients-slider-main">
                  <div class="slider-info">
                    <div class="image_title">
                      <div class="image_slid">
                        <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/bakuchiol-1_2.png?v=1682595141"  alt="">
                      </div>
                      <div class="slide_title">
                        <h3><b>Niacinamide</b> (Vitamin B3 Derivative)</h3>
<!--                         <a href="">soothe & smooth</a> -->
                      </div>
                    </div>
                    <div class="sldier-des">
                      <p>All star ingredient! It’s endless list of benefits addresses most skin concerns. It helps to clarify and even skin tone, reduce wrinkles, minimize enlarged pores, strengthen skin’s moisture barrier, reduce acne and redness - without sensitivity or irritation.</p>
                    </div>
                  </div>
                  <div class="slide-popup">
                    <h4>In a Clinical trial...</h4>
                    <p><b>…100% of subjects</b> reported significant improvement in fine lines, radiance, acne breakouts and smoothness.</p>
                    <div id="slid-01" class="white-popup mfp-hide">
                      <p>A 12-week clinical study demonstrated a 21% improvement in fine lines along with a 14% skin tone clarity and 15% radiance improvement. Improvements were reported as early as 2 weeks. Subjects reported no stinging, itching, dryness, or tingling after 10 weeks.</p>
                      <br/>  
                      <h2>In another Clinical Trial…</h2>
                      <p>Subjects experienced significantly lowered oil production after 2 and 4 weeks of application with reduced clogged pores and acne breakouts.</p>
                      <p><i>References: J Drugs Dermatol 2016 Jul 1;15(7):863-8 combined with 0.5% retinol. Int J Dermatol. 1995 Jun;34(6):434-7. doi: 10.1111/j.1365-4362.1995.tb04449.x.</i></p>
                    </div> 
                    <a href="#slid-01" class="open-popup-link nutrient-btn">Read more about clinical Study<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Group_502.png?v=1622025966" alt=""></a>
                  </div>
                </div>
                <div class="ingredients-slider-main">
                  <div class="slider-info">
                    <div class="image_title">
                      <div class="image_slid">
                        <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/871d6d8c-e304-11eb-97c3-a0369f103266_1_845dcb16-1214-4476-8fc2-6caa8e9e4bb5.png?v=1682595359"  alt="">
                      </div>
                      <div class="slide_title">
                        <h3><b>Lactic & Mandelic acid</b> (Gentle Exfoliators)</h3>
<!--                         <a href="">renew</a> -->
                      </div>
                    </div>
                    <div class="sldier-des">
                      <p>Two types of gentle chemical exfoliants that gobble up the top layer of dead cells to reveal clearer, more plump skin. These alpha hydroxy acids (aka, AHAs) work better together to gently exfoliate, hydrate, and help firm the skin.</p>
                    </div>
                  </div>
                  <div class="slide-popup">
                    <h4>In a Clinical trial...</h4>
                    <p><b>...100% of subjects</b> reported firmer, smoother skin resulting in fewer fine lines and wrinkles, along with reduction of acne.</p>
                    <div id="slid-02" class="white-popup mfp-hide">
                      <p>Participants using lactic acid experienced fimer, thicker skin and saw significant improvement in reduction of lines and wrinkles after application with boosted skin radiance. Along with reduction and prevention of acne lesions.</p>
                      <br>
                      <h2>About the clinical trial</h2>
                      <p>Clinical trial was conducted and test participants applied lactic acid twice a day for 3 months. Changes in skin smoothness and texture, the depth and number of lines and wrinkles, and epidermal and dermal firmness and thickness were determined.</p>
                      <p><i>Reference: Rathi SK. Acne vulgaris treatment : The Current Scenario. Indian J Dermatol 2011;56:7-13</i></p>
                    </div> 
                    <a href="#slid-02" class="open-popup-link nutrient-btn">Read more about clinical Study<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Group_502.png?v=1622025966" alt=""></a>
                  </div>
                </div>

                <div class="ingredients-slider-main">
                  <div class="slider-info">
                    <div class="image_title">
                      <div class="image_slid">
                        <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/retinol_1.png?v=1683099433" alt="">
                      </div>
                      <div class="slide_title">
                        <h3><b>Retinol</b>(Vitamin A)</h3>
<!--                         <a href="">renew</a> -->
                      </div>
                    </div>
                    <div class="sldier-des">
                      <p>Encourages healthy skin cell turnover, which brings new cells to the surface to reduce the visibility of wrinkles and fine lines associated with natural aging, fade age spots, and more.</p>
                    </div>
                  </div>
                  <div class="slide-popup">
                    <h4>In a Clinical trial...</h4>
                    <p><b>…Reduction of facial wrinkles by up to 63.74%</b> was experienced by <b>100% of subjects,</b> from induction of collagen production.</p>
                    <div id="slid-03" class="white-popup mfp-hide">
                      <p>Topical retinol improves fine wrinkles associated with natural aging. Significant induction of increased collagen production, retinol-treated aged skin offers greater skin matrix synthesis and improved appearance. Facial wrinkles were reduced by 63.74% at the cheeks and 38.74% in the eye areas after 12 weeks of treatment.</p>
                      <br>
                      <h2>About the clinical trial</h2>
                      <p>Clinical trial was conducted and included subjects between the ages of 35 and 55. A retinol formulation was applied for 12 weeks on the participants. The efficacy and results in improving skin appearance was assessed using digital image-based wrinkle analysis after 12 weeks of retinol application.</p>
                      <p><i>Reference: Rong Kong, PhD,1 Yilei Cui, PhD,2 Gary J. Fisher, PhD,2 Xiaojuan Wang, BS,3 Yinbei Chen, MS,3. Journal of Cosmetic Dermatology (2015).</i></p>
                    </div> 
                    <a href="#slid-03" class="open-popup-link nutrient-btn">Read more about clinical Study<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Group_502.png?v=1622025966" alt=""></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>


    <div class="row second-image">

      <div class="col-md-6 d-flex">
        <div class="signicfic-content">
          <h2>{{ section.settings.rev_title_1 }}</h2>
          {{ section.settings.text_1 }}
        </div> 
      </div>
      <div class="col-md-6">
        <div class="signific-image">
          <img src="{{ section.settings.img_rev_1 | img_url:'master' }}" alt="">
        </div>
      </div>
      <div class="col-md-12 col-ingredi">
        <div class="set serum-ingredients">
    <a href="javascript:;" class="ingredient-class">
      <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L8 8L1 15" stroke="white" stroke-width="2"></path>
    </svg>
      Ingredients
    </a>
    <div class="content">
      <div class="ingredients-slider-1">
        <div class="ingredients-slider-main">
          <div class="slider-info">
            <div class="image_title">
              <div class="image_slid">
                <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/argireline_peptide_1_1_208b46ad-7ca4-42a8-8ed8-ad9b70ea63c9.png?v=1683104975"  alt="">
              </div>
              <div class="slide_title">
                <h3><b>Argireline® Peptides</b></h3>
<!--                 <a href="">soothe & smooth</a> -->
              </div>
            </div>
            <div class="sldier-des">
              <p>Our All-In-One Face Serum is packed with the <b>most trusted anti-aging peptide in the world.</b> Argireline is proven to <b>stimulate collagen</b> production which in turn makes <b>fine lines less visible</b> and boosts the moisture of your skin for a <b>firmer, more youthful</b> appearance!</p>
            </div>
          </div>
          <div class="slide-popup">
            <h4>In a Clinical trial...</h4>
            <p><b>…Argireline</b> has been found to be effective in <b>reducing wrinkles,</b> with efficacies <b>up to 48%</b> upon 4 weeks of twice daily treatment.</p>
            <div id="slid-04" class="white-popup mfp-hide">
              <p>Argireline, a mimetic of Botox, has been found to be safer than Botox and effective in reducing wrinkles, with efficacies up to 48% upon 4 weeks of twice daily treatment. The total anti wrinkle efficiency in the Argireline group was 48.9%, the depth of the wrinkles was notably reduced. </p>
              <br>
              <h2>About the clinical trial</h2>
              <p>Clinical trial was conducted and included 60 subjects that received a randomized treatment of argireline or placebo in a ratio of 3:1. Argireline or placebo was applied to their periorbital wrinkles twice daily for 4 weeks, and then evaluations were made for the improvements in wrinkles. Silicone replicas of the skin at the application area were made before and after the treatment, which were analyzed by a wrinkle-analysis apparatus.
</p>
              <p><i>Reference: Am J Clin Dermatol. 2013 Apr;14(2):147-53. The anti-wrinkle efficacy of argireline, a synthetic hexapeptide, in Chinese subjects: a randomized, placebo-controlled study. doi: 10.1007/s40257-013-0009-9.


</i></p>
            </div> 
            <a href="#slid-04" class="open-popup-link nutrient-btn">Read more about clinical Study<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Group_502.png?v=1622025966" alt=""></a>
          </div>
        </div>
      <div class="ingredients-slider-main">
          <div class="slider-info">
            <div class="image_title">
              <div class="image_slid">
                <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/871d6d8c-e304-11eb-97c3-a0369f103266_1_845dcb16-1214-4476-8fc2-6caa8e9e4bb5.png?v=1682595359" alt="">
              </div>
              <div class="slide_title">
                <h3><b>Retinol</b> (Vitamin A)</h3>
<!--                 <a href="">renew</a> -->
              </div>
            </div>
            <div class="sldier-des">
              <p>Encourages healthy skin cell turnover, which brings new cells to the surface to reduce the visibility of wrinkles and fine lines associated with natural aging, fade age spots, and more.</p>
            </div>
          </div>
          <div class="slide-popup">
            <h4>In a Clinical trial...</h4>
            <p><b>…Reduction of facial wrinkles by up to 63.74%</b> was experienced by <b>100% of subjects,</b> from induction of collagen production.</p>
            <div id="slid-05" class="white-popup mfp-hide">
              <p>Topical retinol improves fine wrinkles associated with natural aging. Significant induction of increased collagen production, retinol-treated aged skin offers greater skin matrix synthesis and improved appearance. Facial wrinkles were reduced by 63.74% at the cheeks and 38.74% in the eye areas after 12 weeks of treatment.</p>
                      <br>
                      <h2>About the clinical trial</h2>
                      <p>Clinical trial was conducted and included subjects between the ages of 35 and 55. A retinol formulation was applied for 12 weeks on the participants. The efficacy and results in improving skin appearance was assessed using digital image-based wrinkle analysis after 12 weeks of retinol application.</p>
                      <p><i>Reference: Rong Kong, PhD,1 Yilei Cui, PhD,2 Gary J. Fisher, PhD,2 Xiaojuan Wang, BS,3 Yinbei Chen, MS,3. Journal of Cosmetic Dermatology (2015).</i></p>
            </div> 
            <a href="#slid-05" class="open-popup-link nutrient-btn">Read more about clinical Study<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Group_502.png?v=1622025966" alt=""></a>
          </div>
        </div>

        <div class="ingredients-slider-main">
          <div class="slider-info">
            <div class="image_title">
              <div class="image_slid">
                <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/bakuchiol-1_1_2_98ebaeaa-3f0a-45b6-acf7-cda1a280ee52.png?v=1683105100"  alt="">
              </div>
              <div class="slide_title">
                <h3><b>Bakuchiol</b></h3>
<!--                 <a href="">smooth & firm</a> -->
              </div>
            </div>
            <div class="sldier-des">
              <p>Get all the benefits of retinol without the risk of irritation. Bakuchiol increases cell turnover and stimulates collagen production to make your skin look smooth and firm.</p>
            </div>
          </div>
          <div class="slide-popup">
            <h4>In a Clinical trial...</h4>
            <p><b>…100% of subjects</b> saw significant improvement in lines and wrinkles, pigmentation, elasticity, firmness and overall reduction in photo‐damage</p>
            <div id="slid-06" class="white-popup mfp-hide">
              <p>Subjects saw significant improvement in lines and wrinkles, pigmentation, elasticity, firmness and overall reduction in photo‐damage without usual retinol therapy‐associated undesirable side effects.
</p>
              <br>
              <h2>About the clinical trial
</h2>
              <p>Clinical trial was conducted and included healthy subjects between the ages of 30 and 55. 
A cream containing Bakuchiol was applied daily for 12 weeks on the participants. Change in wrinkle and skin pigmentation appearance were assessed at weeks 4, 8, and 12.</p>
              <p><i>Reference: University of California, Davis. (2017). Comparison of the Cosmetic Effects of Bakuchiol and Retinol.NCT03112863.</i></p>
            </div> 
            <a href="#slid-06" class="open-popup-link nutrient-btn">Read more about clinical Study<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Group_502.png?v=1622025966" alt=""></a>
          </div>
        </div> 
        <div class="ingredients-slider-main">
          <div class="slider-info">
            <div class="image_title">
              <div class="image_slid">
                <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/bakuchiol-1_2_1.png?v=1682663929"  alt="">
              </div>
              <div class="slide_title">
                <h3><b>Boswellia Serrata Extract</b></h3>
<!--                 <a href="">antioxidant</a> -->
              </div>
            </div>
            <div class="sldier-des">
              <p>Fights signs of aging whilst it nourishes and protects. Clinically proven to improve skin elasticity, even skin tone and visibly reduce wrinkle depth for firm, bright, more youthful looking skin.</p>
            </div>
          </div>
          <div class="slide-popup">
            <h4>In a Clinical trial...</h4>
            <p><b>...Subjects reported</b> significant improvement of tactile roughness, fine lines and skin elasticity,  and a decrease of sebum excretion.</p>
            <div id="slid-07" class="white-popup mfp-hide">
              <p>Subjects reported significant improvement of tactile roughness, fine lines and skin elasticity, and a decrease of sebum excretion.</p>
              <br>
              <h2>About the clinical trial</h2>
              <p>Randomized, double-blind, split-face study was conducted on 15 female volunteers. Cream containing Boswellia Serrata Extract was applied once daily for 30 days. At the end of the treatment clinical findings were assessed according to the Dover classification scale for photoaging and by biophysical and ecographic measurements.</p>
              <p><i>Reference: Planta Med. 2010 Apr;76(6):555-60. doi: 10.1055/s-0029-1240581. Epub 2009 Nov 16.</i></p>
            </div> 
            <a href="#slid-07" class="open-popup-link nutrient-btn">Read more about clinical Study<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Group_502.png?v=1622025966" alt=""></a>
          </div>
        </div>

        <div class="ingredients-slider-main">
        <div class="slider-info">
          <div class="image_title">
            <div class="image_slid">
              <img  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/bakuchiol-1_3.png?v=1682664159"  alt="">
            </div>
            <div class="slide_title">
              <h3><b>Hyaluronic Acid</b></h3>
<!--               <a href="">hydrate</a> -->
            </div>
          </div>
          <div class="sldier-des">
            <p>A drink of water for thirsty skin. Helps your skin retain moisture for softer and more supple looking skin.</p>
          </div>
        </div>
        <div class="slide-popup">
          <h4>In a Clinical trial...</h4>
          <p>...Subjects had improvement in skin-plumping and hydration, <b>fine lines were reduced by 31%,</b> and <b>wrinkles were reduced by 14%</b></p>
          <div id="slid-08" class="white-popup mfp-hide">
            
          </div> 
          <a href="#slid-08" class="open-popup-link nutrient-btn">Read more about clinical Study<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Group_502.png?v=1622025966" alt=""></a>
        </div>
      </div>
      </div>
    </div> 
  </div>  
      </div> 
    </div>
    <div class="row third-image">
      <div class="col-md-6 d-flex align-items-center">
        <div class="signicfic-content">
          <h2>{{ section.settings.rev_title_2 }}</h2>
          {{ section.settings.text_2 }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="signific-image">
          <img src="{{ section.settings.img_rev_2 | img_url:'master' }}"  alt="">
        </div>
      </div>
     <div class="col-md-12 col-ingredi">
       <div class="set serum-ingredients">
    <a href="javascript:;" class="ingredient-class">
      <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L8 8L1 15" stroke="white" stroke-width="2"></path>
    </svg>
      Ingredients
    </a>
    <div class="content">
      <div class="ingredients-slider-1">
        <div class="ingredients-slider-main">
          <div class="slider-info">
            <div class="image_title">
              <div class="image_slid">
                <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/AdobeStock_382578482_3.png?v=1682685795"  alt="">
              </div>
              <div class="slide_title">
                <h3><b>Ferulic Acid</b></h3>
<!--                 <a href="">soothe & smooth</a> -->
              </div>
            </div>
            <div class="sldier-des">
              <p>Works to stop all the damage that comes from extrinsic aging. Reduces the formation of fine lines and wrinkles, dark spots</p>
            </div>
          </div>
          <div class="slide-popup">
            <h4>In a Clinical trial...</h4>
            <p><b>A 2005 study suggests</b> that ferulic acid has the potential to offer twice the amount of photo protection when combined with vitamins C and E.</p>
            <div id="slid-09" class="white-popup mfp-hide">
              
            </div> 
            <a href="#slid-09" class="open-popup-link nutrient-btn">Read more about clinical Study<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Group_502.png?v=1622025966" alt=""></a>
          </div>
        </div>
        <div class="ingredients-slider-main">
          <div class="slider-info">
            <div class="image_title">
              <div class="image_slid">
                <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/bakuchiol-1_2_2.png?v=1682685740"  alt="">
              </div>
              <div class="slide_title">
                <h3><b>Ethyl Ascorbic Acid</b>(Vitamin C)</h3>
<!--                 <a href="">brighten & protect</a> -->
              </div>
            </div>
            <div class="sldier-des">
              <p>Promotes collagen production to minimize visible signs of aging. It inhibits the over-production of pigmentation to brighten and even skin tone. Helps to maintain smooth, supple and healthy skin.</p>
            </div>
          </div>
          <div class="slide-popup">
            <h4>In a Clinical trial...</h4>
            <p><b>… 100% of subjects</b> experienced <b>visible</b> improvement of fine lines, wrinkles, skin texture and skin tone.</p>
            <div id="slid-10" class="white-popup mfp-hide">
              <p>Clinical assessment demonstrated significant improvement with active treatment greater than control for fine wrinkling, tactile roughness, coarse rhytids, skin laxity/tone, sallowness/yellowing, and overall features. Patient questionnaire results demonstrated statistically significant improvement overall, active treatment 84.2% greater than control.</p>
              <p><i>Reference: Arch Otolaryngol Head Neck Surg. 1999 Oct;125(10):1091-8. doi: 10.1001/archotol.125.10.1091.
</i></p>
            </div> 
            <a href="#slid-10" class="open-popup-link nutrient-btn">Read more about clinical Study<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Group_502.png?v=1622025966" alt=""></a>
          </div>
        </div> 
        <div class="ingredients-slider-main">
          <div class="slider-info">
            <div class="image_title">
              <div class="image_slid">
                <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/bakuchiol-1_1_1_afc0011f-e39f-4bc8-baed-6986b5492560.png?v=1682685740"  alt="">
              </div>
              <div class="slide_title">
                <h3><b>Actiwhite™</b></h3>
<!--                 <a href="">brighten & prevent</a> -->
              </div>
            </div>
            <div class="sldier-des">
              <p>Visibly brighten and even skin tone for a more radiant complexion. Actiwhite™ reduces the appearance of dark spots and prevents discoloration (by inhibiting melanin) with continued use.</p>
            </div>
          </div>
          <div class="slide-popup">
            <h4>In a Clinical trial...</h4>
            <p><b>…100% of subjects</b> demonstrated a significant reduction of pigmented age spots, and visible improvement of skin clarity and brightness.</p>
            <div id="slid-12" class="white-popup mfp-hide">
              <p>
                After 8 weeks<br>Dermatologists evaluated significant reduction of pigmented spots and skin was more luminous in 100% of subjects.
              </p>
              <p>
              After 12 weeks<br>Significant reduction of tyrosinase activity and released melanin quantity, lighter skin appearance, improved skin clarity and brighter complexion in 100% of subjects.
              </p>
<br>
              <h2>About the clinical trial</h2>
              <p>Clinical trial was conducted and included subjects between the ages of 18 and 45. The specific requirement was the presence of pigmented spots on each side of the face associated with a spotless area. An emulsion containing 2% Actiwhite™ was applied twice daily for 8 weeks. Evaluation was conducted with colorimetric measurement (∆ITA☐), dermatologist, self-assessment and macro photograph of visibility, size and number of the age spot, skin complexion.</p>
              <p><i>Reference: Actiwhite. by Beauty Creations. The tailor-made whitener and spot preventer to improve skin appearance November 26, 2016.Author: Morgan Griffith</i></p>
            </div> 
            <a href="#slid-12" class="open-popup-link nutrient-btn">Read more about clinical Study<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Group_502.png?v=1622025966" alt=""></a>
          </div>
        </div>
      </div>
    </div> 
  </div>  
     </div>

    </div>
  </div>
</div>
{% schema %}
{
"name": "Signific Section",
"settings": [

{
"type":"image_picker",
"id":"img_rev",
"label":"Choose Image"
},
{
"id": "rev_title",
"type": "text",
"label": "Concerns",
"default": "Significantly reduce fine lines and wrinkles"
},
{
"id": "text",
"type": "textarea",
"label": "Discription"
},


{
"type":"image_picker",
"id":"img_rev_1",
"label":"Choose Image"
},
{
"id": "rev_title_1",
"type": "text",
"label": "Concerns",
"default": "Significantly reduce fine lines and wrinkles"
},
{
"id": "text_1",
"type": "textarea",
"label": "Discription"
},
{
"type":"image_picker",
"id":"img_rev_2",
"label":"Choose Image"
},
{
"id": "rev_title_2",
"type": "text",
"label": "Concerns",
"default": "Significantly reduce fine lines and wrinkles"
},
{
"id": "text_2",
"type": "textarea",
"label": "Discription"
}
]
}
{% endschema %}

<style>
  #shopify-section-serum-signific-section .signific-section .signicfic-content h2{
    font-size: 56px;
    line-height: 64px;
    font-family: 'Canela-Thin';
    font-weight: 600;
    max-width: 440px;
  }
  #shopify-section-serum-signific-section .row.second-image {
    margin-top: 100px;
  }
  @media (max-width:991px){
    div#shopify-section-serum-signific-section .col-md-6.d-flex.align-items-center {
      order: 2;
    }
    #shopify-section-serum-signific-section .signific-section {
      padding: 0 0 30px;
    }
    #shopify-section-serum-signific-section .row.second-image {
      margin-top: 50px;
    }
    #shopify-section-serum-signific-section .signific-section .signicfic-content h2{
      max-width:100%;
    }
  }
  @media (max-width:480px){

    #shopify-section-serum-signific-section .row.second-image .signicfic-content h2{
      font-size: 40px;
      line-height: 44px;
      text-align: center;
      margin-top: 45px;
      max-width: 310px;
      margin-left:auto;
      margin-right:auto;
    }
    #shopify-section-serum-signific-section .signific-section .signicfic-content h2{
      font-size: 40px;
      line-height: 44px;
      text-align: center;
      margin-top: 45px;

    }
    #shopify-section-serum-signific-section .signific-section p{
      text-align: center;
    }

  }
  @media (max-width:380px){
    #shopify-section-serum-signific-section .signific-section .signicfic-content h2{
      font-size: 36px;
    }
  }
</style>