{%- capture capture_css -%}
	{% comment %} <link rel="stylesheet" href="https://unpkg.com/video.js@7/dist/video-js.min.css"> {% endcomment %}
	<link href="https://qureskincaredns.com/assets/css/_sunil_bootstrap.css" rel="stylesheet" />
	<link href="https://qureskincaredns.com/assets/css/_sunil_font-awesomes.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://qureskincaredns.com/assets/css/_sunil_swiper-bundle-min.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/_sunil_bf-sale/assets/css/_sunil_component-black-frida-section.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/assets/css/_sunil_style.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/_sunil_bundle-pdp/assets/css/_sunil_bundle-pdp.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/_sunil_bundle-pdp/assets/css/_sunil_new-homepage.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/_sunil_bundle-pdp/assets/css/_sunil_gift_card.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/assets/css/_sunil_component-footerSection.css">
{%- endcapture -%}

{%- capture capture_js -%}
	<script src="https://qureskincaredns.com/assets/js/_sunil_jquery.min.js"></script>
	<script src="https://qureskincaredns.com/assets/js/_sunil_bootstrap.min.js"></script>
	<script src="https://qureskincaredns.com/assets/js/_sunil_jquery.slicknav.js"></script>
	<script src="https://qureskincaredns.com/assets/js/_sunil_jquery.magnific-popup.min.js"></script>
	<script src="https://qureskincaredns.com/assets/js/_sunil_jquery.matchHeight.js"></script>
	{% comment %} <script src="https://www.youtube.com/iframe_api"></script> {% endcomment %}
	<script src="https://qureskincaredns.com/assets/js/_sunil_swiper-bundle-min.js"></script>
	<script src="https://qureskincaredns.com/assets/js/_sunil_main.js"></script>
	<script src="https://qureskincaredns.com/_sunil_bundle-pdp/assets/js/_sunil_gift-card.js"></script>


		<script>
			document.addEventListener('DOMContentLoaded', function() {
					const decreaseButton = document.querySelector('.bundle_quantity a:first-child');
					const increaseButton = document.querySelector('.bundle_quantity a:last-child');
					const quantityElement = document.querySelector('.bundle_quantity p');
					const addToCartLinks = document.querySelectorAll('.buy_btn');

					decreaseButton.addEventListener('click', function(e) {
							e.preventDefault();
							let quantity = parseInt(quantityElement.innerText);
							if (quantity > 1) {
									quantityElement.innerText = quantity - 1;
									updateCartLinksQuantity(quantity - 1);
							}
					});

					increaseButton.addEventListener('click', function(e) {
							e.preventDefault();
							let quantity = parseInt(quantityElement.innerText);
							quantityElement.innerText = quantity + 1;
							updateCartLinksQuantity(quantity + 1);
					});

					document.querySelectorAll('.gift_variant').forEach(button => {
						button.addEventListener('click', function() {
							var variantId = this.getAttribute('data-variant-id');

							updateCartLinksId(variantId);
						});
					});

					function updateCartLinksId(id) {
							addToCartLinks.forEach(link => {
									link.href = link.href.replace(/id=\d+/, 'id=' + id);
							});
					}

					function updateCartLinksQuantity(quantity) {
							addToCartLinks.forEach(link => {
									link.href = link.href.replace(/quantity=\d+/, 'quantity=' + quantity);
							});
					}
			});
		</script>

{%- endcapture -%}

{% layout 'sunil.pdp' %}

<main>
		<div class="bundle_pdp gift_page">
				<div class="container">
						<div class="row">
								<div class="col-md-6 order-2 order-md-1">
										<div class="best_seller_info">
												<div class="section_header text-start m-0 d-grid">
														<h1 class="title-xl order-2 order-md-1">{{ product.title }}</h1>
														<div class="star_gp order-1 order-md-3">
																<img src="https://qureskincaredns.com/_sunil_bundle-pdp/assets/images/gift_variant/star_review.svg" alt="">
																<a href="javascript:(0)">26 reviews</a>
														</div>
												</div>

												{{ product.description }}

												<div class="gift_card_variants">
														{% for variant in product.variants %}
															<button data-variant-id="{{ variant.id }}" data-price="{{ variant.price | divided_by: 100.0 }}" data-slideTo="{{ forloop.index0 }}" class="gift_variant{% if variant.id == product.variants.first.id %} gift_variant_active{% endif %}"><span class="money">{{ variant.price | money_without_trailing_zeros }}</span> Gift Card</button>
														{% endfor %}
												</div>
												<div class="gift_cal">
														<div class="bundle_quantity_wrap">
																<div class="bundle_quantity">
																		<a href="#">-</a>
																		<p>1</p>
																		<a href="#">+</a>
																</div>
																{% section 'endrock_orderby' %}
																<a class="btn btn-lg btn-primary buy_btn d-none d-md-block event_btn" href="{{ routes.cart_add_url }}?id={{ product.variants.first.id }}&quantity=1" data-ajax-cart-request-button>Add to cart<img src="https://qureskincaredns.com/assets/images/common/arrow_right.svg" alt=""></a>
																<a class="btn btn-lg btn-primary buy_btn d-block d-md-none event_btn" href="{{ routes.cart_add_url }}?id={{ product.variants.first.id }}&quantity=1" data-ajax-cart-request-button>Add to cart</a>
														</div>
														<div class="payment_method">
																{% assign divided_price = product.price | divided_by: 4 %}
																<p>OR pay 4 monthly payments of <span class="resultPrice money">{{ divided_price | money_without_trailing_zeros }}</span> with</p>
																<div class="pmt_img ps-2">
																		<img src="https://qureskincaredns.com/assets/images/refill-banner/klarna.svg" alt="">
																		<img src="https://qureskincaredns.com/assets/images/refill-banner/sezzle.svg" alt=""><img
																				src="https://qureskincaredns.com/assets/images/refill-banner/afterpay.svg" alt="">
																</div>
														</div>
														<div class="special_deals">
																<img src="https://qureskincaredns.com/_sunil_bundle-pdp/assets/images/special_deals_n.png" alt="">
																<div class="special_deal_btn">
																	{% if settings.sales_special %}
																		<a href="https://www.qureskincare.com/collections/best-sellers">See more special deals<img src="https://qureskincaredns.com/_sunil_bundle-pdp/assets/images/arrow-right-white.png"></a>
																	{% else %}
																		<a href="https://www.qureskincare.com/pages/exclusive-holiday-bundle-deal">See more special deals<img src="https://qureskincaredns.com/_sunil_bundle-pdp/assets/images/arrow-right-white.png"></a>
																	{% endif %}
															</div>
														</div>
														<div class="shipping shipping_bg bg-transparent">
																<div class="s_bx">
																		<img src="https://qureskincaredns.com/_sunil_bundle-pdp/assets/images/svg/product_clinically.svg" alt="">
																		<p>Products Backed<br> by Clinical Study </p>
																</div>
																<div class="s_bx">
																		<img src="https://qureskincaredns.com/_sunil_bundle-pdp/assets/images/svg/gift.svg" alt="">
																		<p>Instant Gift,<br> Delivered Now!</p>
																</div>
														</div>
												</div>
										</div>
								</div>
								<div class="col-md-6 order-1 order-md-2">
										<div>
												<div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper">
												<div class="swiper-wrapper">
													{% for media in product.media %}
															<div class="swiper-slide">
																	<img class="{% if forloop.index == 1 %}lcp {% endif %}img-fluid" src="{{ media | img_url: '600x' }}">
															</div>
													{% endfor %}
												</div>
												<div class="swiper-button-next"></div>
												<div class="swiper-button-prev"></div>
										</div>
										</div>
								</div>
						</div>
				</div>
		</div>
</main>