{%- capture capture_css -%}
	<link rel="stylesheet" href="https://qureskincaredns.com/assets/css/_sunil_swiper-bundle-min.css">
	<link href="https://qureskincaredns.com/assets/css/_sunil_bootstrap.css" rel="stylesheet" />
	<link href="https://qureskincaredns.com/assets/css/_sunil_font-awesomes.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://qureskincaredns.com/assets/css/_sunil_popup.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/assets/css/_sunil_component-footerSection.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/assets/css/_sunil_component-newsletter.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/assets/css/_sunil_component-BannerWithSlider.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/assets/css/_sunil_component-pressSlider.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/assets/css/_sunil_component-trustedBl.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/assets/css/_sunil_component-resultSlider.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/assets/css/_sunil_component-faqSection.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/assets/css/_sunil_component-uniqueCustomise.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/assets/css/_sunil_component-imageText.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/assets/css/_sunil_component-reasons.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/assets/css/_sunil_component-qureUses.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/_sunil_q-urify/assets/css/_sunil_component-seeSlider.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/_sunil_q-urify/assets/css/_sunil_ingredients.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/_sunil_q-urify/assets/css/_sunil_q-urify-water.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/assets/css/_sunil_style.css">
{%- endcapture -%}

{%- capture capture_js -%}
	<script src="https://qureskincaredns.com/assets/js/_sunil_swiper-bundle-min.js" defer="defer"></script>
	<script src="https://qureskincaredns.com/assets/js/_sunil_bootstrap.min.js" defer="defer"></script>
	<script src="https://qureskincaredns.com/assets/js/_sunil_jquery.slicknav.js" defer="defer"></script>
	<script src="https://qureskincaredns.com/assets/js/_sunil_jquery.matchHeight.js" defer="defer"></script>
	<script src="https://www.youtube.com/iframe_api"></script>
	<script src="https://qureskincaredns.com/assets/js/_sunil_jquery.magnific-popup.min.js" defer="defer"></script>
	<script src="https://qureskincaredns.com/_sunil_q-urify/assets/js/_sunil_component-refillTabSliderOut.js" defer="defer"></script>
	<script src="https://qureskincaredns.com/assets/js/_sunil_component-howUse_slider.js" defer="defer"></script>
	<script src="https://qureskincaredns.com/_sunil_q-urify/assets/js/_sunil_ingredients.js" defer="defer"></script>
	<script src="https://qureskincaredns.com/_sunil_q-urify/assets/js/_sunil_autoshipFilter.js" defer="defer"></script>
	<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
	<script src="https://qureskincaredns.com/_sunil_q-urify/assets/js/_sunil_component-seeSlider3.js" defer="defer"></script>
	<script src="https://qureskincaredns.com/assets/js/_sunil_component-trustedSwipper3.js" defer="defer"></script>
	<script src="https://qureskincaredns.com/assets/js/_sunil_main.js" defer="defer"></script>
{%- endcapture -%}

{% layout 'sunil.pdp' %}

{% comment %} {% assign product_variant = false %} {% endcomment %}
{% comment %} {% assign product_handle = 'q-urify-water-filter' %} {% endcomment %}
{% comment %} {% assign product = all_products[product_handle] %} {% endcomment %}
{% if product.variants.size %}
	{% assign product_variant = product.variants.first.id %}
{% endif %}

{% assign product_handle = product.handle %}

<main class="qurify_water">
		<!-- -- main banner start -- -->
		<div class="refill_bl pt-0 tabSlider">
				<div class="container">
						<div class="row">
								<div class="col-md-6 order-2 order-md-1">
										<div class="refill_info pt-0 pt-md-3">
												<div class="section_header text-start">
														<h2 class="title-xl">Get healthier skin, on tap, with Q-urify Water Filter </h2>

												</div>
												<div class="refill_review">
														<div class="star_gp">
																<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/star-half_fill.svg" alt="">
														</div>
														<p class="text-sm fw-normal d-none d-md-block" style="text-decoration: none;">90% of
																customers don’t go
																back to tap water
														</p>
														<p class="text-sm fw-normal d-block d-md-none" style="text-decoration: none;">90%
																satisfaction rate
														</p>
												</div>
												<div class="mw-452">
														<div class="ss_list py-4">
																<ul>
																		<li>Filters your faucet tap water for the most purified cleanse.
																		</li>
																		<li>Aids in removing known skin irritants like chlorine, calcium and magnesium.
																		</li>
																		<li>Improve skin barrier for healthier skin without any extra steps in your
																				routine. 
																		</li>
																</ul>
														</div>
														<div class="subscribe_save_wrapper with_subscription mt-2">
																<div class="subscribeTopInfo">
																		<p>Over 1,000 people chose subscription</p>
																</div>
																<div class="subscriptionType active" data-subscription="subscription">
																		<div class="subscribe_save_bx">
																				<div class="subscribeInfo">
																						<label class="form-check-label" for="flexCheckDefault">
																								<h6>Subscribe & save <span class="money">$30</span> </h6>
																								<p>3 Month Replacement Filter delivers every 90 days for only <span class="money">$35</span>.
																										Skip
																										or
																										cancel anytime. <a
																												href="/pages/subscriptions"
																												target="_blank">See
																												more details</a></p>
																						</label>
																				</div>
																				<div class="subscribePrice">
																						<p><span class="money">{{ product.price | money_without_trailing_zeros }}</span><span class="money">$59</span></p>
																				</div>
																		</div>
																</div>
																<div class="subscriptionType" data-subscription="no-subscription">
																		<div class="noSubscription">
																				<div class="noSubscriptionText">
																						One time purchase
																				</div>
																				<div class="noSubscriptionPrice">
																						<span class="money">{{ product.price | money_without_trailing_zeros }}</span>
																				</div>
																		</div>
																		{% comment %} <a class="btn btn-lg btn-primary without_subscription buy_btn"
																				href="#productSubscription">Buy Now -
																				<span class="money">$79</span><img src="https://qureskincaredns.com/assets/images/common/arrow_right.svg" alt="">
																		</a> {% endcomment %}

																		<a class="btn btn-lg btn-primary without_subscription buy_btn" href="{{ routes.cart_add_url }}?id={{ product_variant }}&quantity=1" data-ajax-cart-request-button>Buy Now -
																			<span class="money">{{ product.price | money_without_trailing_zeros }}</span><img src="https://qureskincaredns.com/assets/images/common/arrow_right.svg" alt="">
																		</a>

																		<div class="without_subscription">
																			<div class="button_sticky_wrapper">
																				<a href="{{ routes.cart_add_url }}?id={{ product_variant }}&quantity=1" data-ajax-cart-request-button class="button_sticky"><span class="money">{{ product.price | money_without_trailing_zeros }}</span> - ADD TO BAG</a>
																			</div>
																		</div>

																		<div class="payment_method without_subscription">
																				<p>OR pay 4 monthly payments of $19.75 with</p>
																				<div class="pmt_img ps-2">
																						<img src="https://qureskincaredns.com/assets/images/refill-banner/klarna.svg" alt="">
																						<img src="https://qureskincaredns.com/assets/images/refill-banner/sezzle.svg" alt=""><img
																								src="https://qureskincaredns.com/assets/images/refill-banner/afterpay.svg" alt="">
																				</div>
																		</div>
																</div>

																<style>
																	.rc-container-wrapper {
																		display:none !important;
																	}
																	/* specical for desktop */
																	@media only screen and (min-width:769px){
																		.button_sticky_wrapper {
																			width:80% !important;
																			z-index: 200 !important;
																		}
																	}
																	/* special for mobile */
																	@media (max-width: 768px) {
																		.button_sticky_wrapper {
																			width:90% !important;
																			bottom:120px !important;
																			z-index: 200 !important;
																		}
																	}
																</style>

																{% form 'product', product, data-smartrr-form-id: product.id %}
																<input type="hidden" name="selling_plan" data-smartrr-selling-plan-input="" value="{% if product_handle == 'q-urify-water-filter-affiliate' %}4733468911{% else %}4496589039{% endif %}">
																	{% comment %} {% render 'smartrr-product' %} {% endcomment %}
																	<button type="submit" class="btn btn-lg btn-primary with_subscription buy_btn" name="Submit" value="Submit">
																		Subscribe Now - <span class="money">$59</span><img src="https://qureskincaredns.com/assets/images/common/arrow_right.svg" alt="">
																	</button>
																	<input type="hidden" name="id" value="{{ product.variants.first.id }}" />

																	<div class="with_subscription">
																		<div class="button_sticky_wrapper ">
																			<button type="submit" class="button_sticky" style="border:0px"><span class="money">$59</span> <span class="money">{{ product.price | money_without_trailing_zeros }}</span> - ADD TO BAG</button>
																		</div>
																	</div>
																{% endform %}

																{% comment %} <a class="btn btn-lg btn-primary with_subscription buy_btn"
																		href="#productSubscription">Subscribe Now -
																		<span class="money">$59</span><img src="https://qureskincaredns.com/assets/images/common/arrow_right.svg" alt="">
																</a> {% endcomment %}


														</div>
														<div class="shipping shipping_bg bg-transparent">
																<div class="s_bx">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/dermatologist.svg" alt="">
																		<p>Dermatologist Approved</p>
																</div>
																<div class="s_bx">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/shipping.svg" alt="">
																		<p class="d-none d-md-block">Free Shipping Over <span class="money">$100</span></p>
																		<p class="d-block d-md-none">Free World-Wide Shipping Over <span class="money">$100</span></p>
																</div>
														</div>
												</div>

										</div>
								</div>
								<div class="col-md-6  order-1 order-md-2">
										<div class="refill_slider mw-mob-100">
												<div class="refill_s_tab_content">
														<style>
																.twa__swiper {
																		padding-top: 100%;
																}

																.twa__swiper>.swiper-wrapper {
																		position: absolute;
																		top: 0;
																		left: 0;
																		right: 0;
																		bottom: 0;
																		/* height: 100%; */
																}

																.twa__swiper>.swiper-wrapper .swiper-slide,
																.twa__swiper>.swiper-wrapper .swiper-slide>a,
																.twa__swiper>.swiper-wrapper .swiper-slide img {
																		height: 100%;
																}
														</style>
														<div class="tab-content" id="pills-tabContent">
																<div class="tab-pane fade show active" id="pills-home" role="tabpanel"
																		aria-labelledby="pills-home-tab">
																		<div class="swiper twa__swiper productSlider dot_pagination"
																				id="twa__swiper-productSlider" data-section-id="productSlider"
																				data-autoplay="false" 
																				data-loop="false" data-centerslide="false" data-mobile="1.1" data-tablet="1"
																				data-desktop="1" data-spacing="10"
																				data-arrowleft="productSlider-swiper-prev"
																				data-arrowright="productSlider-swiper-next">
																				<div class="swiper-wrapper">
																						<div class="swiper-slide">
																								<a class="banner-popup-link d-none d-md-block"
																										href="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab1-1.webp">
																										<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab1-1.webp"
																												alt="" class="img-fluid tab_img">
																								</a>
																								<a class="banner-popup-link d-block d-md-none"
																										href="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab1-1mob.webp">
																										<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab1-1mob.webp"
																												alt="" class="img-fluid tab_img">
																								</a>
																						</div>
																						<div class="swiper-slide">
																								<a class="banner-popup-link d-none d-md-block"
																										href="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab1-2.webp">
																										<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab1-2.webp"
																												alt="" class="img-fluid tab_img">
																								</a>
																								<a class="banner-popup-link d-block d-md-none"
																										href="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab1-2mob.webp">
																										<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab1-2mob.webp"
																												alt="" class="img-fluid tab_img">
																								</a>
																						</div>
																						<div class="swiper-slide">
																								<a class="banner-popup-link d-none d-md-block"
																										href="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab1-3.webp">
																										<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab1-3.webp"
																												alt="" class="img-fluid tab_img">
																								</a>
																								<a class="banner-popup-link d-block d-md-none"
																										href="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab1-3mob.webp">
																										<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab1-3mob.webp"
																												alt="" class="img-fluid tab_img">
																								</a>
																						</div>
																						<div class="swiper-slide">
																								<a class="banner-popup-link d-none d-md-block"
																										href="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab1-4.webp">
																										<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab1-4.webp"
																												alt="" class="img-fluid tab_img">
																								</a>
																								<a class="banner-popup-link d-block d-md-none"
																										href="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab1-4mob.webp">
																										<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab1-4mob.webp"
																												alt="" class="img-fluid tab_img">
																								</a>
																						</div>
																						<div class="swiper-slide">
																								<a class="banner-popup-link d-none d-md-block"
																										href="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab1-5.webp">
																										<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab1-5.webp"
																												alt="" class="img-fluid tab_img">
																								</a>
																								<a class="banner-popup-link d-block d-md-none"
																										href="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab1-5mob.webp">
																										<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab1-5mob.webp"
																												alt="" class="img-fluid tab_img">
																								</a>
																						</div>
																				</div>
																				<div class="swiper-pagination"></div>
																		</div>
																</div>
																<div class="tab-pane fade" id="pills-profile" role="tabpanel"
																		aria-labelledby="pills-profile-tab">
																		<div class="swiper twa__swiper realResultSlider dot_pagination"
																		id="twa__swiper-realResultSlider" data-section-id="realResultSlider"
																		data-autoplay="false" 
																		data-loop="false" data-centerslide="false" data-mobile="1.1" data-tablet="1"
																		data-desktop="1" data-spacing="10"
																		data-arrowleft="realResultSlider-swiper-prev"
																		data-arrowright="realResultSlider-swiper-next">
																				<div class="swiper-wrapper">
																						<div class="swiper-slide">
																								<a class="banner-popup-link d-none d-md-block"
																										href="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab2-1.webp">
																										<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab2-1.webp"
																												alt="" class="img-fluid tab_img">
																								</a>
																								<a class="banner-popup-link d-block d-md-none"
																										href="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab2-1mob.webp">
																										<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab2-1mob.webp"
																												alt="" class="img-fluid tab_img">
																								</a>
																						</div>
																						<div class="swiper-slide">
																								<a class="banner-popup-link d-none d-md-block"
																										href="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab2-2.webp">
																										<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab2-2.webp"
																												alt="" class="img-fluid tab_img">
																								</a>
																								<a class="banner-popup-link d-block d-md-none"
																										href="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab2-2mob.webp">
																										<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/refill-banner/refill-tab/tab2-2mob.webp"
																												alt="" class="img-fluid tab_img">
																								</a>
																						</div>
																				</div>
																				<div class="swiper-pagination"></div>
																		</div>
																</div>
														</div>
												</div>
												<div class="refill_s_tab">
														<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
																<li class="nav-item" role="presentation">
																		<button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
																				data-bs-target="#pills-home" type="button" role="tab"
																				aria-controls="pills-home" aria-selected="true">Product</button>
																</li>
																<li class="nav-item" role="presentation">
																		<button class="nav-link d-none d-md-block" id="pills-profile-tab"
																				data-bs-toggle="pill" data-bs-target="#pills-profile" type="button"
																				role="tab" aria-controls="pills-profile" aria-selected="false">Real
																				Results</button>
																		<button class="nav-link d-block d-md-none" id="pills-profile-tab"
																				data-bs-toggle="pill" data-bs-target="#pills-profile" type="button"
																				role="tab" aria-controls="pills-profile" aria-selected="false">Before &
																				After</button>
																</li>
														</ul>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
		<!-- -- main banner end -- -->

		<!-- -- press slider start -- -->
		<div class="press_bl press_bl_4">
				<div class="container">
						<div class="row align-items-center">
								<div class="col-12">
										<div class="swiper press_slider">
												<div class="swiper-wrapper ps_wrapper">
														<div class="swiper-slide">
																<div class="ps_item">
																		<img src="https://qureskincaredns.com/assets/images/press-slider/cosmopolitan.png" alt="" class="img-fluid">
																</div>
														</div>
														<div class="swiper-slide">
																<div class="ps_item">
																		<img src="https://qureskincaredns.com/assets/images/press-slider/vogue.png" alt="" class="img-fluid">
																</div>
														</div>
														<div class="swiper-slide">
																<div class="ps_item">
																		<img src="https://qureskincaredns.com/assets/images/press-slider/bazaar.png" alt="" class="img-fluid">
																</div>
														</div>
														<div class="swiper-slide">
																<div class="ps_item">
																		<img src="https://qureskincaredns.com/assets/images/press-slider/elle.png" alt="" class="img-fluid">
																</div>
														</div>
														<div class="swiper-slide">
																<div class="ps_item">
																		<img src="https://qureskincaredns.com/assets/images/press-slider/glamour.png" alt="" class="img-fluid">
																</div>
														</div>
														<div class="swiper-slide">
																<div class="ps_item">
																		<img src="https://qureskincaredns.com/assets/images/press-slider/grazia.png" alt="" class="img-fluid">
																</div>
														</div>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
		<!-- -- press slider end -- -->


		<!-- -- free report start -- -->
		<div class="free_report pb-5">
				<div class="container">
						<div class="free_grid">
								<div class="free_report_img mw-mob-100">
										<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/imageText/free_report.webp" alt="" class="img-fluid">
								</div>
								<div class="free_report_info">
										<div class="section_header px-0 text-start ms-0">
												<div class="title-lg">
														What contaminants is your skin absorbing everyday?
												</div>
												<p>Enter your information below to get a free, custom water report
														for your local area. Learn about what’s in your water and how it can be affecting your
														skin.</p>
										</div>
										<form>
												<div class="row">
														<style>
															/* specical for desktop */
															@media only screen and (min-width:769px){
																.klaviyo-mobile {
																	display:none;
																}
															}
															/* special for mobile */
															@media (max-width: 768px) {
																.klaviyo-desktop , .only-desktop{
																	display:none;
																}
															}
															.klaviyo-form {
																padding-bottom: 30px;
																min-height: 200px;
															}
															.needsclick.kl-private-reset-css-Xuajs1 {
																min-height:auto !important;
															}
														</style>

														<div class="klaviyo-form klaviyo-desktop">
															<div class="klaviyo-form-SVbDx9"></div>
														</div>

														<div class="klaviyo-form klaviyo-mobile">
															<div class="klaviyo-form-WezUbv"></div>
														</div>

														<p class="only-desktop">By submitting this form, you agree to receive recurring automated promotional and
																personalized marketing Emails from Qure to the Email used when signing up. See
																<a target="_blank"
																		href="https://www.qureskincare.com/pages/terms-and-conditions?_ga=2.8994934.238572732.1701676238-1116108182.1699606045"
																		style="text-decoration: underline;">Terms</a>
																& <a target="_blank"
																		href="https://www.qureskincare.com/pages/privacy-page?_ga=2.8994934.238572732.1701676238-1116108182.1699606045"
																		style="text-decoration: underline;">Privacy.</a>
														</p>
												</div>
										</form>

								</div>
						</div>
				</div>
		</div>

		<!-- -- free report end -- -->


		<!-- -- image with text start -- -->
		<div class="imageText new_side section">
				<div class="container">
						<div class="row">
								<div class="col-12 col-md-6 order-2 order-md-1">
										<div class="it_info p-0 pt-0 pt-md-0">
												<div class="header">
														<h2 class="title-lg mb-4">Tap into a whole new side of skincare</h2>
														<p class="d-block d-md-none pt-3">Get your maximum clean at the flip of a switch with
																the
																Q-urify Water Filter. It’s perfect for maximizing the effectiveness of your skincare
																products without any extra steps in your routine – giving your skin the best chance
																at natural radiance. </p>
												</div>
												<div class="newside_list">
														<ul>
																<li>
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/barrier.svg" alt="">
																		<p>Improve skin barrier</p>
																</li>
																<li>
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/breakouts.svg" alt="">
																		<p>Helps reduce breakouts</p>
																</li>
																<li>
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/moisture.svg" alt="">
																		<p>Increase skin hydration</p>
																</li>
																<li>
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/radiance.svg" alt="">
																		<p>Enhance skin radiance</p>
																</li>
																<li>
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/irritation.svg" alt="">
																		<p>Improve redness & irritation</p>
																</li>
														</ul>
												</div>
										</div>
								</div>
								<div class="col-12 col-md-6 order-1 order-md-2">
										<div class="it_img pb-3 pb-md-0 ps-0 ps-md-5 mw-mob-100">
												<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/imageText/newside.webp" alt="" class="img-fluid">
										</div>
								</div>
						</div>
				</div>
		</div>
		<!-- -- image with text end -- -->


		<!-- -- result section start -- -->
		<div class="result_s section mi_landing_result" id="result_section">
				<div class="container">
						<div class="section_header text-start text-md-center ms-0 m-md-auto">
								<h2 class="title-lg paddingB">
										Clearer, hydrated skin, on tap. 
								</h2>
						</div>
						<div class="result_s_wrapper">
								<div class="swiper dot_pagination result_slider">
										<div class="swiper-wrapper">
												<div class="swiper-slide">
														<div class="result_item">
																<div class="result_img_m">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/results/cus_1.webp" alt=""
																				class="img-fluid">
																</div>
																<div class="result_c_info">
																		<div class="r_flag">
																				<div class="flag_img">
																						<img src="https://qureskincaredns.com/assets/images/common/australia_f.png" alt=""
																								class="img-fluid">
																				</div>
																				<p class="r_c_name pe-2">Kim L.</p>
																		</div>
																		<div class="star_gp">
																				<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/star-full.svg" alt="">
																				<p>Source of my unclear skin</p>
																		</div>
																		<div class="reviewed">
																				<p>Reviewed in Australia</p>
																		</div>
																		<div class="verified_img">
																				<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/verified.svg" alt="">
																				<p>Verified customer</p>
																		</div>
																</div>
																<div class="result_item_info">
																		<div class="result_content">
																				<p>“I didn’t realize how big impact water has on our skin...
																						I almost got used to my skin never getting better than mediocre, but
																						this Water Filter is a game changer in my skincare routine.”</p>
																		</div>
																</div>
														</div>
												</div>
												<div class="swiper-slide">
														<div class="result_item">
																<div class="result_img_m">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/results/cus_2.webp" alt=""
																				class="img-fluid">
																</div>
																<div class="result_c_info">
																		<div class="r_flag">
																				<div class="flag_img">
																						<img src="https://qureskincaredns.com/assets/images/common/england.png" alt="" class="img-fluid">
																				</div>
																				<p class="r_c_name pe-2">Hanna</p>
																		</div>
																		<div class="star_gp">
																				<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/star-full.svg" alt="">
																				<p>Hydrated more than ever</p>
																		</div>
																		<div class="reviewed">
																				<p>Reviewed in United Kingdom</p>
																		</div>
																		<div class="verified_img">
																				<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/verified.svg" alt="">
																				<p>Verified customer</p>
																		</div>
																</div>
																<div class="result_item_info">
																		<div class="result_content">
																				<p>“I never had any major issues with skin before I moved. Then I started to
																						get irritation and my makeup would look cakey cause my skin was always
																						so dry no matter what moisturiser I used. <br>I didn’t change anything
																						in my skincare routine except filtered water.
																						I’m never washing my face with anything less than Q-urified water
																						because my skin is so much better.”
																				</p>
																		</div>
																</div>
														</div>
												</div>
												<div class="swiper-slide">
														<div class="result_item">
																<div class="result_img_m">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/results/cus_3.webp" alt=""
																				class="img-fluid">
																</div>
																<div class="result_c_info">
																		<div class="r_flag">
																				<div class="flag_img">
																						<img src="https://qureskincaredns.com/assets/images/common/america_f.png" alt="" class="img-fluid">
																				</div>
																				<p class="r_c_name pe-2">Josie</p>
																		</div>
																		<div class="star_gp">
																				<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/star-full.svg" alt="">
																				<p>Acne and dryness gone</p>
																		</div>
																		<div class="reviewed">
																				<p>Reviewed in United States</p>
																		</div>
																		<div class="verified_img">
																				<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/verified.svg" alt="">
																				<p>Verified customer</p>
																		</div>
																</div>
																<div class="result_item_info">
																		<div class="result_content">
																				<p>“My skin has cleared up so much thanks to Qure! I use the LED mask and
																						water filter daily and it’s cleared up my acne, and my complexion so
																						much smoother and less red! My skin feels soft and hydrated. I can
																						actually walk out of the house without makeup now. THANK YOU QURE!!!”
																				</p>
																		</div>
																</div>
														</div>
												</div>
												<div class="swiper-slide">
														<div class="result_item">
																<div class="result_img_m">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/results/cus_4.webp" alt=""
																				class="img-fluid">
																</div>
																<div class="result_c_info">
																		<div class="r_flag">
																				<div class="flag_img">
																						<img src="https://qureskincaredns.com/assets/images/common/america_f.png" alt="" class="img-fluid">
																				</div>
																				<p class="r_c_name pe-2">Stephany</p>
																		</div>
																		<div class="star_gp">
																				<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/star-full.svg" alt="">
																				<p>Less irritation</p>
																		</div>
																		<div class="reviewed">
																				<p>Reviewed in United States</p>
																		</div>
																		<div class="verified_img">
																				<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/verified.svg" alt="">
																				<p>Verified customer</p>
																		</div>
																</div>
																<div class="result_item_info">
																		<div class="result_content">
																				<p>“A friend told me about the nasties in water and how much it can be
																						affect our skin. I did some research and decided to invest into a filter
																						since I used water everyday to clean my face. I’m so glad I tried Qure
																						water filter because just after a week I’ve seen my redness go down and
																						my skin look a less irritated and smoother. I’ll definitely be refiling
																						and continue to use this daily!”</p>
																		</div>
																</div>
														</div>
												</div>
										</div>
										<div class="swiper-pagination"></div>
								</div>
						</div>
				</div>
		</div>
		<!-- -- result section end -- -->

		<!-- -- technology light start -- -->
		<div class="technology_light section">
				<div class="container">
						<div class="section_header text-start p-0 d-block d-md-none">
								<h2 class="title-lg paddingB">It’s time to look toward your faucet, not your ingredients
										list. </h2>
								<p>Research has confirmed that water hardness is a major contributor to <a
												href="https://www.sciencedirect.com/science/article/pii/S0022202X1732938X">skin barrier
												impairment,</a> including worsened atopic <a
												href="https://pubmed.ncbi.nlm.nih.gov/33259122/">eczema</a> and <a
												href="https://pubmed.ncbi.nlm.nih.gov/27241890/">atopic dermatitis</a>. And not just from
										the well-known culprit chlorine – but also calcium and magnesium. </p>
						</div>
						<div class="row align-items-end">
								<div class="col-12 col-md-6 order-2 order-md-1">
										<div class="section_header text-start p-0 d-none d-md-block">
												<h2 class="title-lg paddingB">It’s time to look toward your faucet, not your ingredients
														list. </h2>
												<p>Research has confirmed that water hardness is a major contributor to <a
																href="https://www.sciencedirect.com/science/article/pii/S0022202X1732938X">skin
																barrier
																impairment,</a> including worsened atopic <a
																href="https://pubmed.ncbi.nlm.nih.gov/33259122/">eczema</a> and <a
																href="https://pubmed.ncbi.nlm.nih.gov/27241890/">atopic dermatitis</a>. And not just
														from
														the well-known culprit chlorine – but also calcium and magnesium. </p>
										</div>
										<div class="accordion accordion-flush mt-3 mt-md-5" id="accordionTechnology">
												<div class="accordion-item u_item_question bg-grey">
														<h2 class="accordion-header u_item_expandable bg-grey">
																<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
																		data-bs-target="#t_item_accordion_1" aria-expanded="false"
																		aria-controls="t_item_accordion_1">
																		<div class="containers">Chlorine</div>
																</button>
														</h2>
														<div id="t_item_accordion_1" class="accordion-collapse collapse"
																data-bs-parent="#accordionTechnology">
																<div class="accordion-body">
																		<div class="containers">
																				<p>Traditionally added to kill bacteria. Chlorine can deplete the skin of
																						the natural oils that hold moisture in, leading to dry and itchy skin.
																				</p>
																		</div>
																</div>
														</div>
												</div>
												<div class="accordion-item u_item_question bg-grey">
														<h2 class="accordion-header u_item_expandable bg-grey">
																<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
																		data-bs-target="#t_item_accordion_2" aria-expanded="false"
																		aria-controls="t_item_accordion_2">
																		<div class="containers">Calcium</div>
																</button>
														</h2>
														<div id="t_item_accordion_2" class="accordion-collapse collapse"
																data-bs-parent="#accordionTechnology">
																<div class="accordion-body">
																		<div class="containers">
																				<p>Calcium can irritate the skin, causing dry, scaly, pinkish patches. It
																						can also clog pores, which can lead to blackheads, blemishes, and/or
																						rosacea. </p>
																		</div>
																</div>
														</div>
												</div>
												<div class="accordion-item u_item_question bg-grey">
														<h2 class="accordion-header u_item_expandable bg-grey">
																<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
																		data-bs-target="#t_item_accordion_3" aria-expanded="false"
																		aria-controls="t_item_accordion_3">
																		<div class="containers">Magnesium</div>
																</button>
														</h2>
														<div id="t_item_accordion_3" class="accordion-collapse collapse"
																data-bs-parent="#accordionTechnology">
																<div class="accordion-body">
																		<div class="containers">
																				<p>Magnesium can result in the formation of free radicals which damage
																						healthy skin cells and break down collagen, resulting in fine lines and
																						wrinkles.</p>
																		</div>
																</div>
														</div>
												</div>
										</div>
								</div>
								<div class="col-12 col-md-6 order-1 order-md-2">
										<div class="swiper ingredients_slider">
												<div class="swiper-wrapper">
														<div class="swiper-slide">
																<div class="ingredients_item">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/micro-organism.svg" alt="">
																		<p>Micro Organisms</p>
																</div>
														</div>
														<div class="swiper-slide">
																<div class="ingredients_item">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/chlorine.svg" alt="">
																		<p>Chlorine</p>
																</div>
														</div>
														<div class="swiper-slide">
																<div class="ingredients_item">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/micro-plastics.svg" alt="">
																		<p>Micro Plastics</p>
																</div>
														</div>
														<div class="swiper-slide">
																<div class="ingredients_item">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/magnesium.svg" alt="">
																		<p>Magnesium</p>
																</div>
														</div>
														<div class="swiper-slide">
																<div class="ingredients_item">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/algae.svg" alt="">
																		<p>Algae</p>
																</div>
														</div>
														<div class="swiper-slide">
																<div class="ingredients_item">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/calcium.svg" alt="">
																		<p>Calcium</p>
																</div>
														</div>
														<div class="swiper-slide">
																<div class="ingredients_item">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/lead-particles.svg" alt="">
																		<p>Lead Particles</p>
																</div>
														</div>
														<div class="swiper-slide">
																<div class="ingredients_item">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/rust.svg" alt="">
																		<p>Rust</p>
																</div>
														</div>
														<div class="swiper-slide">
																<div class="ingredients_item">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/many-more.svg" alt="">
																		<p>And many more...</p>
																</div>
														</div>
												</div>
												<div class="swiper-pagination"></div>
										</div>
								</div>
						</div>
				</div>
		</div>
		<!-- -- technology light end -- -->

		<!-- -- skin hydration start -- -->
		<div class="skin_hydration section">
				<div class="container">
						<div class="skin_hydration_grid">
								<div class="skin_hydration_info">
										<div class="section_header text-start p-0">
												<h2 class="title-lg">Clinically proven to improve skin hydration in just 2 weeks
												</h2>
										</div>
										<div class="progress_grid">
												<div class="progressInfo">
														<div class="progressCont">
																<p><span class="progressWrapper">
																				<span class="progessInfo text-dark">90%</span>
																				<svg class="vMQQx" height="77" width="77" viewBox="-29 -29 58 58">
																						<defs>
																								<linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
																										<stop offset="0%" stop-color="#C7E7DC"></stop>
																										<stop offset="100%" stop-color="#C7E7DC"></stop>
																								</linearGradient>
																						</defs>
																						<circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
																								class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
																						<circle visibility="visible" fill="none" pathLength="100"
																								transform="rotate(-90)" class="OKwUu" r="24" stroke="url(#gradient)"
																								style="stroke-dasharray: 100; stroke-dashoffset: 9; stroke-width: 5px;">
																						</circle>
																				</svg>
																		</span>
																</p>
														</div>
														<p>
																participants wouldn't go back to tap water.

														</p>
												</div>
												<div class="progressInfo">
														<div class="progressCont">
																<p><span class="progressWrapper">
																				<span class="progessInfo text-dark">60%</span>
																				<svg class="vMQQx" height="77" width="77" viewBox="-29 -29 58 58">
																						<defs>
																								<linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
																										<stop offset="0%" stop-color="#C7E7DC"></stop>
																										<stop offset="100%" stop-color="#C7E7DC"></stop>
																								</linearGradient>
																						</defs>
																						<circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
																								class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
																						<circle visibility="visible" fill="none" pathLength="100"
																								transform="rotate(-90)" class="OKwUu" r="24" stroke="url(#gradient)"
																								style="stroke-dasharray: 70; stroke-dashoffset: 9; stroke-width: 5px;">
																						</circle>
																				</svg>
																		</span>
																</p>
														</div>
														<p>noticed their skin was more radiant and clearer.
														</p>
												</div>
												<div class="progressInfo">
														<div class="progressCont">
																<p><span class="progressWrapper">
																				<span class="progessInfo text-dark">100%</span>
																				<svg class="vMQQx" height="77" width="77" viewBox="-29 -29 58 58">
																						<defs>
																								<linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
																										<stop offset="0%" stop-color="#C7E7DC"></stop>
																										<stop offset="100%" stop-color="#C7E7DC"></stop>
																								</linearGradient>
																						</defs>
																						<circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
																								class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
																						<circle visibility="visible" fill="none" pathLength="100"
																								transform="rotate(-90)" class="OKwUu" r="24" stroke="url(#gradient)"
																								style="stroke-dasharray: 110; stroke-dashoffset: 9; stroke-width: 5px;">
																						</circle>
																				</svg>
																		</span>
																</p>
														</div>
														<p>say the filter was easy to fit into their skincare routine.
														</p>
												</div>
										</div>
										<div class="d-none d-md-block">
												<p>The object of this test was to define the influence of the tested product on the
														<strong>level of
																skin hydration</strong> and <strong>appearance of wrinkles.</strong> Test subjects
														range
														in age between 25-65 with
														normal and sensitive skin. <br>Study conducted by Regulatory Consultants. 
												</p>
										</div>
										<div class="d-block d-md-none">
												<p>The object of this test was to define the influence of the tested product on the
														<strong>level of
																skin hydration</strong> and <strong>appearance of wrinkles.</strong>
												</p>
												<p> Test subjects
														range
														in age between 25-65 with
														normal and sensitive skin. </p>
												<p>Study conducted by Regulatory Consultants. </p>
												</p>
										</div>
								</div>
								<div class="skin_hydration_img">
										<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/imageText/skin_hydration.webp" alt="" class="img-fluid">
								</div>
						</div>
				</div>

		</div>
		<!-- -- skin hydration end -- -->


		<!-- -- trusted section start -- -->
		<div class="trusted_bl trusted_bl_with_pagintion pb-3 pb-md-5">
				<div class="trusted_cl">
						<div class="container">
								<div class="section_header d-block d-lg-none">
										<h2 class="title-lg text-start">
												Recommended and trusted by leading Dermatologists
										</h2>
								</div>
								<div class="row">
										<div class="col-lg-6 order-2 order-lg-1">
												<div class="trusted_left">
														<div class="section_header d-none d-lg-block">
																<h2 class="title-lg">
																		Recommended and trusted by leading Dermatologists
																</h2>
														</div>
														<div class="t_c_wrapper">
																<div class="t_c_info mb-3 d-flex">
																		<div class="c_img">
																				<img src="https://qureskincaredns.com/assets/images/trusted/cl_1.webp" alt="">
																		</div>
																		<div class="c_desc ps-2">
																				<p>"You wanna look for something that’s gonna [reduce] both <strong>calcium
																								carbonate</strong>
																						and chlorine from your water."
																				</p>
																				<h6><span>Dr Shah, MD</span>Board-Certified Dermatologist</h6>
																		</div>
																</div>
																<div class="t_c_info d-flex t_c_right ">
																		<div class="c_desc pe-2 text-end">
																				<p>“<strong>...if water is a contributing factor</strong> it may be the
																						easiest thing to help
																						fix that first.”
																				</p>
																				<h6><span>Dr Maxfield, MD</span>Board-Certified Dermatologist</h6>
																		</div>
																		<div class="c_img">
																				<img src="https://qureskincaredns.com/assets/images/trusted/cl_2.webp" alt="">
																		</div>
																</div>
														</div>

												</div>
										</div>
										<div class="col-lg-6 order-1 order-lg-2">
												<div class="trusted_cl_m mb-2 mb-md-0">
														<div class="trusted_tag">
																<div class="t_like_img pe-2">
																		<img src="https://qureskincaredns.com/assets/images/trusted/thumb.svg" alt="">
																</div>
																<p class="border-r pe-2">4.4K</p>
																<p class="px-2">48K views</p>
														</div>
														<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/trusted/trusted_main.webp" alt=""
																class="img-fluid t_m_img">
														<div class="play_btn">
																<a class="popup-youtube" href="https://www.youtube.com/watch?v=QuJ3puVLKzU">
																		<span>
																				<svg
																					xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
																					<path
																						d="M22.2918 0.391602C10.334 0.391602 0.59375 10.0735 0.59375 21.9596C0.59375 33.8457 10.334 43.5276 22.2918 43.5276C34.2496 43.5276 43.9898 33.8457 43.9898 21.9596C43.9898 10.0735 34.2496 0.391602 22.2918 0.391602ZM22.2918 4.7052C31.9043 4.7052 39.6502 12.4047 39.6502 21.9596C39.6502 31.5145 31.9043 39.214 22.2918 39.214C12.6793 39.214 4.93336 31.5145 4.93336 21.9596C4.93336 12.4047 12.6793 4.7052 22.2918 4.7052ZM17.9522 14.4866V29.4326L30.971 21.9596L17.9522 14.4866Z"
																						fill="white" />
																				</svg>
																				<h6>Click To Watch Review</h6>
																		</span>
																</a>
														</div>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
		<!-- -- trusted section end -- -->

		<!-- -- image with text start -- -->
		<div class="imageText hardwater section">
				<div class="container">
						<div class="section_header d-block d-md-none text-start">
								<h2 class="title-lg mb-4">Saves your skin from ‘hard water’ nasties.</h2>
								<p>We’re serious about the science of your skin. That’s why our advanced filtering technology helps
										filter skin contaminants and metal ions that make your tap water “hard” – like calcium,
										magnesium and chlorine. What you're left with is clean, purified water your skin drinks up,
										helping you kick dry,
										irritated, acne-prone to the curb (or shall we say – down the drain).</p>
						</div>
						<div class="row align-items-center">
								<div class="col-12 col-md-6">
										<div class="it_img pb-3 pb-md-0 pe-0 pe-md-5">
												<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/imageText/hardwater.webp" alt=""
														class="img-fluid d-none d-md-block">
												<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/imageText/hardwater-mob.webp" alt=""
														class="img-fluid d-block d-md-none">
										</div>
								</div>
								<div class="col-12 col-md-6">
										<div class="it_info p-0 pt-0 pt-md-3">
												<div class="header d-none d-md-block">
														<h2 class="title-lg mb-4">Saves your skin from ‘hard water’ nasties.</h2>
														<p>We’re serious about the science of your skin. That’s why our advanced filtering
																technology helps filter skin contaminants and metal ions that make your tap water
																“hard” – like calcium, magnesium and chlorine.</p>

														<p> What you're left with is clean, purified water your skin drinks up, helping you kick
																dry, irritated, acne-prone to the curb (or shall we say – down the drain). 
														</p>
												</div>
												<div class="tag_l_wrapper">
														<h4>Perfect for:</h4>
														<div class="tag_list_wrap">
																<div class="tag_list">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/tick_circle.svg" alt="">
																		<p>Acne prone</p>
																</div>
																<div class="tag_list">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/tick_circle.svg" alt="">
																		<p>Rosacea</p>
																</div>
																<div class="tag_list">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/tick_circle.svg" alt="">
																		<p>Dry skin</p>
																</div>
																<div class="tag_list">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/tick_circle.svg" alt="">
																		<p>Sensitive skin</p>
																</div>
														</div>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
		<!-- -- image with text end -- -->


		<!-- -- featured promotion start -- -->
		<div class="featured_promotion">
				<div class="container">
						<div class="fp-wrapper">
								<div class="fp_item">
										<div class="fp_icon">
												<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/free-shipping-ftr.svg" alt="">
										</div>
										<div class="fp_icon_text">
												<p>Free Shipping </p>
												<p>Orders Over <span class="money">$100</span></p>
										</div>
								</div>
								<div class="fp_item">
										<div class="fp_icon">
												<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/buy-now-ftr.svg" alt="">
										</div>
										<div class="fp_icon_text">
												<p>Buy Now,</p>
												<p>Pay Later</p>
										</div>
								</div>
								<div class="fp_item">
										<div class="fp_icon">
												<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/derma-ftr.svg" alt="">
										</div>
										<div class="fp_icon_text d-none d-md-block">
												<p>Dermatologist Tested </p>
												<p>&amp; Approved</p>
										</div>
										<div class="fp_icon_text d-block d-md-none">
												<p>Dermatologist</p>
												<p>Reviewed &amp; Approved</p>
										</div>
								</div>
								<div class="fp_item">
										<div class="fp_icon">
												<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/science-ftr.svg" alt="">
										</div>
										<div class="fp_icon_text">
												<p>Proven Results, </p>
												<p>Backed by science</p>
										</div>
								</div>

						</div>
				</div>
		</div>
		<!-- -- featured promotion end -- -->


		<!-- -- beauty clinical start -- -->
		<div class="beauty_skincare section bg-white beauty_ftrs_center">
				<link rel="stylesheet" href="https://qureskincaredns.com/assets/css/_sunil_component-beautySkincare.css">
				<div class="container">
						<div class="section_header text-start text-md-center ms-0 m-md-auto mw-765 mb-3">
								<h2 class="title-lg paddingB">
										More effective and safer than other filters
								</h2>
								<p>Other filtration systems focus on just chlorine removal, but calcium and magnesium are the true
										skin-barrier disruptors. With the Q-urify Water Filter, you get the best science-backed,
										dermatologist-approved solution to filtered water at home for better skin.. </p>
						</div>
						<div class="bs_grid">
								<div class="bs_item">
										<div class="bs_img">
												<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/beauty_clinical/more_e_1.webp" alt=""
														class="img-fluid beauty_img">
										</div>
										<div class="bs_content">
												<h4 class="d-none d-md-block">Q-urify Water Filter </h4>
												<h4 class="d-block d-md-none">Q-urify Water <br> Filter </h4>
										</div>
										<div class="bs_feature correctCircle">
												<ul>
														<li>Reduces chlorine </li>
														<li>Reduces calcium</li>
														<li>Reduces magnesium</li>
												</ul>
										</div>
								</div>
								<div class="bs_vs_item">
										<div class="bs_versace">
												<span>vs</span>
										</div>
								</div>
								<div class="bs_item">
										<div class="bs_img">
												<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/beauty_clinical/more_e_2.webp" alt=""
														class="img-fluid">
										</div>
										<div class="bs_content">
												<h4 class="d-none d-md-block">Alternative Filters</h4>
												<h4 class="d-block d-md-none">Alternative <br>Filters</h4>
										</div>
										<div class="bs_feature incorrectCircle">
												<ul>
														<li class="correct">Reduces chlorine </li>
														<li>Reduces calcium</li>
														<li>Reduces magnesium</li>
												</ul>
										</div>
								</div>
						</div>
				</div>
		</div>
		<!-- -- beauty clinical start -- -->


		<!-- -- how to use start -- -->
		<div class="see_it 1 section bg_yellow" id="see_it_section">
				<div class="container">
						<div class="row">
								<div class="section_header d-block text-start d-md-none mb-4">
										<h2 class="title-lg paddingB">
												How to install
										</h2>
										<p>You change the filter cartridge for the water you drink frequently, so change the one for
												your skin too. Easy replacement as 1-2-3.</p>
								</div>
						</div>
						<div class="video_with_slide">
								<div class="actVideo_block">
										<div class="ctmVideo__block">
												<div class="player">

														<div class="wistia_responsive_padding" style="padding:177.78% 0 0 0;position:relative;">
																<div class="wistia_responsive_wrapper"
																		style="height:100%;left:0;position:absolute;top:0;width:100%;">
																		<div class="wistia_embed wistia_async_qi96cehl7z seo=false videoFoam=true"
																				style="height:100%;position:relative;width:100%">
																				<div class="wistia_swatch"
																						style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
																						<img src="https://fast.wistia.com/embed/medias/qi96cehl7z/swatch"
																								style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
																								alt="" aria-hidden="true"
																								onload="this.parentNode.style.opacity=1;" />
																				</div>
																		</div>
																</div>
														</div>
												</div>
										</div>
								</div>

								<div class="vidSlideBox">
										<div class="section_header ms-0 p-0 d-none d-md-block mb-3">
												<h2 class="title-lg paddingB">
														How to install
												</h2>
										</div>
										<div class="see_slider_wrapper">
												<div class="swiper see_slider see_slider3 step_slider">
														<div class="swiper-wrapper">
																<div class="swiper-slide">
																		<div class="see_item">
																				<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/see_it/use_s_1.webp" alt="">
																				<div class="see_item_info">
																						<h5>STEP 1:</h5>
																						<p>Remove faucet aerator. Simply attach and twist it off using the key
																								for removal.</p>
																				</div>
																		</div>
																</div>
																<div class="swiper-slide">
																		<div class="see_item">
																				<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/see_it/use_s_2.webp" alt="">
																				<div class="see_item_info">
																						<h5>STEP 2:</h5>
																						<p>Find the faucet thread accessory which best fits your faucet by size
																								from the 7 provided. If none of the faucet thread accessories fit,
																								then use the Universal Joint. </p>
																				</div>
																		</div>
																</div>
																<div class="swiper-slide">
																		<div class="see_item">
																				<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/see_it/use_s_3.webp" alt="">
																				<div class="see_item_info">
																						<h5>STEP 3:</h5>
																						<p>Find the silicone ring that best fits and place it inside the faucet
																								thread accessory.
																						</p>
																				</div>
																		</div>
																</div>
																<div class="swiper-slide">
																		<div class="see_item">
																				<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/see_it/use_s_4.webp" alt="">
																				<div class="see_item_info">
																						<h5>STEP 4:</h5>
																						<p>Detach the mounting nut from the Q-urify Water Filter. Put the faucet
																								thread accessory (with the silicone ring inside) through the
																								mounting nut and secure it onto your faucet. </p>
																				</div>
																		</div>
																</div>
																<div class="swiper-slide">
																		<div class="see_item">
																				<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/see_it/use_s_5.webp" alt="">
																				<div class="see_item_info">
																						<h5>STEP 5:</h5>
																						<p>Once tightened, secure the Q-urify Water Filter to the mounting nut. 
																						</p>
																				</div>
																		</div>
																</div>
																<div class="swiper-slide">
																		<div class="see_item">
																				<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/see_it/use_s_6.webp" alt="">
																				<div class="see_item_info">
																						<h5>STEP 6:</h5>
																						<p>For filtered water, turn to “PUR” (short for purify). Turn to “TAP”
																								if you prefer unfiltered water.
																								Enjoy healthier, clearer skin!</p>
																				</div>
																		</div>
																</div>
														</div>
														<div class="swiper-pagination position-relative"></div>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
		<!-- -- how to use end -- -->


		<!-- -- image with text start -- -->
		<div class="chest_pdp_ftr section">
				<div class="container">
						<div class="section_header mb-3 text-center">
								<h2 class="title-lg">All you need is included</h2>
						</div>
						<div class="row align-item-center">
								<div class="col-12 col-md-6">
										<div class="it_img pb-3 pb-md-0 pe-0 pe-md-5 mw-mob-100">
												<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/uses/need.webp" alt="" class="img-fluid">
										</div>
								</div>
								<div class="col-12 col-md-6">
										<div class="cp_ftr_wrapper p-0">
												<div class="cp_item">
														<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/filter-device.svg" alt="">
														<p>Water Filter Device with 3 month filter inside </p>
												</div>
												<div class="cp_item">
														<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/faucet.svg" alt="">
														<p>Different attachments included to match your faucet</p>
												</div>
												<div class="cp_item">
														<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/user-manual.svg" alt="">
														<p>Step by step user manual </p>
												</div>
												<div class="cp_item">
														<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/svg/all-in-one.svg" alt="">
														<p>All-In-One tool for installing</p>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
		<!-- -- image with text end -- -->


		<!-- -- faq start -- -->
		<div class="faq py-75 bg_yellow" id="faq_section">
				<div class="container">
						<div class="section_header text-center mb-3">
								<h2 class="title-lg">
										The answers to your questions
								</h2>
						</div>
						<div class="accordion" id="accordionExample">
								<div class="accordion-item">
										<h2 class="accordion-header">
												<button class="accordion-button" type="button" data-bs-toggle="collapse"
														data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
														<div class="container">How does tap water harm my skin?
														</div>
												</button>

										</h2>
										<div id="collapseOne" class="accordion-collapse collapse show"
												data-bs-parent="#accordionExample">
												<div class="accordion-body">
														<div class="container">
																<p>Facial skin is more sensitive than your skin anywhere else. Your skin barrier is
																		like a protective shield against outside threats. But the stuff in tap water can
																		harm it, leading to:</p>
																<ul>
																		<li>Dry and Damaged Skin: Tap water can strip away your skin's natural oils,
																				leaving it dry and damaged.</li>
																		<li>Skin Irritation: It might also cause skin irritation, making it sensitive
																				and red.</li>
																		<li>Premature Aging: The chemicals in tap water can even speed up the aging
																				process, causing wrinkles and fine lines.</li>
																</ul>
														</div>
												</div>
										</div>
								</div>
								<div class="accordion-item">
										<h2 class="accordion-header">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
														data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
														<div class="container">What does it filter in the water?
														</div>
												</button>
										</h2>
										<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
												<div class="accordion-body">
														<div class="container">
																<p>Q-urify water filter uses both physical and chemical filtration components to
																		help remove known as skin irritants that make your tap water “hard” – like
																		calcium, magnesium and chlorine.
																</p>
														</div>
												</div>
										</div>
								</div>
								<div class="accordion-item">
										<h2 class="accordion-header">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
														data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
														<div class="container">Will it fit my faucet?
														</div>
												</button>
										</h2>
										<div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
												<div class="accordion-body">
														<div class="container">
																<p>It’s compatible with almost every circular removable aerator! Each
																		Q-urify Water Filter kit comes with 8 adaptors to help fit different
																		faucet sizes. Please note that it will NOT fit faucets that are
																		square shaped, pull out, hand-held, spray-style, or faucets with a
																		sensor.
																</p>
																<div class="faq_img_wrap">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/faq/1.webp" alt="" class="img-fluid">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/faq/2.webp" alt="" class="img-fluid">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/faq/3.webp" alt="" class="img-fluid">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/faq/4.webp" alt="" class="img-fluid">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/faq/5.webp" alt="" class="img-fluid">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/faq/6.webp" alt="" class="img-fluid">
																		<img src="https://qureskincaredns.com/_sunil_q-urify/assets/images/faq/7.webp" alt="" class="img-fluid">
																</div>
														</div>
												</div>
										</div>
								</div>
								<div class="accordion-item">
										<h2 class="accordion-header">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
														data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
														<div class="container">What skin types can benefit from Q-urify Water Filter?
														</div>
												</button>
										</h2>
										<div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
												<div class="accordion-body">
														<div class="container">
																<p>Every skin type! Especially helpful for anyone experiencing sensitive skin,
																		premature aging, dry skin, and acne. 
																</p>
														</div>
												</div>
										</div>
								</div>
								<div class="accordion-item">
										<h2 class="accordion-header">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
														data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
														<div class="container">How often do I need to replace my filter?</div>
												</button>
										</h2>
										<div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
												<div class="accordion-body">
														<div class="container">
																<p>With daily use, your Q-urify water filter needs to be replaced at least once
																		every three months for your skin to look and feel its best. Once it gets past
																		the 3 month mark, your filter starts to lose its efficacy. We wash our face
																		everyday so make sure you are looking after your skin.
																</p>
														</div>
												</div>
										</div>
								</div>
								<div class="accordion-item">
										<h2 class="accordion-header">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
														data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
														<div class="container">Where can I buy replacement filters?
														</div>
												</button>
										</h2>
										<div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
												<div class="accordion-body">
														<div class="container">
																<p>Replacement filters can be purchased on our site for 3 months of pure water. We
																		also offer subscription plans for your convenience and ease.
																</p>
														</div>
												</div>
										</div>
								</div>
								<div class="accordion-item">
										<h2 class="accordion-header">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
														data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
														<div class="container">Can I turn OFF the filtered water? 
														</div>
												</button>
										</h2>
										<div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
												<div class="accordion-body">
														<div class="container">
																<p>Yes! The Q-urify Water Filter has the option of switching off filtered water. You
																		can turn on and on the purified water by switching to this option on the right
																		side. </p>
														</div>
												</div>
										</div>
								</div>
								<div class="accordion-item">
										<h2 class="accordion-header">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
														data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
														<div class="container">What’s the difference between ‘hard water’ and ‘soft water’?
														</div>
												</button>
										</h2>
										<div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
												<div class="accordion-body">
														<div class="container">
																<p>Hard water is water that contains a high quantity of dissolved minerals (like
																		calcium and magnesium). Where soft water has been treated, so that the only ion
																		remaining is sodium. When rainwater falls, it is naturally soft. </p>
																<p>However, as water makes its way through the ground and into our waterways, it
																		picks up minerals like chalk, lime, calcium and magnesium and becomes hard
																		water. Hard water is to blame for dishes with spots, dingy looking clothes, and
																		residue and soap scums in bathrooms. Soap and cleansers are also less effective
																		with hard water due to its reaction to the magnesium and calcium, which makes
																		the lather not as rich and bubbly and leaves hair feeling sticky and dull.</p>
														</div>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
		<!-- --faq end -- -->

		{% comment %} social media proof on PDP  {% endcomment %}
		{% include 'product-social-proof-data' %}

		<!-- -- newsletter start -- -->
		<div class="newsletter_bl section">
				<div class="container">
						<div class="row">
								<div class="col-12 col-md-6 col-lg-4 offset-lg-2 mx-auto">
										<h2>Get the latest from Qure</h2>
										<div class="newsletter_form">
												<form action="#" method="post">
														<div class="form-input-item">
																<label for="action-search" class="sr-only">Search</label>
																<input type="text" id="action-search" placeholder="Your Email">
																<button class="form-btn"><img src="https://qureskincaredns.com/assets/images/newsletter/path.svg"
																				alt=""></button>
														</div>
												</form>
										</div>
								</div>
								<div class="col-12 col-md-6 col-lg-2 offset-lg-4 mx-auto pt-4 pt-md-0">
										<h2 class="followUs">Follow Us</h2>
										<div class="social_icons">
												<a href="https://www.instagram.com/qureskincare/" target="_blank"><img
																src="https://qureskincaredns.com/assets/images/newsletter/instagram.svg" alt=""></a>
												<a href="https://www.tiktok.com/@qureskincare" target="_blank"><img
																src="https://qureskincaredns.com/assets/images/newsletter/tiktok.svg" alt=""></a>
												<a href="https://www.facebook.com/Qureskincare/" target="_blank"> <img
																src="https://qureskincaredns.com/assets/images/newsletter/facebook.svg" alt=""></a>
												<a href="https://youtube.com/channel/UCGTi3BZn8GVlu30NtQ-reYA" target="_blank"><img
																src="https://qureskincaredns.com/assets/images/newsletter/youtube.svg" alt=""></a>
										</div>
								</div>
						</div>
				</div>
		</div>
		<!-- -- newsletter end -- -->
</main>